@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
.inner {
  width: 1240px;
  margin: auto;
}

.h100 {
  position: relative;
  height: 100vh;
}

.scroll-inner {
  overflow: auto;
}
.scroll-inner::-webkit-scrollbar {
  width: 20px;
  border: 1px solid #cbcbcb;
}
.scroll-inner::-webkit-scrollbar-thumb {
  border: 1px solid #cbcbcb;
  border-bottom: 0;
  border-top: 0;
  background-color: #ececec;
}
.scroll-inner::-webkit-scrollbar-button:start:decrement, .scroll-inner::-webkit-scrollbar-button:end:increment {
  display: block;
  height: 1px;
}

.header {
  position: relative;
}
.header::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 100%;
  background-color: #f9f9f9;
}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  display: block;
  width: 161px;
  height: 31px;
  background: url(../../images/common/logo.png) no-repeat;
}
.header .nav, .header .left-wrap {
  display: flex;
  align-items: center;
}
.header .nav {
  margin-left: 50px;
}
.header .nav-list {
  position: relative;
}
.header .nav-item {
  display: block;
  padding: 24px 30px 25px;
  font-size: 18px;
  font-weight: 500;
}
.header .nav-item:hover, .header .nav-item.active {
  color: #108eff;
}
.header .depth2-wrap {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  z-index: 1;
}
.header .depth2-wrap.on {
  display: block;
}
.header .depth2 {
  position: relative;
  display: flex;
  align-items: center;
}
.header .depth2-list:nth-child(1) .depth2-item {
  padding-left: 30px;
}
.header .depth2-item {
  display: block;
  padding: 15px 13px 14px;
  color: #9e9e9e;
  font-weight: 500;
}
.header .depth2-item:hover, .header .depth2-item.active {
  color: #333;
}

.admin-login .header {
  border-bottom: 1px solid #dddddd;
}
.admin-login .header::after {
  display: none;
}
.admin-login .header .logo {
  height: 80px;
  background-size: 161px 31px;
  background-position: center;
}

.login-cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.login-cnt .login-tit {
  margin-bottom: 55px;
  font-size: 34px;
  font-weight: 500;
}
.login-cnt .form-wrap {
  width: 384px;
  padding-bottom: 30px;
  margin: 0 auto 30px;
  border-bottom: 1px solid #e8e8e8;
}
.login-cnt .id-input, .login-cnt .pw-input, .login-cnt .btn-login {
  width: 100%;
  height: 55px;
  border-radius: 8px;
}
.login-cnt .id-wrap, .login-cnt .pw-wrap {
  position: relative;
}
.login-cnt .pw-wrap {
  margin-top: 10px;
}
.login-cnt .id-input, .login-cnt .pw-input {
  padding: 20px 50px 20px 20px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  outline: 0;
  box-sizing: border-box;
}
.login-cnt .id-input:focus, .login-cnt .pw-input:focus {
  border-color: #108eff;
}
.login-cnt .id-input::placeholder, .login-cnt .pw-input::placeholder {
  color: #a4a4a4;
}
.login-cnt .id-input:focus + label {
  background: url(../../images/common/ico_person_on.png) no-repeat;
}
.login-cnt .pw-input:focus + label {
  background: url(../../images/common/ico_lock_on.png) no-repeat;
}
.login-cnt .id-label, .login-cnt .pw-label {
  position: absolute;
}
.login-cnt .id-label {
  top: 17px;
  right: 21px;
  width: 19px;
  height: 22px;
  background: url(../../images/common/ico_person.png) no-repeat;
}
.login-cnt .pw-label {
  top: 15px;
  right: 18px;
  width: 22px;
  height: 28px;
  background: url(../../images/common/ico_lock.png) no-repeat;
}
.login-cnt .btn-login {
  color: #fff;
  font-size: 18px;
  background-color: #108eff;
}
.login-cnt .chk-wrap {
  margin: 24px 0 20px;
  text-align: left;
}
.login-cnt .id-save + label {
  padding-left: 34px;
  font-weight: 500;
}
.login-cnt .id-save + label::before {
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background: url(../../images/common/ico_check.png) no-repeat center;
}
.login-cnt .id-save:checked + label::before {
  background: url(../../images/common/ico_check_on.png) no-repeat center;
}
.login-cnt .desc {
  color: #909090;
  font-size: 15px;
}

.admin01 .justify-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.admin01 .scroll-inner {
  height: 100%;
}
.admin01 .scroll-inner::-webkit-scrollbar {
  border-top: 0;
  border-bottom: 0;
}
.admin01 .scroll-inner::-webkit-scrollbar-button:start:decrement, .admin01 .scroll-inner::-webkit-scrollbar-button:end:increment {
  height: 0;
}
.admin01 .bold {
  font-weight: 700;
}
.admin01 .class-list-wrap {
  width: 300px;
}
.admin01 .class-list-wrap .tab-menu-type01 li a {
  width: 100px;
}
.admin01 .class-list-wrap .contents, .admin01 .class-list-wrap .content {
  overflow: hidden;
  height: 750px;
  border: 1px solid #cbcbcb;
  border-top: 0;
}
.admin01 .class-list-wrap .contents .scroll-inner::-webkit-scrollbar, .admin01 .class-list-wrap .content .scroll-inner::-webkit-scrollbar {
  border-right: 0;
}
.admin01 .class-list-wrap .contents .scroll-inner::-webkit-scrollbar-thumb, .admin01 .class-list-wrap .content .scroll-inner::-webkit-scrollbar-thumb {
  border-right: 0;
}
.admin01 .class-list-wrap .class-item {
  display: flex;
  padding: 12px 22px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  user-select: none;
}
.admin01 .class-list-wrap .class-item .arrow {
  position: relative;
  top: 4px;
  display: inline-block;
  margin-right: 9px;
  font-size: 9px;
}
.admin01 .class-list-wrap .chk-item .arrow {
  top: -2px;
}
.admin01 .class-list-wrap .class-area {
  display: none;
}
.admin01 .class-list-wrap .depth1-area {
  display: block;
}
.admin01 .class-list-wrap .depth2-area .class-item {
  padding-left: 32px;
}
.admin01 .class-list-wrap .depth3-area .class-item {
  padding-left: 42px;
}
.admin01 .class-list-wrap .depth4-area .class-item {
  padding-left: 52px;
}
.admin01 .class-list-wrap .depth5-area .class-item {
  padding-left: 62px;
}
.admin01 .class-list-wrap .depth6-area .class-item {
  padding-left: 72px;
}
.admin01 .class-list-wrap .depth7-area .class-item {
  padding-left: 92px;
}
.admin01 .class-list-wrap .last-area .active {
  background-color: #f6f6f6;
}
.admin01 .que-content-wrap {
  width: 100%;
  border: 1px solid #cbcbcb;
  border-left: 0;
}
.admin01 .que-content-wrap .search-wrap {
  display: flex;
  align-items: center;
  padding: 7px 13px 7px 21px;
  border-bottom: 1px solid #cbcbcb;
  background-color: #f1f1f1;
}
.admin01 .que-content-wrap .search-tit {
  flex: none;
  margin-right: 18px;
  font-weight: 500;
}
.admin01 .que-content-wrap .form-wrap {
  display: flex;
  gap: 10px;
}
.admin01 .que-content-wrap .form-wrap .select-btn {
  height: 34px;
}
.admin01 .que-content-wrap .input-text {
  width: 210px;
  height: 34px;
}
.admin01 .que-content {
  height: 749px;
}
.admin01 .init-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.admin01 .que-list-wrap {
  flex: none;
  width: 537px;
  height: 100%;
}
.admin01 .que-list-wrap .scroll-inner {
  padding: 18px 20px;
}
.admin01 .que-list-wrap .que-list {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.admin01 .que-list-wrap .que-item {
  position: relative;
  padding: 10px 10px 50px 10px;
  border: 1px solid #cbcbcb;
}
.admin01 .que-list-wrap .que-tit {
  display: block;
  padding-left: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.admin01 .que-list-wrap .que-label {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 7px 19px;
  font-size: 12px;
}
.admin01 .que-list-wrap .complete {
  background-color: #f0f4f8;
}
.admin01 .que-list-wrap .necessity {
  background-color: #ffeaee;
}
.admin01 .que-info-wrap {
  width: 100%;
  padding: 20px;
}
.admin01 .que-info-wrap .que-table-tit {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}
.admin01 .que-info-wrap .table-wrap {
  margin-bottom: 15px;
}
.admin01 .que-info-wrap table td {
  height: 42px;
  padding: 9px 12px;
}
.admin01 .que-info-wrap .select-btn {
  display: inline-block;
  max-width: 190px;
  width: auto;
  padding: 0 16px 0 8px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(ellipsis.xml#ellipsis);
  border: 0;
}
.admin01 .que-info-wrap .select-btn::after {
  right: 0;
}
.admin01 .que-class-wrap {
  width: 100%;
  height: 755px;
  border: 1px solid #cbcbcb;
  border-left: 0;
}
.admin01 .que-class-wrap .scroll-inner {
  padding: 12px;
}
.admin01 .que-class-wrap .scroll-inner::-webkit-scrollbar {
  border-right: 0;
}
.admin01 .que-class-wrap .scroll-inner::-webkit-scrollbar-thumb {
  border-right: 0;
}
.admin01 .que-class-wrap .arrow {
  font-size: 12px;
}
.admin01 .que-class-wrap .que-class-cnt {
  display: none;
}
.admin01 .que-class-wrap .que-class-area {
  border: 1px solid #cbcbcb;
  border-bottom: 0;
}
.admin01 .que-class-wrap .que-class-tit {
  font-weight: 500;
}
.admin01 .que-class-wrap .que-class-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 18px;
  border-bottom: 1px solid #cbcbcb;
  background-color: #f6f6f6;
}
.admin01 .que-class-wrap .class-item-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 27px;
  border-bottom: 1px solid #cbcbcb;
}
.admin01 .que-class-wrap .class-item-txt {
  font-size: 15px;
}
.admin01 .que-class-wrap .class-item-txt .class {
  font-weight: 500;
}
.admin01 .que-class-wrap .que-class-add {
  padding: 8px 20px 8px 38px;
  border-bottom: 1px solid #cbcbcb;
}
.admin01 .que-class-wrap .add-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-size: 14px;
}
.admin01 .que-class-wrap .add-item-txt {
  color: #108eff;
}
.admin01 .que-class-wrap .add-item-del {
  color: #9e9ea3;
}
.admin01 .pop-content {
  margin-top: 20px;
}
.admin01 .pop-cnt-tit {
  margin-bottom: 20px;
}
.admin01 .top-wrap {
  height: 48px;
  padding: 13px 20px;
}
.admin01 .step-cnt table td {
  padding: 6px 12px;
  font-size: 15px;
}
.admin01 .step-cnt table .font-c {
  color: #108eff;
}
.admin01 .step-cnt table .arrow {
  position: relative;
  top: -2px;
  font-size: 10px;
}
.admin01 .test-add-step01 .btn-wrap {
  position: static;
  margin: 20px 0;
}
.admin01 .test-add-step01 .contents {
  height: 840px;
}
.admin01 .test-add-step01 .que-content-wrap {
  position: relative;
  height: 890px;
}
.admin01 .test-add-step01 .que-content-wrap .scroll-inner::-webkit-scrollbar {
  border-right: 0;
}
.admin01 .test-add-step01 .que-content-wrap .scroll-inner::-webkit-scrollbar-thumb {
  border-right: 0;
}
.admin01 .test-add-step01 .que-content {
  height: auto;
}
.admin01 .test-add-step01 .init-view {
  height: 760px;
}
.admin01 .test-add-step01 .que-list-wrap {
  width: 100%;
  height: auto;
  padding: 0 20px;
}
.admin01 .test-add-step01 .que-list {
  margin-top: 35px;
}
.admin01 .test-add-step01 .que-list:first-child {
  margin-top: 0;
}
.admin01 .test-add-step01 .que-item {
  width: 100%;
}
.admin01 .test-add-step01 .table-wrap {
  padding: 0 20px;
}
.admin01 .test-add-step02 .que-list-wrap {
  width: 900px;
  height: 890px;
  border: 1px solid #cbcbcb;
  border-right: 0;
}
.admin01 .test-add-step02 .que-list-wrap .scroll-inner::-webkit-scrollbar {
  border-right: 0;
}
.admin01 .test-add-step02 .que-list-wrap .scroll-inner::-webkit-scrollbar-thumb {
  border-right: 0;
}
.admin01 .test-add-step02 .que-info-wrap {
  position: relative;
  width: calc(100% - 900px);
  height: 890px;
  border: 1px solid #cbcbcb;
}
.admin01 .test-add-step02 .que-list {
  margin-top: 60px;
}
.admin01 .test-add-step02 .que-list:first-child {
  margin-top: 30px;
}
.admin01 .test-add-step02 .que-item {
  width: 100%;
  padding: 0;
  border: 0;
}
.admin01 .test-add-step02 .que-tit {
  margin-bottom: 26px;
  padding-left: 0;
}
.admin01 .test-add-step02 .select-btn {
  font-size: 16px;
}
.admin01 .test-add-step02 .btn-wrap {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
}
.admin01 .test-add-step02 .table-wrap {
  margin-top: 13px;
}

.admin01-02 .contents {
  margin-top: 10px;
}
.admin01-02 .class-list-wrap .content {
  height: 705px;
}

.container .inner {
  margin: 77px auto 0;
}