@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
.report-list-wrap {
  margin: 50px 0 100px;
}
.report-list-wrap .table-wrap {
  margin-top: 20px;
}
.report-list-wrap .tbl-report .col.none-data span {
  width: 100%;
  height: 520px;
}
.report-list-wrap .tbl-report .col span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}
.report-list-wrap .tbl-report .col span.tit {
  justify-content: flex-start;
  padding: 15px 20px;
}
.report-list-wrap .tbl-report .col span.column {
  flex-direction: column;
}
.report-list-wrap .tbl-report .col span .font-b {
  color: #108eff;
  font-size: 14px;
}
.report-list-wrap .tbl-report .col .badge-color {
  margin-right: 15px;
}

.report-list-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-list-search {
  display: flex;
  gap: 10px;
}

.report-tbl-sort {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  background: url(../../images/common/ico_sort.png) no-repeat;
}

.report-tool-tip {
  display: none;
  position: absolute;
  right: 0;
  top: 56px;
  padding: 8px 37px;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1;
}
.report-tool-tip .tool-tip-txt {
  font-size: 14px;
}

.report-btn:hover + .report-tool-tip {
  display: block;
}

.report-view-wrap {
  margin-bottom: 100px;
}
.report-view-wrap .table-wrap.type01 th {
  padding: 9px 10px;
}
.report-view-wrap .table-wrap.type01 th:last-child {
  border-right: 0;
}
.report-view-wrap .table-wrap.type01 td {
  height: 35px;
  padding: 5px;
}
.report-view-wrap .table-wrap.type01 td:nth-child(1) {
  font-weight: 500;
}
.report-view-wrap .table-wrap.type01 .name {
  text-align: left;
}
.report-view-wrap .table-wrap.type01 .answer td {
  background-color: #f8fcff;
}
.report-view-wrap .table-wrap.type01.style01 th, .report-view-wrap .table-wrap.type01.style01 td {
  height: 50px;
  padding: 14px 10px;
}
.report-view-wrap .table-wrap.type05 {
  border-top: 1px solid #757575;
}
.report-view-wrap .table-wrap.type05 tr {
  border-bottom: 1px solid #e8e8e8;
}
.report-view-wrap .table-wrap.type05 th {
  border-right: 1px solid #e8e8e8;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.report-view-wrap .table-wrap.type05 td {
  width: 50px;
  height: 40px;
  padding: 5px 0;
  text-align: center;
  border-left: 1px solid #e8e8e8;
}
.report-view-wrap .table-wrap.type05 td .pop-btn {
  margin: 0 auto;
}
.report-view-wrap .table-wrap.type05 td .pop-btn:hover {
  color: #108eff;
}
.report-view-wrap .table-wrap.type05 td:nth-child(1) {
  border-left: 0;
}
.report-view-wrap .table-wrap.type05 td.correct {
  position: relative;
}
.report-view-wrap .table-wrap.type05 td.correct::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 16px;
  height: 17px;
  background: url(../../images/common/ico_tbl_o.png) no-repeat;
}
.report-view-wrap .table-wrap.type05 td.incorrect {
  position: relative;
}
.report-view-wrap .table-wrap.type05 td.incorrect::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../../images/common/ico_tbl_x.png) no-repeat;
}
.report-view-wrap .table-wrap.type05 .slash {
  padding: 0 5px;
  background: url("../../images/common/ico_tbl_slash.png") center no-repeat;
  background-size: cover;
}
.report-view-wrap .table-wrap.type05 .slash {
  text-align: left;
}
.report-view-wrap .table-wrap.type05 .slash span {
  display: block;
  text-align: right;
  margin-bottom: 40px;
}
.report-view-wrap .report-top {
  margin: 50px auto 20px;
}
.report-view-wrap .report-top .user-wrap {
  width: 100%;
  text-align: right;
  padding-top: 20px;
}
.report-view-wrap .report-top .user-wrap .info {
  font-size: 15px;
  font-weight: 400;
}
.report-view-wrap .report-top .user-wrap .info em {
  font-size: 15px;
  font-weight: 700;
}
.report-view-wrap .report-top .user-wrap .badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 40px;
  border-radius: 8px;
  background-color: #ebebeb;
  font-size: 15px;
  font-weight: 500;
  color: #9e9e9e;
  margin-left: 15px;
}
.report-view-wrap .report-cnt .title {
  display: block;
  position: relative;
  font-size: 24px;
  font-weight: 700;
  padding-left: 25px;
  margin-bottom: 30px;
}
.report-view-wrap .report-cnt .title::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 10px;
  left: 0;
  width: 16px;
  height: 16px;
  background: url(../../images/common/ico_tit_chk.png) center no-repeat;
}
.report-view-wrap .report-cnt .title.type02 {
  padding-left: 45px;
  margin: 60px 0 20px;
}
.report-view-wrap .report-cnt .title.type02::before {
  top: 0;
  width: 35px;
  height: 31px;
  background: url(../../images/common/ico_tit_bulb.png) center no-repeat;
}
.report-view-wrap .report-cnt .report-title {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 20px;
}
.report-view-wrap .report-cnt .justify-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.report-view-wrap .report-cnt .justify-box.col-type {
  flex-direction: column;
  gap: 30px;
}
.report-view-wrap .report-cnt .justify-box.col-type .box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 20px 30px 30px;
  box-sizing: border-box;
}
.report-view-wrap .report-cnt .justify-box.col-type .box .scroll-inner {
  width: 100%;
  height: 135px;
}
.report-view-wrap .report-cnt .justify-box .table-wrap.type03 {
  width: 500px;
}
.report-view-wrap .report-cnt .justify-box .table-wrap.type03 .scroll-inner {
  height: 420px;
}
.report-view-wrap .report-cnt .justify-box.sec02 {
  margin: 60px 0 20px;
  align-items: center;
}
.report-view-wrap .report-cnt .justify-box.sec02 .report-title {
  margin: 0;
  font-size: 22px;
}
.report-view-wrap .report-cnt .justify-box.sec02 .report-title em {
  margin-left: 10px;
  color: #7e7e7e;
  font-size: 18px;
}
.report-view-wrap .report-cnt .per-img {
  position: relative;
  padding-top: 16px;
}
.report-view-wrap .report-cnt .per-img em {
  position: absolute;
  top: 0;
  font-weight: 700;
  font-size: 12px;
}
.report-view-wrap .report-cnt .per-img em:nth-child(1) {
  left: 0;
}
.report-view-wrap .report-cnt .per-img em:nth-child(2) {
  right: 0;
}
.report-view-wrap .report-cnt .col-box {
  width: 23%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.report-view-wrap .report-cnt .col-box .box {
  width: 100%;
  height: 170px;
}
.report-view-wrap .report-cnt .col-box.h183 .box {
  height: 183px;
}
.report-view-wrap .report-cnt .box {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.09);
  border-radius: 17px;
  border: 1px solid #e8e8e8;
}
.report-view-wrap .report-cnt .box.w285 {
  width: 285px;
  height: 170px;
}
.report-view-wrap .report-cnt .box.w26 {
  width: 26%;
  height: 239px;
}
.report-view-wrap .report-cnt .box.w46 {
  width: 46%;
  height: 239px;
}
.report-view-wrap .report-cnt .box.w49 {
  width: 49%;
  height: 428px;
}
.report-view-wrap .report-cnt .box.w75 {
  width: 75%;
  height: 358px;
}
.report-view-wrap .report-cnt .box.w75.h386 {
  height: 386px;
}
.report-view-wrap .report-cnt .box.h300 {
  height: 300px;
}
.report-view-wrap .report-cnt .box.type02 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.report-view-wrap .report-cnt .box.type02 .scroll-inner {
  height: 750px;
  padding: 30px;
  box-sizing: border-box;
}
.report-view-wrap .report-cnt .box.type02 .scroll-inner:nth-child(1) {
  width: 20%;
}
.report-view-wrap .report-cnt .box.type02 .scroll-inner:nth-child(2) {
  width: 80%;
}
.report-view-wrap .report-cnt .box.type02 .table-wrap.type03 td {
  white-space: normal;
}
.report-view-wrap .report-cnt .box .scroll-inner {
  width: 100%;
  height: 100%;
  padding: 30px;
}
.report-view-wrap .report-cnt .chart-wrap {
  position: relative;
  width: 230px;
  height: 140px;
  overflow: hidden;
}
.report-view-wrap .report-cnt .chart-wrap canvas {
  position: absolute;
  top: -50px;
}
.report-view-wrap .report-cnt .chart-wrap.type02 {
  width: 190px;
  height: 190px;
}
.report-view-wrap .report-cnt .chart-wrap.type02 canvas {
  top: 0;
}
.report-view-wrap .report-cnt .badge-color {
  display: block;
  margin: 0 auto 3px;
}
.report-view-wrap .btn-print {
  display: inline-block;
  width: 30px;
  height: 28px;
  background: url(../../images/common/ico_print.png) center no-repeat;
}
.report-view-wrap .choice-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}
.report-view-wrap .choice-list ol {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  z-index: 1;
}
.report-view-wrap .choice-list ol em {
  margin-right: 7px;
}
.report-view-wrap .choice-list ol.answer::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -8px;
  left: -1px;
  width: 23px;
  height: 22px;
  background: url(../../images/common/ico_answer.png) no-repeat;
  z-index: 2;
}
.report-view-wrap .que-tit {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}
.report-view-wrap .q-btn:hover {
  color: #108eff;
}
.report-view-wrap .hide-cnt {
  display: none;
}
.report-view-wrap .hide-cnt.on {
  display: block;
}

.stu-view .table-wrap {
  border-top: 0;
  background-color: transparent;
}
.stu-view .table-wrap table {
  table-layout: fixed;
  border-top: 1px solid #757575;
}
.stu-view .table-wrap.type01 th, .stu-view .table-wrap.type01 td {
  padding: 18px 8px;
}
.stu-view .table-wrap.type01.style01 {
  margin-bottom: 0;
}
.stu-view .table-wrap.type01.style01 th, .stu-view .table-wrap.type01.style01 td {
  padding: 14px 5px;
}
.stu-view .table-wrap th, .stu-view .table-wrap td {
  word-wrap: break-word;
}
.stu-view .table-wrap .answer {
  position: relative;
}
.stu-view .table-wrap .answer::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 58px;
  background: url(../../images/common/ico_answer02.png) no-repeat;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.stu-view .time-box {
  width: 221px;
  height: 91px;
  padding-top: 36px;
  text-align: center;
  font-weight: bold;
  background: url(../../images/sub/time_bg.png) no-repeat;
}
.stu-view .time-box p {
  color: #108eff;
  font-size: 26px;
}
.stu-view .time-box em {
  font-size: 19px;
  font-weight: 600;
}
.stu-view .title p {
  margin-top: 40px;
  font-size: 22px;
  font-weight: 500;
  text-indent: -25px;
}
.stu-view .title em {
  margin-left: 30px;
  color: #9e9e9e;
  font-size: 18px;
  font-weight: 400;
}
.stu-view .sub-title {
  margin: 90px 0 30px;
  font-size: 22px;
  font-weight: 500;
}
.stu-view .mt100 {
  margin-top: 100px;
}
.stu-view .box {
  position: relative;
}
.stu-view .box.h480 {
  height: 480px;
}
.stu-view .box.h480 img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.stu-view .box .text-box {
  position: absolute;
  top: 15px;
  left: 10px;
  text-align: center;
  font-weight: 600;
}
.stu-view .box .text-box em {
  color: #108eff;
  font-size: 18px;
  font-weight: 600;
}
.stu-view .tbl-report.type02 {
  display: flex;
  border-top: 1px solid #757575;
}
.stu-view .tbl-report.type02 .col-wrap {
  display: flex;
  width: 100%;
}
.stu-view .tbl-report.type02 .col {
  flex-direction: column;
}
.stu-view .tbl-report.type02 .col .th, .stu-view .tbl-report.type02 .col .td {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 14px 5px;
  word-break: break-all;
}
.stu-view .tbl-report.type02 .col .th {
  border-bottom: 1px solid #e8e8e8;
}
.stu-view .tbl-report.type02 .col .td {
  height: 100%;
  min-height: 264px;
}
.stu-view .tbl-report.type02 .num {
  flex: none;
  width: 9%;
}
.stu-view .tbl-report.type02 .num .th, .stu-view .tbl-report.type02 .num .td {
  font-weight: 500;
}
.stu-view .tbl-report.type02 .que {
  width: 50%;
}
.stu-view .tbl-report.type02 .que .th, .stu-view .tbl-report.type02 .que .td {
  border-left: 1px solid #e8e8e8;
}
.stu-view .tbl-report.type02 img {
  max-width: 100%;
}
.stu-view .tbl-report.type02 + .tbl-report {
  border-top: 0;
}
.stu-view .tbl-report.type02 + .tbl-report .th {
  display: none;
}

@media screen and (max-width: 1023px) {
  .container.report.fix-h .inner {
    padding-top: 70px;
  }
  .report-list-top {
    padding-top: 20px;
    flex-direction: column;
  }
  .report-list-search {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
  }
  .report-tbl-sort {
    width: 14px;
    height: 14px;
    background-size: contain;
  }
  .table-wrap .tbl-report .thead > span {
    padding: 21px 0;
  }
  .table-wrap .tbl-report .col.none-data span {
    width: 100% !important;
  }
  .table-wrap .tbl-report .col > span {
    padding: 10px 0;
  }
  .table-wrap .tbl-report .col .badge-color {
    margin-right: 10px;
  }
  .table-wrap .tbl-report .col .font-b {
    font-size: 12px;
  }
  .table-wrap .tbl-report .thead span, .table-wrap .tbl-report .tbody span {
    box-sizing: border-box;
  }
  .table-wrap .tbl-report .thead span:nth-child(1), .table-wrap .tbl-report .tbody span:nth-child(1) {
    width: 30%;
  }
  .table-wrap .tbl-report .thead span:nth-child(2), .table-wrap .tbl-report .tbody span:nth-child(2) {
    width: 26%;
  }
  .table-wrap .tbl-report .thead span:nth-child(3), .table-wrap .tbl-report .tbody span:nth-child(3) {
    width: 30%;
  }
  .table-wrap .tbl-report .thead span:nth-child(4), .table-wrap .tbl-report .tbody span:nth-child(4) {
    width: 70%;
  }
  .table-wrap .tbl-report .thead span:nth-child(6), .table-wrap .tbl-report .tbody span:nth-child(6) {
    width: 19%;
  }
  .table-wrap .tbl-report .view-link {
    width: 24px;
    height: 24px;
  }
  .table-wrap .tbl-report .view-link img {
    width: 100%;
  }
  .tbl-report .scroll-inner {
    overflow: overlay;
    height: 770px;
  }
  .tbl-report .scroll-inner::-webkit-scrollbar-thumb {
    border: 0;
    background-color: #bebebe;
  }
  .tbl-report .scroll-inner::-webkit-scrollbar {
    width: 5px;
    border: 0;
  }
  .report-tool-tip {
    top: inherit;
    bottom: -70px;
    left: 0;
  }
  .report-view-wrap {
    margin-bottom: 30px;
  }
  .report-view-wrap .report-top {
    margin: 0;
  }
  .report-view-wrap .report-cnt .title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .report-view-wrap .report-cnt .title::before {
    top: 5px;
  }
  .report-view-wrap .report-cnt .title.type02 {
    margin: 20px 0;
    padding-left: 38px;
    font-size: 16px;
  }
  .report-view-wrap .report-cnt .title.type02::before {
    top: -6px;
    width: 27px;
    background-size: contain;
  }
  .report-view-wrap .report-cnt .justify-box {
    flex-direction: column;
  }
  .report-view-wrap .report-cnt .justify-box.sec02 {
    margin: 30px 0 20px;
    align-items: flex-start;
  }
  .report-view-wrap .report-cnt .justify-box.sec02 .report-title {
    font-size: 16px;
  }
  .report-view-wrap .report-cnt .justify-box.sec02 .report-title em {
    display: block;
    margin-left: 0;
    margin-top: 5px;
    font-size: 14px;
  }
  .report-view-wrap .report-cnt .justify-box.m-box {
    padding: 20px 10px;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.09);
  }
  .report-view-wrap .report-cnt .col-box {
    width: 100%;
    gap: 10px;
  }
  .report-view-wrap .report-cnt .col-box .box {
    height: 140px;
  }
  .report-view-wrap .report-cnt .col-box.h183 .box {
    height: 140px;
  }
  .report-view-wrap .report-cnt .box.w75 {
    width: 100%;
    height: auto;
    border: 0;
    box-shadow: none;
    border-radius: 0;
  }
  .report-view-wrap .report-cnt .box.w75 .scroll-inner {
    padding: 0;
  }
  .report-view-wrap .report-cnt .box.w75.h386 {
    height: auto;
  }
  .report-view-wrap .report-cnt .box.w49 {
    width: 100%;
    height: auto;
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
  .report-view-wrap .report-cnt .box.w49 .scroll-inner {
    overflow: hidden;
    padding: 0;
    height: auto;
  }
  .report-view-wrap .report-cnt .box.w49 + .box {
    margin-top: 20px;
  }
  .report-view-wrap .report-cnt .chart-wrap.type02 {
    width: 150px;
    height: 150px;
  }
  .report-view-wrap .table-wrap.type01 th {
    padding: 9px 5px;
  }
  .report-view-wrap .table-wrap.type01 .hide-mo {
    display: none;
  }
  .report-view-wrap .table-wrap.type01.style01 {
    margin-bottom: 10px;
  }
  .report-view-wrap .table-wrap.type01.style01 th, .report-view-wrap .table-wrap.type01.style01 td {
    padding: 14px 2px;
  }
  .report-view-wrap .table-wrap.type05 {
    overflow: hidden;
  }
  .report-view-wrap .table-wrap.type05 .scroll-inner {
    padding-bottom: 10px;
  }
  .report-view-wrap .table-wrap.type05 table {
    width: 1150px;
    font-size: 14px;
  }
  .report-view-wrap .table-wrap.type05 table th {
    font-size: 14px;
  }
  .report-view-wrap .table-wrap.type05 table td {
    width: 45px;
  }
  .report-view-wrap .table-wrap.type05 table td:nth-child(1) img {
    width: 20px;
  }
  .report-view-wrap .table-wrap table td.a-left {
    padding-left: 10px !important;
  }
  .report-view-wrap .que-tit {
    font-size: 15px;
  }
  .report-view-wrap .que-img {
    text-align: center;
  }
  .report-view-wrap .choice-list ol {
    font-size: 15px;
  }
  .stu-view .w990 table {
    width: 990px;
  }
  .stu-view .w340 table {
    width: 340px;
  }
  .stu-view .box.w650 .table-wrap {
    margin-bottom: 0;
  }
  .stu-view .box.h480 {
    height: 240px;
  }
  .stu-view .mt100 {
    margin-top: 25px;
  }
  .stu-view .title p {
    margin-top: 10px;
    font-size: 16px;
    text-indent: -25px;
  }
  .stu-view .title em {
    display: block;
    margin-left: 0;
    margin-top: 5px;
    font-size: 14px;
  }
  .stu-view .table-wrap.type01 th, .stu-view .table-wrap.type01 td {
    padding: 16px 5px;
  }
  .stu-view .table-wrap .answer::before {
    width: 45px;
    height: 43px;
    background-size: contain;
  }
  .stu-view .report-cnt .box.bd-n {
    box-shadow: none;
    border-radius: 0;
    border: 0;
  }
  .stu-view .report-cnt .box.bd-n .scroll-inner {
    padding: 0 0 15px 0;
  }
  .stu-view .report-cnt .box.w26 {
    width: 100%;
    height: 169px;
  }
  .stu-view .report-cnt .box.w26 + .box {
    margin-top: 10px;
  }
  .stu-view .report-cnt .box.w46 {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .stu-view .report-cnt .box.w650 .scroll-inner {
    padding: 10px;
    max-height: 339px;
  }
  .stu-view .sub-title {
    margin: 30px 0 20px;
    font-size: 16px;
  }
  .stu-view .tbl-report.type02 .col-wrap {
    flex-direction: column;
  }
  .stu-view .tbl-report.type02 .num {
    width: 60px;
  }
  .stu-view .tbl-report.type02 .que {
    width: 100%;
  }
  .stu-view .tbl-report.type02 + .tbl-report {
    margin-top: 20px;
    border-top: 1px solid #757575;
  }
  .stu-view .tbl-report.type02 + .tbl-report .th {
    display: inline-flex;
  }
  .stu-view .tbl-report.type02 .col .td {
    min-height: auto;
  }
  .report-pop .inner {
    padding-top: 116px;
  }
  .report-pop .pop-header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
  }
}
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
[class^=web-] {
  display: block !important;
}

[class^=web-flex-] {
  display: flex !important;
}

[class^=mo-] {
  display: none !important;
}

[class^=mo-flex-] {
  display: none !important;
}

.s_sub01_01 .class-tit-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
  padding: 50px 0 20px 0;
  border-bottom: 1px solid #757575;
}
.s_sub01_01 .class-tit-wrap .select-wrap {
  padding-left: 20px;
}
.s_sub01_01 .class-tit-wrap .btn-arrow {
  width: 12px;
  height: 18px;
  background: url(../../images/common/ico_arrow_left.png) no-repeat;
}
.s_sub01_01 .class-cnt-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 40px 0 60px 0;
}
.s_sub01_01 .class-cnt-wrap .right-cnt {
  width: calc(100% - 230px);
  padding-left: 40px;
  box-sizing: border-box;
}
.s_sub01_01 .class-cnt-wrap .unit-title {
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0 20px 0;
}
.s_sub01_01 .class-cnt-wrap .unit-title em {
  font-size: 20px;
  font-weight: 500;
  color: #108eff;
  margin-left: 10px;
}
.s_sub01_01 .badge-state {
  margin-right: 10px;
}

.exam-wrap {
  width: 100%;
  background-color: #f8f8f8;
}
.exam-wrap.type01 {
  background-color: #fafcff;
}
.exam-wrap .exam-top {
  width: 100%;
  height: 70px;
  background-color: #108eff;
  z-index: 2;
  border-bottom: 0;
  padding-bottom: 0;
}
.exam-wrap .exam-top .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.exam-wrap .exam-top .tit {
  display: flex;
  align-items: center;
  gap: 20px;
}
.exam-wrap .exam-top .txt {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.exam-wrap .exam-top .txt em {
  display: inline-block;
  font-weight: 700;
  margin-right: 5px;
}
.exam-wrap .exam-top .btn-arrow {
  width: 12px;
  height: 18px;
  background: url(../../images/common/ico_arrow_left_type02.png) no-repeat;
}
.exam-wrap .exam-top .btn-close {
  width: 18px;
  height: 18px;
  background: url(../../images/common/ico_exam_close.png) no-repeat;
}
.exam-wrap .exam-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 30px 20px;
  margin: 0 auto;
  height: calc(100vh - 184px);
  box-sizing: border-box;
}
.exam-wrap .exam-tit-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exam-wrap .exam-tit-wrap .tit-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.exam-wrap .exam-tit-wrap .exam {
  width: 115px;
  height: 128px;
  background-image: url(../../images/common/ico_exam.png);
}
.exam-wrap .exam-tit-wrap .exam.type02 {
  background-image: url(../../images/common/ico_exam_type02.png);
}
.exam-wrap .exam-tit-wrap .exam.type03 {
  background-image: url(../../images/common/ico_exam_type03.png);
}
.exam-wrap .exam-tit-wrap .unit-tit {
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
}
.exam-wrap .exam-tit-wrap .date {
  font-size: 30px;
  font-weight: 500;
  margin-top: 20px;
}
.exam-wrap .exam-tit-wrap .num {
  padding: 7px 40px;
  height: 85px;
  font-size: 50px;
  font-weight: 700;
  background-image: linear-gradient(to right, #1f8bff, #8257ff);
  color: #fff;
  border-radius: 20px;
  margin-top: 40px;
}
.exam-wrap .exam-tit-wrap .desc {
  font-size: 30px;
  font-weight: 500;
  margin-top: 100px;
}
.exam-wrap .exam-que-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}
.exam-wrap .time-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 30px 30px 0 30px;
}
.exam-wrap .time-wrap .clock {
  width: 17px;
  height: 17px;
  background-image: url(../../images/common/ico_clock.png);
}
.exam-wrap .time-wrap span {
  font-weight: 500;
}
.exam-wrap .exam-swiper-wrap {
  width: 100%;
  height: calc(100% - 50px);
  box-sizing: border-box;
}
.exam-wrap .question-swiper {
  position: relative;
  height: 100%;
}
.exam-wrap .question-swiper .temp-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 80px);
}
.exam-wrap .question-swiper .temp-box img {
  width: 80%;
  max-width: 480px;
  object-fit: contain;
}
.exam-wrap .question-swiper .exam-que-answer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 1px solid #dcdcdc;
  box-sizing: border-box;
}
.exam-wrap .question-swiper .exam-que-answer .input-wrap {
  width: 500px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}
.exam-wrap .question-swiper .exam-que-answer .input-wrap input {
  width: 100%;
}
.exam-wrap .question-swiper .exam-que-answer .btn-wrap:nth-child(1) {
  position: absolute;
  top: 17px;
  left: 50%;
  transform: translate(-50%);
  gap: 20px;
}
.exam-wrap .question-swiper .exam-que-answer .btn-type02 {
  position: absolute;
  top: 12px;
  right: 30px;
}
.exam-wrap .question-swiper .exam-que-answer .btn-type02.blue {
  left: 30px;
}
.exam-wrap .question-swiper .swiper-button-next, .exam-wrap .question-swiper .swiper-button-prev {
  top: 40%;
  width: 17px;
  height: 31px;
  background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
  background-size: contain;
}
.exam-wrap .question-swiper .swiper-button-prev, .exam-wrap .question-swiper .swiper-rtl .swiper-button-next {
  left: 30px;
  transform: rotate(-180deg);
}
.exam-wrap .question-swiper .swiper-button-next, .exam-wrap .question-swiper .swiper-rtl .swiper-button-prev {
  right: 30px;
}
.exam-wrap .question-swiper .swiper-button-prev:after, .exam-wrap .question-swiper .swiper-rtl .swiper-button-next:after, .exam-wrap .question-swiper .swiper-button-next:after, .exam-wrap .question-swiper .swiper-rtl .swiper-button-prev:after {
  display: none;
}

.pop-wrap.que-type02 .pop-content {
  width: 420px;
}
.pop-wrap.que-type02 .scroll-inner {
  max-height: 420px;
}

.que-omr-cnt .que-omr {
  border-top: 1px solid #dcdcdc;
}
.que-omr-cnt .que-omr.incorrect .que-num {
  position: relative;
}
.que-omr-cnt .que-omr.incorrect .que-num::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  width: 45px;
  height: 49px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../images/common/ico_incorrect.png) center no-repeat;
  background-size: contain;
}
.que-omr-cnt .que-omr.correct .que-num {
  position: relative;
}
.que-omr-cnt .que-omr.correct .que-num::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  width: 62px;
  height: 58px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../images/common/ico_correct.png) center no-repeat;
  background-size: contain;
}
.que-omr-cnt .center-box {
  display: flex;
  align-items: center;
}
.que-omr-cnt .center-box > div {
  padding: 30px;
}
.que-omr-cnt .start-box {
  display: flex;
  align-items: flex-start;
}
.que-omr-cnt .start-box:nth-child(1) {
  margin-bottom: 20px;
}
.que-omr-cnt .que-num {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}
.que-omr-cnt .que-answer {
  width: 100%;
  border-left: 1px solid #dcdcdc;
}
.que-omr-cnt .que-answer .ip-type02 {
  width: 100%;
}
.que-omr-cnt .que-cmt {
  border-top: 1px solid #dcdcdc;
  padding: 20px 30px;
}
.que-omr-cnt .cmt-area {
  width: 100%;
  height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.que-omr-cnt .cmt-area.active {
  height: initial;
  overflow: initial;
  white-space: initial;
  text-overflow: initial;
}

.pop-exam {
  z-index: 1;
}
.pop-exam .exam-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 45px);
}
.pop-exam .exam-wrap.type01 .unit-title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  font-weight: 700;
}
.pop-exam .exam-wrap.type01 .unit-title em {
  font-size: 60px;
  font-weight: 700;
}
.pop-exam .exam-wrap.type01 .start-box {
  width: 620px;
  margin: 36px 0;
}
.pop-exam .exam-wrap.type01 .table-wrap {
  margin-bottom: 10px;
}
.pop-exam .exam-wrap.type01 .desc {
  text-align: right;
  color: #a4a4a4;
}
.pop-exam .exam-wrap.type01 .btn-wrap {
  flex-direction: column;
}
.pop-exam .exam-wrap.type01 .btn-wrap .btn-type02 {
  width: 255px;
}

@media screen and (max-width: 1023px) {
  [class^=web-] {
    display: none !important;
  }
  [class^=web-flex-] {
    display: none !important;
  }
  [class^=mo-] {
    display: block !important;
  }
  [class^=mo-flex-] {
    display: flex !important;
  }
  .s_sub01_01 .class-tit-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 0;
    padding-bottom: 0;
    background-color: #f1f1f1;
    z-index: 3;
    padding: 0;
  }
  .s_sub01_01 .class-tit-wrap .btn-arrow {
    display: none;
  }
  .s_sub01_01 .class-tit-wrap .select-wrap {
    padding-left: 0;
  }
  .s_sub01_01 .que-class-item {
    flex-direction: row;
  }
  .s_sub01_01 .que-class-item.lock-item .lock-dim span {
    font-size: 14px;
  }
  .s_sub01_01 .que-class-tit {
    order: 2;
  }
  .s_sub01_01 .badge-state {
    order: 1;
  }
  .s_sub01_01 .acc-arrow {
    order: 3;
  }
  .s_sub01_01 .class-cnt-wrap {
    padding: 100px 0 40px 0;
  }
  .s_sub01_01 .class-cnt-wrap .right-cnt {
    width: 100%;
    padding-left: 0;
  }
  .s_sub01_01 .class-cnt-wrap .unit-title {
    display: none;
  }
  .s_sub01_01 .tab-menu-type01 {
    margin: 10px 0;
  }
  .exam-wrap .exam-top {
    height: 60px;
  }
  .exam-wrap .exam-top .txt {
    font-size: 17px;
  }
  .exam-wrap .exam-top .btn-arrow {
    width: 9px;
    height: 15px;
    background: url(../../images/common/ico_arrow_left_type02.png) no-repeat;
  }
  .exam-wrap .exam-top .btn-close {
    display: none;
  }
  .exam-wrap .exam-cnt {
    height: calc(100vh - 110px);
    padding: 20px;
  }
  .exam-wrap .exam-tit-wrap .tit-wrap {
    flex-direction: row;
    gap: 10px;
  }
  .exam-wrap .exam-tit-wrap .exam {
    width: 40px;
    height: 44px;
    margin-top: 5px;
  }
  .exam-wrap .exam-tit-wrap .unit-tit {
    font-size: 32px;
    margin-top: 0;
  }
  .exam-wrap .exam-tit-wrap .date {
    font-size: 18px;
    margin-top: 15px;
  }
  .exam-wrap .exam-tit-wrap .num {
    padding: 10px 20px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
    margin-top: 60px;
  }
  .exam-wrap .exam-tit-wrap .desc {
    font-size: 18px;
    margin-top: 60px;
  }
  .exam-wrap .time-wrap {
    padding: 15px 10px 0 10px;
  }
  .exam-wrap .exam-swiper-wrap {
    height: calc(100% - 35px);
  }
  .exam-wrap .question-swiper .temp-box {
    height: calc(100% - 131px);
  }
  .exam-wrap .question-swiper .exam-que-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .exam-wrap .question-swiper .exam-que-answer .input-wrap {
    width: 100%;
    position: initial;
    transform: initial;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  .exam-wrap .question-swiper .exam-que-answer .btn-wrap:nth-child(1) {
    position: initial;
    transform: initial;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dcdcdc;
  }
  .exam-wrap .question-swiper .exam-que-answer .btn-wrap:nth-child(2) {
    width: 100%;
    padding: 10px;
  }
  .exam-wrap .question-swiper .exam-que-answer .btn-type02 {
    position: initial;
    height: 50px;
  }
  .exam-wrap .question-swiper .swiper-button-prev, .exam-wrap .question-swiper .swiper-rtl .swiper-button-next {
    left: 10px;
  }
  .exam-wrap .question-swiper .swiper-button-next, .exam-wrap .question-swiper .swiper-rtl .swiper-button-prev {
    right: 10px;
  }
  .exam-wrap .question-swiper .swiper-button-next, .exam-wrap .question-swiper .swiper-button-prev {
    width: 10px;
    height: 20px;
  }
  .pop-wrap.que-type02 .pop-content {
    width: 320px;
  }
  .que-omr-cnt .center-box > div {
    padding: 0;
  }
  .que-omr-cnt .que-answer {
    border-left: 0;
  }
  .que-omr-cnt .que-cmt {
    padding: 15px 10px;
    font-size: 15px;
  }
  .que-omr-cnt .que-omr .que-num {
    padding: 20px;
  }
  .que-omr-cnt .que-omr .que-answer {
    padding: 20px 10px 20px 0;
  }
  .que-omr-cnt .que-omr.incorrect .que-num::before {
    width: 36px;
  }
  .que-omr-cnt .que-omr.correct .que-num::before {
    width: 48px;
  }
  .pop-exam .exam-wrap {
    width: 100%;
    height: calc(100vh - 50px);
  }
  .pop-exam .exam-wrap.type01 {
    padding: 0 20px;
    box-sizing: border-box;
  }
  .pop-exam .exam-wrap.type01 .unit-title {
    font-size: 18px;
    font-weight: 500;
  }
  .pop-exam .exam-wrap.type01 .unit-title em {
    font-size: 18px;
    font-weight: 500;
  }
  .pop-exam .exam-wrap.type01 .start-box {
    width: 100%;
    margin: 30px 0;
  }
  .pop-exam .exam-wrap.type01 .table-wrap {
    margin-bottom: 10px;
  }
  .pop-exam .exam-wrap.type01 .desc {
    font-size: 14px;
  }
  .pop-exam .exam-wrap.type01 .btn-wrap {
    width: 100%;
  }
  .pop-exam .exam-wrap.type01 .btn-wrap .btn-type02 {
    width: 100%;
  }
}
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
.login-cnt {
  margin: 0 auto;
  text-align: center;
  padding: 190px 0 210px;
}
.login-cnt .login-tit {
  font-size: 34px;
  font-weight: 500;
}
.login-cnt .logo {
  display: none;
}
.login-cnt .login-desc {
  margin: 30px 0 40px;
}
.login-cnt .form-wrap {
  width: 384px;
  padding-bottom: 30px;
  margin: 0 auto 30px;
}
.login-cnt .id-input,
.login-cnt .pw-input,
.login-cnt .btn-login {
  width: 100%;
  height: 55px;
  border-radius: 8px;
}
.login-cnt .id-wrap,
.login-cnt .pw-wrap {
  position: relative;
}
.login-cnt .pw-wrap {
  margin-top: 10px;
}
.login-cnt .id-input,
.login-cnt .pw-input {
  padding: 20px 50px 20px 20px;
  font-size: 16px;
  border: 1px solid #d1d1d1;
  outline: 0;
  box-sizing: border-box;
}
.login-cnt .id-input:focus,
.login-cnt .pw-input:focus {
  border-color: #108eff;
}
.login-cnt .id-input::placeholder,
.login-cnt .pw-input::placeholder {
  color: #a4a4a4;
}
.login-cnt .id-input:focus + label {
  background: url(../../images/common/ico_person_on.png) no-repeat;
}
.login-cnt .pw-input:focus + label {
  background: url(../../images/common/ico_lock_on.png) no-repeat;
}
.login-cnt .id-label,
.login-cnt .pw-label {
  position: absolute;
}
.login-cnt .id-label {
  top: 17px;
  right: 21px;
  width: 19px;
  height: 22px;
  background: url(../../images/common/ico_person.png) no-repeat;
}
.login-cnt .pw-label {
  top: 15px;
  right: 18px;
  width: 22px;
  height: 28px;
  background: url(../../images/common/ico_lock.png) no-repeat;
}
.login-cnt .btn-login {
  color: #fff;
  font-size: 18px;
  background-color: #108eff;
}
.login-cnt .chk-wrap {
  margin: 24px 0 20px;
  text-align: left;
}
.login-cnt .id-save + label {
  padding-left: 34px;
  font-weight: 500;
}
.login-cnt .id-save + label::before {
  top: 4px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  margin-top: -5px;
  background: url(../../images/common/ico_check.png) no-repeat center;
}
.login-cnt .id-save:checked + label::before {
  background: url(../../images/common/ico_check_on.png) no-repeat center;
}
.login-cnt .login-wrap a {
  font-size: 16px;
  color: #a4a4a4;
}
.login-cnt .login-wrap a::after {
  content: "";
  display: inline-block;
  margin: -2px 15px;
  width: 1px;
  height: 16px;
  background: #a4a4a4;
}
.login-cnt .login-wrap a:last-child::after {
  display: none;
}

.content-wrap {
  padding: 50px 0 80px;
}
.content-wrap .title {
  font-size: 24px;
  font-weight: 600;
}

.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0 20px;
}

.table-list table {
  width: 100%;
  border-top: 2px solid #757575;
  border-bottom: 1px solid #ddd;
}
.table-list table th,
.table-list table td {
  height: 60px;
  text-align: center;
  border-right: 1px solid #ddd;
  color: #333;
}
.table-list table th {
  font-size: 16px;
  font-weight: 600;
}
.table-list table td {
  color: #666;
  font-weight: 400;
  border-top: 1px solid #ddd;
}
.table-list table .tit {
  padding: 0 20px;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(ellipsis.xml#ellipsis);
  max-width: calc(100% - 20px);
}

.notice-cnt .paging-wrap {
  margin-top: 35px;
}

.t_sub01_01 .class-cnt-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 50px auto 70px;
}
.t_sub01_01 .class-cnt-wrap .right-cnt {
  width: calc(100% - 230px);
  padding-left: 40px;
  box-sizing: border-box;
}
.t_sub01_01 .class-cnt-wrap .unit-title {
  font-size: 20px;
  font-weight: 500;
  padding: 40px 0 20px 0;
}
.t_sub01_01 .class-cnt-wrap .unit-title em {
  font-size: 20px;
  font-weight: 500;
  color: #108eff;
  margin-left: 10px;
}
.t_sub01_01 .dim {
  z-index: 4;
}

.pop-wrap.share-pop {
  z-index: 1;
}
.pop-wrap.share-pop .inner {
  max-width: 895px;
  margin: 0 auto;
  padding: 0 35px;
}

.share-view-wrap {
  padding: 60px 0px 45px;
  text-align: center;
  display: block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  position: inherit;
}
.share-view-wrap .pop-tit p {
  font-size: 24px;
  font-weight: 700;
}
.share-view-wrap .pop-tit span {
  font-size: 16px;
  font-weight: 500;
  margin: 20px 0 45px;
  display: block;
}
.share-view-wrap .pop-tit:not(:first-child) {
  padding-top: 50px;
}
.share-view-wrap .end-day-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-view-wrap .end-day-wrap .txt {
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}
.share-view-wrap .end-day-wrap .txt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url(../../images/common/ico_calendar02.png) no-repeat center;
}
.share-view-wrap .date-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}
.share-view-wrap .date-wrap .select-list a {
  text-align: left;
}
.share-view-wrap .class-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25vw;
}
.share-view-wrap .class-wrap .class-box {
  width: 260px;
  height: 190px;
  border-radius: 25px;
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
  color: #333;
  padding: 35px 30px 30px 25px;
  text-align: left;
}
.share-view-wrap .class-wrap .class-box:hover {
  background: #108eff;
}
.share-view-wrap .class-wrap .class-box:hover span {
  border-color: #fff;
  color: #fff;
}
.share-view-wrap .class-wrap .class-box:hover .class-tit {
  color: #fff;
}
.share-view-wrap .class-wrap .class-box:hover em {
  color: #fff;
}
.share-view-wrap .class-wrap .class-box:hover em::before {
  background: url(../../images/common/ico_person2_hover.png) no-repeat center;
}
.share-view-wrap .class-wrap .class-box:hover .btn-share {
  background: url(../../images/common/ico_share2_hover.png) no-repeat center;
}
.share-view-wrap .class-wrap .class-box:hover .mobile-btn-share {
  display: none;
}
.share-view-wrap .class-wrap .class-box a {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.share-view-wrap .class-wrap .class-box a div span {
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 2px 10px;
}
.share-view-wrap .class-wrap .class-box a div .class-tit {
  padding: 15px 0 35px;
  font-size: 28px;
  font-weight: 800;
  font-family: "GmarketSans";
  color: #108eff;
}
.share-view-wrap .class-wrap .class-box a div em {
  font-size: 15px;
  display: flex;
  align-items: center;
}
.share-view-wrap .class-wrap .class-box a div em::before {
  content: "";
  display: inline-block;
  background: url(../../images/common/ico_person2.png) no-repeat center;
  width: 17px;
  height: 17px;
  background-size: contain;
  margin-right: 8px;
}
.share-view-wrap .class-wrap .class-box .btn-share {
  background: url(../../images/common/ico_share2.png) no-repeat center;
  width: 19px;
  height: 19px;
  position: relative;
  background-size: contain;
}
.share-view-wrap .class-wrap .class-box .btn-share.active .open-select-list {
  display: block;
}
.share-view-wrap .class-wrap .class-box .mobile-btn-share {
  display: none;
}
.share-view-wrap .class-wrap .class-box .open-select-list {
  position: absolute;
  width: 205px;
  border: 1px solid #868686;
  background: #fff;
  z-index: 1;
  top: 30px;
  left: 15px;
  display: none;
  overflow: hidden;
}
.share-view-wrap .class-wrap .class-box .open-select-list .list-tit {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #e6e6e6;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}
.share-view-wrap .class-wrap .class-box .open-select-list .list {
  height: 210px;
  overflow-y: auto;
  padding: 15px 25px;
  text-align: left;
}
.share-view-wrap .class-wrap .class-box .open-select-list .list li {
  padding-bottom: 10px;
}
.share-view-wrap .class-wrap .class-box .open-select-list .list li:first-child::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ccc;
  display: inline-block;
}
.share-view-wrap .class-wrap .class-box .open-select-list .btn-wrap {
  display: flex;
  padding-bottom: 15px;
}
.share-view-wrap .share-wrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 26px;
  padding: 20px 0;
  position: relative;
}
.share-view-wrap .share-wrap li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.share-view-wrap .share-wrap li::after {
  content: "";
  width: 1px;
  height: 70px;
  background: #ccc;
  display: inline-block;
  position: absolute;
  right: 260px;
  bottom: 20px;
}
.share-view-wrap .share-wrap li:last-child::after {
  width: 0;
}
.share-view-wrap .share-wrap li .url-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-view-wrap .share-wrap li .url-wrap .btn-copy {
  width: 17px;
  height: 21px;
  background: url(../../images/common/ico_copy.png) no-repeat center;
  display: inline-block;
  margin-left: 10px;
}
.share-view-wrap .share-wrap li .qr-img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto;
}
.share-view-wrap .share-wrap li span {
  padding: 4px 12px;
  background: #ececec;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
}
.share-view-wrap .open-wrap {
  width: 100%;
  height: 220px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 26px;
  margin: 0 auto;
  padding: 25px 0;
}
.share-view-wrap .open-wrap .txt {
  line-height: 24px;
  display: inline-block;
  margin-bottom: 30px;
}
.share-view-wrap .open-wrap .txt::before {
  content: "";
  display: block;
  background: url(../../images/common/ico_warning.png) no-repeat center;
  background-size: contain;
  width: 37px;
  height: 38px;
  margin: 0 auto 10px;
}
.share-view-wrap .open-wrap button {
  margin: 0 auto;
}

.pop-wrap.bottom-type {
  z-index: 3;
}
.pop-wrap.bottom-type .pop-content {
  padding: 0 20px;
}
.pop-wrap.bottom-type .pop-content .open-select-list {
  width: 100%;
  height: 218px;
  overflow-y: auto;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.09);
}
.pop-wrap.bottom-type .pop-content .open-select-list .list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.pop-wrap.bottom-type .pop-content .open-select-list .list li .all-chk label {
  font-size: 16px;
}
.pop-wrap.bottom-type .pop-content .open-select-list .list li input,
.pop-wrap.bottom-type .pop-content .open-select-list .list li label {
  position: unset;
}
.pop-wrap.bottom-type .pop-content .open-select-list .list li label {
  padding: 0;
  font-size: 14px;
}
.pop-wrap.bottom-type .pop-content .open-select-list .list li.all-chk label {
  font-size: 15px;
  font-weight: 600;
}
.pop-wrap.bottom-type .pop-footer {
  padding: 20px 20px 50px;
}

@media screen and (min-width: 1024px) and (max-width: 1390px) {
  .front-login .container .inner {
    width: 100%;
    padding: 0 30px;
  }
  .t_sub01_01 .container .inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 1023px) {
  .front-login .container .inner {
    padding: 0px 30px;
    width: 100%;
    height: 100%;
  }
  .t_sub01_01 .container .inner {
    width: 100%;
    padding: 0 30px;
  }
  .t_sub01_01 .filter-menu {
    top: 100px;
  }
  .t_sub01_01 .filter-menu .scroll-inner {
    height: calc(100vh - 100px);
  }
  .t_sub01_01 .unit-tit-wrap.has-menu {
    top: 50px;
  }
  .t_sub01_01 .class-cnt-wrap {
    padding: 60px 0 40px 0;
  }
  .t_sub01_01 .class-cnt-wrap .unit-title {
    display: none;
  }
  .t_sub01_01 .class-cnt-wrap .right-cnt {
    width: 100%;
    padding-left: 0;
    box-sizing: border-box;
  }
  .t_sub01_01 .tab-menu-type01 {
    margin: 10px 0;
  }
  .share-view-wrap .mobile-btn-share {
    display: none;
  }
  .share-view-wrap .share-wrap li::after {
    right: 25vw;
  }
}
@media screen and (max-width: 767px) {
  [class^=web-] {
    display: none !important;
  }
  [class^=mo-] {
    display: block !important;
  }
  [class^=mo-only-] {
    display: block !important;
  }
  .front-login .container .inner {
    padding: 0 30px;
    width: 100%;
    height: 100%;
  }
  .front-login .login-cnt,
.front-login .error-cnt,
.front-login .loading-cnt {
    padding: 100px 0 280px;
  }
  .front-login .login-cnt .login-tit {
    display: none;
  }
  .front-login .login-cnt .logo {
    display: block;
    width: 185px;
    height: 35px;
    background: url(../../images/common/logo.png) no-repeat;
    background-size: contain;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .front-login .login-cnt .login-desc {
    margin: 35px 0 20px;
    font-size: 15px;
    font-weight: 500;
  }
  .front-login .login-cnt .form-wrap {
    width: 100%;
    height: 50px;
  }
  .front-login .login-cnt .id-input,
.front-login .login-cnt .pw-input,
.front-login .login-cnt .btn-login {
    height: 50px;
  }
  .front-login .login-cnt .id-input:focus + label {
    background-size: 15px 17px;
  }
  .front-login .login-cnt .pw-input:focus + label {
    background-size: 16px 20px;
  }
  .front-login .login-cnt .id-label {
    width: 17px;
    height: 17px;
    right: 18px;
    background-size: contain;
  }
  .front-login .login-cnt .pw-label {
    width: 16px;
    height: 20px;
    background-size: contain;
  }
  .pop-wrap.share-pop .pop-content .inner {
    padding: 35px 20px 95px;
    text-align: center;
  }
  .share-view-wrap {
    padding: 0;
  }
  .share-view-wrap .pop-tit p {
    font-size: 18px;
  }
  .share-view-wrap .pop-tit span {
    font-size: 14px;
    margin: 10px 0 30px;
  }
  .share-view-wrap .pop-tit:not(:first-child) {
    padding-top: 30px;
  }
  .share-view-wrap .end-day-wrap .txt {
    font-size: 16px;
    margin-right: 10px;
  }
  .share-view-wrap .end-day-wrap .txt::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url(../../images/common/ico_calendar02.png) no-repeat center;
  }
  .share-view-wrap .date-wrap .select-wrap .select-btn {
    min-width: 80px;
    padding: 0 40px 0 14px;
  }
  .share-view-wrap .date-wrap .select-wrap .select-list a {
    padding: 12px 14px;
  }
  .share-view-wrap .class-wrap {
    flex-direction: column;
  }
  .share-view-wrap .class-wrap .class-box {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 20px 15px;
  }
  .share-view-wrap .class-wrap .class-box:hover span,
.share-view-wrap .class-wrap .class-box:hover em {
    color: #fff;
  }
  .share-view-wrap .class-wrap .class-box:hover span::before,
.share-view-wrap .class-wrap .class-box:hover em::before {
    background: url(../../images/common/ico_person2_hover.png) no-repeat center;
    background-size: contain;
  }
  .share-view-wrap .class-wrap .class-box:hover .btn-share {
    display: none;
  }
  .share-view-wrap .class-wrap .class-box:hover .mobile-btn-share {
    background: url(../../images/common/ico_share2_hover.png) no-repeat center;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: relative;
    display: block;
  }
  .share-view-wrap .class-wrap .class-box a {
    align-items: center;
  }
  .share-view-wrap .class-wrap .class-box a div span {
    font-size: 18px;
    font-weight: 800;
    border: 0;
    border-radius: 0;
    padding: 0;
    font-family: "GmarketSans";
    color: #108eff;
  }
  .share-view-wrap .class-wrap .class-box a div .class-tit {
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    display: inline;
  }
  .share-view-wrap .class-wrap .class-box a div em {
    font-size: 14px;
    margin-top: 5px;
  }
  .share-view-wrap .class-wrap .class-box a div em::before {
    width: 13px;
    height: 13px;
    background-size: contain;
    margin-right: 8px;
  }
  .share-view-wrap .class-wrap .class-box .btn-share {
    display: none;
  }
  .share-view-wrap .class-wrap .class-box .mobile-btn-share {
    background: url(../../images/common/ico_share2.png) no-repeat center;
    background-size: contain;
    width: 21px;
    height: 21px;
    position: relative;
    display: block;
  }
  .share-view-wrap .class-wrap .class-box .open-select-list {
    display: none;
  }
  .share-view-wrap .share-wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    border: 0;
    gap: 1.3333vw;
    position: relative;
    padding: 0;
  }
  .share-view-wrap .share-wrap li {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 0;
  }
  .share-view-wrap .share-wrap li::after {
    width: 0;
  }
  .share-view-wrap .share-wrap li:last-child::after {
    width: 0;
  }
  .share-view-wrap .share-wrap li .url-txt {
    display: none;
  }
  .share-view-wrap .share-wrap li .url-img {
    background: url(../../images/common/ico_copy.png) no-repeat center;
    width: 19px;
    height: 23px;
    display: block;
  }
  .share-view-wrap .share-wrap li .btn-copy {
    width: 17px;
    height: 21px;
    background: url(../../images/common/ico_copy.png) no-repeat center;
    display: inline-block;
    margin-left: 10px;
  }
  .share-view-wrap .share-wrap li .qr-img {
    display: none;
  }
  .share-view-wrap .share-wrap li .btn-down-img {
    width: 21px;
    height: 19px;
    background: url(../../images/common/ico_down.png) no-repeat center;
  }
  .share-view-wrap .share-wrap li span {
    margin-top: 5px;
    padding: 0;
    background: transparent;
    border-radius: 0;
    font-size: 14px;
    font-weight: 400;
  }
  .share-view-wrap .open-wrap {
    height: 175px;
    padding: 20px 0;
  }
  .share-view-wrap .open-wrap .txt {
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 15px;
  }
  .share-view-wrap .open-wrap .txt::before {
    content: "";
    width: 27px;
    height: 28px;
    margin: 0 auto 7px;
  }
  .pop-wrap.image-type .pop-content {
    padding: 50px 0 60px;
  }
  .pop-wrap.image-type .pop-content .txt image {
    object-fit: contain;
  }
}