@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

// 서비스 관리 - 기초 데이터 등록, 운영 통계
.admin03-01 {
  .table-wrap {
    &.type01 {
      margin: 10px 0 20px 0;
      .chk-wrap {
        @include content-center-center;
        label {
          font-size: 15px;
        }
      }
      .img-upload-box {
        @include layout-center-center;
        width: 100%;
        min-height: 300px;
        border: 1px solid $color-line;
        padding: 20px;
        .upload-name {
          @include font(14px, 400);
        }
        .file-del {
          margin-right: 15px;
        }
        .file-desc {
          @include font(14px, 400);
          color: #9e9e9e;
          flex-shrink: 0;
          margin-right: 15px;
        }
      }
    }
    &.type02 {
      margin-top: 20px;
      .pop-btn {
        &.line {
          text-decoration: underline;
        }
      }
      a {
        &.btn-link {
          @include content-center-center;
          width: 70px;
          height: 25px;
          color: #fff;
          font-size: 15px;
          background-color: #6a6a6a;
        }
      }
      .ui-sortable {
        td {
          &:nth-child(1) { width: 60px; }
          &:nth-child(2) { width: 90px; }
          &:nth-child(3) { width: 90px; }
          &:nth-child(4) { width: 663px; }
          &:nth-child(5) { width: 146px; }
          &:nth-child(6) { width: 90px; }
          &:nth-child(7) { width: 120px; }
        }
      }
    }
  }
  .paging-wrap {
    margin-top: 30px;
  }
  .down {
    @include layout-center-center;
    box-sizing: border-box;
    min-width: 80px;
    height: 34px;
    color: #fff;
    font-size: 14px;
    background-color: #333;
    padding: 0 16px;
  }
  .tbl-acc {
    tr {
      &:nth-child(n+3):nth-child(n){
        display: none;
      }
    }
    &.active {
      .tbl-acc-btn {
        i {
          &.show {
            background: url(../../images/common/ico_tbl_hide.png) no-repeat;
          }
        }
      }
    }
  }
  .tbl-acc-btn {
    padding-top: 3px;
    i {
      display: inline-block;
      width: 18px;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;
      &.show {
        background: url(../../images/common/ico_tbl_show.png) no-repeat;
      }
    }
  }
  .date-cnt {
    display: flex;
    gap: 10px;
    input[type="text"], input[type="number"] {
      &.w75 {
        width: 75px;
      }
    }
    .date-wrap {
      flex-shrink: 0;
    }
    .input-wrap {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
  .chk-wrap {
    label {
      margin-right: 15px;
      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
  .flex-box {
    @include layout-justify-start;
    width: 100%;
    border: 1px solid $color-line;
    margin-top: 20px;
    .table-wrap {
      margin-top: 0;
      margin: 20px;
    }
  }
  .chart-wrap {
    @include layout-center-center;
    flex-direction: column;
    width: 300px;
    height: 506px;
    border-right: 1px solid $color-line;
    flex-shrink: 0;
    padding: 18px;
    gap: 20px;
    .tit {
      @include font(16px, 500);
    }
    .chart-cnt {
      width: 100%;
      height: 270px;
    }
    .chk-wrap {
      label {
        font-size: 15px;
      }
    }
    .txt {
      @include font(16px, 500);
    }
  }
  .form-wrap {
    display: flex;
    gap: 10px;
    .select-btn {
      width: 221px;
    }
  }
  .toggle-btn {
    overflow: inherit;
    border: 0;
    border-radius: 0;
    .checkbox {
      &:checked + .knobs::after {
        content: '노출';
      }
    }
    .knobs {
      &::after {
        content: '비노출';
        display: block;
        clear: both;
        position: absolute;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .view-main-tit {
    margin-top: 30px;
  }
}

// 서비스 관리 - 리포트 관리
.admin03-02 {
  .table-wrap {
    &.type03 {
      margin-top: 20px;
      .unit-tit {
        @include font(14px, 400);
        color: #108eff;
      }
      .badge {
        @include content-center-center;
        padding: 5px 15px;
        border-radius: 5px;
        box-sizing: border-box;
        @include font(15px, 500);
        &.type01 {
          color: #8356ff;
          border: 1px solid #8356ff;
        }
        &.type02 {
          color: #108eff;
          border: 1px solid #108eff;
        }
        &.type03 {
          color: #ff569a;
          border: 1px solid #ff569a;
        }
      }
      .tit-sort {
        @include content-center-center;
        gap: 6px;
      }
    }
  }
  .color-wrap {
    @include content-center-center;
    gap: 10px;
    @include font(16px, 500);
  }
  .color {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    &.type01 {
      background-color: #ff7c80;
    }
    &.type02 {
      background-color: #ff9964;
    }
    &.type03 {
      background-color: #ffb648;
    }
    &.type04 {
      background-color: #ffd32b;
    }
    &.type05 {
      background-color: #fff00f;
    }
    &.type06 {
      background-color: #e4f400;
    }
    &.type07 {
      background-color: #adde00;
    }
    &.type08 {
      background-color: #76c800;
    }
    &.type09 {
      background-color: #3fb200;
    }
    &.type10 {
      background-color: #089b01;
    }
  }
  .report-top {
    margin-bottom: 30px;
    .title-wrap {
      @include layout-justify-center;
      padding-bottom: 25px;
      border-bottom: 1px solid #757575;
      .title {
        position: relative;
        @include font(26px, 700);
        padding-left: 22px;
        &::before {
          @include virtual-selector;
          position: absolute;
          top: 10px;
          left: 0;
          width: 12px;
          height: 18px;
          background: url(../../images/common/ico_arrow_left.png) center no-repeat;
        }
      }
      .btn-wrap {
        @include content-center-center;
        gap: 20px;
      }
    }
    .user-wrap {
      width: 100%;
      text-align: right;
      padding-top: 20px;
      .info {
        @include font(15px, 400);
        em {
          @include font(15px, 700);
        }
      }
      .badge {
        @include content-center-center;
        width: 95px;
        height: 40px;
        border-radius: 8px;
        background-color: #ebebeb;
        @include font(15px, 500);
        color: #9e9e9e;
        margin-left: 15px;
      }
    }
  }
  .report-cnt {
    .title {
      display: block;
      position: relative;
      @include font(24px, 700);
      padding-left: 25px;
      margin-bottom: 25px;
      &::before {
        @include virtual-selector;
        position: absolute;
        top: 10px;
        left: 0;
        width: 16px;
        height: 16px;
        background: url(../../images/common/ico_tit_chk.png) center no-repeat;
      }
    }
    .justify-box {
      @include layout-justify-start;
      gap: 20px;
      height: 100%;
    }
    .col-box {
      @include layout-justify-start;
      flex-direction: column;
      gap: 15px;
    }
    .box {
      @include layout-center-center;
      box-shadow: 1px 2px 7px rgb(0 0 0 / 9%);
      padding: 30px;
      border-radius: 17px;
      border: 1px solid #e8e8e8;
      flex: 1;
      .scroll-inner {
        height: 357px;
      }
    }
    .chart-wrap {
      width: 230px;
      height: 140px;
    }
  }
  // 버튼
  .btn-sort {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../../images/common/ico_sort.png) center no-repeat;
  }
  .btn-report {
    display: inline-block;
    width: 27px;
    height: 28px;
    background: url(../../images/common/ico_report.png) center no-repeat;
  }
  .btn-download {
    display: inline-block;
    width: 29px;
    height: 26px;
    background: url(../../images/common/ico_download.png) center no-repeat;
  }
  .btn-print {
    display: inline-block;
    width: 30px;
    height: 28px;
    background: url(../../images/common/ico_print.png) center no-repeat;
  }
}


// 팝업
.pop-wrap {
  // 일괄등록 팝업
  &.file-pop {
    .file-upload {
      .file-box {
        border: 1px solid $color-line;
        input[type="file"] {
          position: absolute;
          width: 0;
          height: 0;
          padding: 0;
          overflow: hidden;
          border: 0;
        }
        label {
          @include content-center-center;
          width: 100px;
          height: 30px;
          background-color: #333;
          @include font(15px, 400);
          color: #fff;
          cursor: pointer
          
        }
        .ip-upload {
          width: 348px;
          height: 45px;
          border: 0;
          box-sizing: border-box;
          @include font(16px, 400);
          padding: 0 17px;
          pointer-events: none;
          @include text-overflow;
        }
      }
      .desc {
        margin-top: 5px;
        text-align: right;
        @include font(15px, 400);
        color: #9e9e9e;
      }
    }
    .btn-wrap {
      width: 100%;
      flex-direction: column;
      button, a {
        width: 100%;
        flex: auto;
      }
      .down {
        @include layout-center-center;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        color: #fff;
        font-size: 15px;
        background-color: #108eff;
      }
    }
  }
  // 문항정보 팝업
  .pop-que-info {
    border: 1px solid $color-line;
    padding: 13px;
    box-sizing: border-box;
    .tit {
      margin-bottom: 15px;
      @include font(14px, 500);
      .num { 
        margin-left: 7px;
      }
    }
  }
}


.table-wrap {
  &.type04 {
    border-top: 1px solid #757575;
    tr {
      border-bottom: 1px solid #e8e8e8;
      &.fc-blue {
        th, td {
          color: #108eff;
        }
      }
    }
    th {
      border-right: 1px solid #e8e8e8;
      padding: 15px 0;
      @include font(16px, 500);
      text-align: center;
    }
    td {
      padding: 15px;
      &.percent {
        text-align: center;
        @include font(18px, 700);
        color: #108eff;
        background-color: #f8fcff;
      }
      em {
        @include font(16px, 700);
      }
    }
  }
}
