@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

// common
.inner {
  width: 1240px;
  margin: auto;
}

// header
.header {
  position: relative;
  &::after {
    @include virtual-selector;
    width: 100%;height: 50px;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
  }
  .inner {
    @include layout-justify-center;
  }
  .logo {
    display: block;
    width: 161px;
    height: 31px;
    background: url(../../images/common/logo.png);
  }
  .nav, .left-wrap {
    @include layout-center;
  }
  .nav {
    margin-left: 50px;
  }
  .nav-list {
    position: relative;
  }
  .nav-item {
    display: block;
    padding: 24px 30px 25px;
    @include font(18px, 500);
    &:hover, &.active {
      color: #108eff;
    }
  }
  .depth2-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 1;
    &.on {
      display: block;
    }
  }
  .depth2 {
    position: relative;
    @include layout-center;   
  }
  .depth2-list {
    &:nth-child(1) {
      .depth2-item {
        padding-left: 30px;
      }
    }
  }
  .depth2-item {
    display: block;
    padding: 15px 13px 14px;
    color: #9e9e9e;
    font-weight: 500;
    &:hover, &.active {
      color: #333;
    }
  }
}