@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

// common
.inner {
  width: 1240px;
  margin: auto;
}
.h100 {
  position: relative;
  height: 100vh;
}
.scroll-inner {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 20px;
    border: 1px solid #cbcbcb;
  }
  &::-webkit-scrollbar-thumb {  
    border: 1px solid #cbcbcb;
    border-bottom: 0 ;
    border-top: 0;
    background-color: #ececec;    
  } 
  &::-webkit-scrollbar-button:start:decrement, &::-webkit-scrollbar-button:end:increment{
    display:block;
    height:1px;
  }
}

// header
.header {
  position: relative;
  &::after {
    @include virtual-selector;
    width: 100%;height: 50px;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
  }
  .inner {
    @include layout-justify-center;
  }
  .logo {
    display: block;
    width: 161px;
    height: 31px;
    background: url(../../images/common/logo.png) no-repeat;
  }
  .nav, .left-wrap {
    @include layout-center;
  }
  .nav {
    margin-left: 50px;
  }
  .nav-list {
    position: relative;
  }
  .nav-item {
    display: block;
    padding: 24px 30px 25px;
    @include font(18px, 500);
    &:hover, &.active {
      color: #108eff;
    }
  }
  .depth2-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 1;
    &.on {
      display: block;
    }
  }
  .depth2 {
    position: relative;
    @include layout-center;   
  }
  .depth2-list {
    &:nth-child(1) {
      .depth2-item {
        padding-left: 30px;
      }
    }
  }
  .depth2-item {
    display: block;
    padding: 15px 13px 14px;
    color: #9e9e9e;
    font-weight: 500;
    &:hover, &.active {
      color: #333;
    }
  }
}

// login
.admin-login {
  .header {
    // height: 80px;
    border-bottom: 1px solid #dddddd;
    &::after {
      display: none;
    }
    .logo {
      height: 80px;
      background-size: 161px 31px;
      background-position: center;
    }
  }
}
.login-cnt {
  position: absolute;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .login-tit {
    margin-bottom: 55px;
    @include font(34px, 500);    
  }
  .form-wrap {
    width: 384px;
    padding-bottom: 30px;
    margin: 0 auto 30px;
    border-bottom: 1px solid #e8e8e8;
  }
  .id-input, .pw-input, .btn-login {
    width: 100%;
    height: 55px;
    border-radius: 8px;
  }
  .id-wrap, .pw-wrap {
    position: relative;
  }
  .pw-wrap {
    margin-top: 10px;
  }
  .id-input, .pw-input {
    padding: 20px 50px 20px 20px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    outline: 0;
    box-sizing: border-box;
    &:focus {
      border-color: #108eff;
    }
    &::placeholder {
      color: #a4a4a4;
    }
  }
  .id-input {
    &:focus {
      & + label {
        background: url(../../images/common/ico_person_on.png) no-repeat;
      }
    }
  }
  .pw-input {
    &:focus {
      & + label {
        background: url(../../images/common/ico_lock_on.png) no-repeat;
      }
    }
  }
  .id-label, .pw-label {
    position: absolute;
  }
  .id-label {
    top: 17px;right: 21px;
    width: 19px;height: 22px;
    background: url(../../images/common/ico_person.png) no-repeat;
  }
  .pw-label {
    top: 15px;right: 18px;
    width: 22px;height: 28px;
    background: url(../../images/common/ico_lock.png) no-repeat;
  }
  .btn-login {
    color: #fff;
    font-size: 18px;
    background-color: #108eff;
  }
  .chk-wrap {
    margin: 24px 0 20px;
    text-align: left;
  }
  .id-save {
    & + label {
      padding-left: 34px;
      font-weight: 500;
      &::before {
        top: 4px;
        width: 24px;height: 24px;
        border-radius: 100%;
        background: url(../../images/common/ico_check.png) no-repeat center;
      }
    }
    &:checked {
      & + label {
        &::before {
          background: url(../../images/common/ico_check_on.png) no-repeat center;
        }
      }
    }
  }
  .desc {
    color: #909090;
    font-size: 15px;
  }
}

// 콘텐츠관리
.admin01 {
  .justify-section {
    @include layout-justify-start;
    height: 100%;
  }
  .scroll-inner {
    height: 100%;
    &::-webkit-scrollbar {
      border-top: 0;
      border-bottom: 0;
    }
    &::-webkit-scrollbar-button:start:decrement, &::-webkit-scrollbar-button:end:increment {
      height: 0;
    }
  }
  .bold {
    font-weight: 700;
  }
  .class-list-wrap {
    width: 300px;
    .tab-menu-type01 {
      li {
        a {
          width: 100px;
        }
      }
    }
    .contents, .content {
      overflow: hidden;
      height: 750px;
      border: 1px solid #cbcbcb;
      border-top: 0;
      .scroll-inner {
        &::-webkit-scrollbar {
          border-right: 0;
        }
        &::-webkit-scrollbar-thumb {
          border-right: 0;
        }
      }
    }
    .class-item {
      display: flex;
      padding: 12px 22px;
      border-bottom: 1px solid #e5e5e5;
      cursor: pointer;
      user-select:none;
      .arrow {
        position: relative;
        top: 4px;
        display: inline-block;
        margin-right: 9px;
        font-size: 9px;
      }
    }
    .chk-item {
      .arrow {
        top: -2px;
      }
    }
    .class-area {
      display: none;
    }
    .depth1-area {
      display: block;
    }
    .depth2-area {
      .class-item {
        padding-left: 32px;
      }
    }
    .depth3-area {
      .class-item {
        padding-left: 42px;
      }
    }
    .depth4-area {
      .class-item {
        padding-left: 52px;
      }
    }
    .depth5-area {
      .class-item {
        padding-left: 62px;
      }
    }
    .depth6-area {
      .class-item {
        padding-left: 72px;
      }
    }
    .depth7-area {
      .class-item {
        padding-left: 92px;
      }      
    }
    .last-area {
      .active {
        background-color: #f6f6f6;
      }
    }
  }
  .que-content-wrap {
    width: 100%;
    border: 1px solid #cbcbcb;
    border-left: 0;
    .search-wrap {
      @include layout-center;
      padding: 7px 13px 7px 21px;
      border-bottom: 1px solid #cbcbcb;
      background-color: #f1f1f1;
    }
    .search-tit {
      flex: none;
      margin-right: 18px;
      font-weight: 500;
    }
    .form-wrap {
      display: flex;
      gap: 10px;
      .select-btn {
        height: 34px;
      }
    }
    .input-text {
      width: 210px;
      height: 34px;
    }
    
  }
  .que-content {
    height: 749px;
  }
  .init-view {
    @include layout-center-center;
    height: 100%;
  }
  .que-list-wrap {
    flex: none;
    width: 537px;
    height: 100%;
    .scroll-inner {
      padding: 18px 20px;
    }
    .que-list {
      display: flex;
      align-items: flex-start;
      margin-top: 20px;
    }
    .que-item {
      position: relative;
      padding: 10px 10px 50px 10px;
      border: 1px solid #cbcbcb;
    }
    .que-tit {
      display: block;
      padding-left: 5px;
      margin-bottom: 10px;
      @include font(14px, 500);
    }
    .que-label {
      position: absolute;
      right: 0;bottom: 0;
      padding: 7px 19px;
      font-size: 12px;
    }
    .complete {
      background-color: #f0f4f8;
    }
    .necessity {
      background-color: #ffeaee;
    }
  }
  .que-info-wrap {
    width: 100%;
    padding: 20px;
    .que-table-tit {
      display: block;
      margin-bottom: 10px;
      font-weight: 500;
    }
    .table-wrap {
      margin-bottom: 15px;
    }
    table {
      td {
        height: 42px;
        padding: 9px 12px;
      }
    }
    .select-btn {
      display: inline-block;
      max-width: 190px;
      width: auto;
      padding: 0 16px 0 8px;
      text-align: left;
      @include text-overflow;
      border: 0;
      &::after {
        right: 0;
      }
    }
  }
  .que-class-wrap {
    width: 100%;
    height: 755px;
    border: 1px solid #cbcbcb;
    border-left: 0;
    .scroll-inner {
      padding: 12px;
      &::-webkit-scrollbar {
        border-right: 0;
      }
      &::-webkit-scrollbar-thumb {
        border-right: 0;
      }
    }
    .arrow {
      font-size: 12px;
    }
    .que-class-cnt {
      display: none;
    }
    .que-class-area {
      border: 1px solid #cbcbcb;
      border-bottom: 0;
    }
    .que-class-tit {
      font-weight: 500;
    }
    .que-class-btn {
      @include layout-justify-center;
      width: 100%;
      padding: 15px 18px;
      border-bottom: 1px solid #cbcbcb;
      background-color: #f6f6f6;
    }
    .class-item-tit {
      @include layout-justify-center;
      padding: 8px 20px 8px 27px;
      border-bottom: 1px solid #cbcbcb;
    }
    .class-item-txt {
      font-size: 15px;
      .class {
        font-weight: 500;
      }
    }
    .que-class-add {
      padding: 8px 20px 8px 38px; 
      border-bottom: 1px solid #cbcbcb;
    }
    .add-item {
      @include layout-justify-center;
      padding: 8px 0;
      font-size: 14px;
    }
    .add-item-txt {
      color: #108eff;
    }
    .add-item-del {
      color: #9e9ea3;
    }
  }
  .pop-content {
    margin-top: 20px;
  }
  .pop-cnt-tit {
    margin-bottom: 20px;
  }
  .top-wrap {
    height: 48px;
    padding: 13px 20px;
  }
  .test-add-step01 {
    .btn-wrap {
      margin-top: 20px;
    }
    .contents {
      height: 840px;
    }
    .que-content-wrap {
      height: 890px;
      .scroll-inner {
        &::-webkit-scrollbar {
          border-right: 0;
        }
        &::-webkit-scrollbar-thumb {
          border-right: 0;
        }
      }
    }
    .que-content {
      height: auto;
    }
    .init-view {
      height: 668px;
    }
    .que-list-wrap {
      width: 100%;
      height: auto;
      padding: 0 20px 20px;
    }
    .que-list {
      margin-top: 35px;
      &:first-child {
        margin-top: 0;
      }
    }
    .que-item {
      width: 100%;
    }
    .table-wrap {
      padding: 0 20px;
    }
    table {
      th {
        padding: 17px 0;
      }
      td {
        padding: 6px 12px;
      }
      .font-c {
        color: #108eff;
      }
    }
  }
}

// 차시별콘텐츠 관리
.admin01-02 {
  .contents {
    margin-top: 10px;
  }
  .class-list-wrap {
    .content {
      height: 705px;
    }
  }
}
