@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";



//사용자 로그인
.login-cnt {
	margin: 0 auto;
	text-align: center;
	padding: 170px 0;

	.login-tit {
		@include font(34px, 500);
	}

	.logo {
		display: none;
	}

	.login-desc {
		margin: 30px 0 60px;
		font-size: 18px;
	}

	.form-wrap {
		width: 384px;
		margin: 0 auto;
		.txt {
			display: block;
			margin: 29px 0 14px;
		}
	}

	.id-input,
	.pw-input,
	.btn-login {
		width: 100%;
		height: 55px;
		border-radius: 8px;
	}

	.id-wrap,
	.pw-wrap {
		position: relative;
	}

	.pw-wrap {
		margin-top: 10px;
	}

	.id-input,
	.pw-input {
		padding: 20px 50px 20px 20px;
		font-size: 16px;
		border: 1px solid #d1d1d1;
		outline: 0;
		box-sizing: border-box;

		&:focus {
			border-color: #108eff;
		}

		&::placeholder {
			color: #a4a4a4;
		}
	}

	.id-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_person_on.png) no-repeat;
			}
		}
	}

	.pw-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_lock_on.png) no-repeat;
			}
		}
	}

	.id-label,
	.pw-label {
		position: absolute;
	}

	.id-label {
		top: 17px;
		right: 21px;
		width: 19px;
		height: 22px;
		background: url(../../images/common/ico_person.png) no-repeat;
	}

	.pw-label {
		top: 15px;
		right: 18px;
		width: 22px;
		height: 28px;
		background: url(../../images/common/ico_lock.png) no-repeat;
	}

	.btn-login {
		color: #fff;
		font-size: 18px;
		background-color: #108eff;
	}
	.btn-naver {
		background-color: #21cc04;
		&::before {
			top: 50%;
			left: 20px;
			width: 17px;
			height: 17px;
			background: url(../../images/common/ico_naver.png) no-repeat;
			transform: translateY(-50%);
		}
	}
	.btn-kakao {
		color: #333;
		background-color: #f8e600;
		&::before {
			top: 50%;
			left: 20px;
			width: 22px;
			height: 20px;
			background: url(../../images/common/ico_kakao.png) no-repeat;
			transform: translateY(-50%);
		}
	}

	.chk-wrap {
		margin: 24px 0 20px;
		text-align: left;
	}

	.id-save {
		&+label {
			padding-left: 34px;
			font-weight: 500;

			&::before {
				top: 4px;
				width: 24px;
				height: 24px;
				border-radius: 100%;
				margin-top: -5px;
				background: url(../../images/common/ico_check.png) no-repeat center;
			}
		}

		&:checked {
			&+label {
				&::before {
					background: url(../../images/common/ico_check_on.png) no-repeat center;
				}
			}
		}
	}

	.login-wrap {
		margin-top: 20px;
		a {
			font-size: 16px;
			color: #a4a4a4;

			&::after {
				content: '';
				display: inline-block;
				margin: -2px 15px;
				width: 1px;
				height: 16px;
				background: #a4a4a4;
			}

			&:last-child::after {
				display: none;
			}
		}
	}
	.unit-list {
		@include layout-center-center;
		width: 100%;
		gap: 30px;
		li {
			position: relative;		
			width: 229px;
			height: 281px;
			padding: 20px;
			border: 1px solid #e8e8e8;
			border-radius: 26px;
			box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
			box-sizing: border-box;
			&.active {
				padding: 19px;
				border: 2px solid #108eff;
				&::before {
					position: absolute;
					top: -14px;left: 50%;
					@include virtual-selector;
					width: 28px;height: 28px;
					margin-left: -14px;
					background: url(../../images/common/ico_check_on.png) no-repeat;
					background-size: cover;
				}
				.txt {
					color: #108eff;
				}
				a {
					color: #fff;
					background-color: #108eff;
				}
			}
		}
		.txt {
			position: relative;
			display: block;
			margin-top: 33px;
			padding-top: 97px;
			font-size: 18px;
			font-weight: 500;
			&::before {
				position: absolute;
				top: 0;left: 50%;
				@include virtual-selector;
				transform: translateX(-50%);
			}
		}
		a {
			width: 100%;
			color: #108eff;
			background-color: #fff;
			border: 2px solid #108eff;
			margin-top: 46px;
		}
		.t-login {
			.txt {
				&::before {
					width: 71px;
					height: 77px;
					background: url(../../images/common/ico_login_img01.png) no-repeat;
				}
			}
			&.active {
				.txt {
					&::before {
						background: url(../../images/common/ico_login_img01_on.png) no-repeat;
					}
				}
			}
		}
		.s-login {
			.txt {
				&::before {
					width: 69px;
					height: 73px;
					background: url(../../images/common/ico_login_img02.png) no-repeat;
				}
			}
			&.active {
				.txt {
					&::before {
						background: url(../../images/common/ico_login_img02_on.png) no-repeat;
					}
				}
			}
		}
	}

}

//공시자항 
.content-wrap {
	padding: 50px 0 80px;

	.title {
		@include font(24px, 600);
	}
}

.table-top {
	@include layout-justify-center;
	margin: 60px 0 20px;
}

.table-list {
	table {
		width: 100%;
		border-top: 2px solid #757575;
		border-bottom: 1px solid #ddd;

		th,
		td {
			height: 60px;
			text-align: center;
			border-right: 1px solid #ddd;
			color: #333;
		}

		th {
			@include font(16px, 600);
		}

		td {
			color: #666;
			font-weight: 400;
			border-top: 1px solid #ddd;
		}

		.tit {
			padding: 0 20px;
			font-size: 18px;
			text-align: left;
			@include text-overflow;
			max-width: calc(100% - 20px);
		}
	}
}

.notice-cnt {

	.paging-wrap {
		margin-top: 35px;
	}
}

//로그인 전/후 목록
.t_sub_list {
	.class-cnt-wrap {
		.right-cnt {
			width: calc(100% - 230px);
			box-sizing: border-box;
		}
		.que-class-area {
			padding: 20px 20px 0 20px;
		}
		.unit-top {
			@include font(16px, 600);
			padding: 20px 20px 0 20px;
		}
		.unit-title {
			@include layout-justify-center;
			@include font(20px, 500);
			padding: 20px 20px 0 20px;
			cursor: pointer;
			&:nth-child(1) { padding: 20px; }
			em {
				@include font(20px, 500);
				color: #a1a1a1;
			}
			.acc-arrow {
				display: inline-block;
				width: 25px;
				height: 25px;
				background-image: url(../../images/common/ico_acc_arrow_down_type02.png);
				background-size: contain;
				background-repeat: no-repeat;
			}

			&.active {
				em { color: $color-main-blue; }
				.acc-arrow { background-image: url(../../images/common/ico_acc_arrow_up_type02.png); }
			}
		}
	}
	.dim {
		z-index: 4;
	}
}

//공유하기 팝업
.pop-wrap {
	.test-wrap {
		width: 100%;
		background: #f8f8f8;
	}

	&.share-pop {
		// z-index: 1;

		// .inner {
		// 	max-width: 895px;
		// 	margin: 0 auto;
		// 	padding: 0 35px;
		// }
		.select-list {
			max-height: 120px;
		}
	}

	&.exam-prev-pop {
		.test-wrap {
			@include layout-center-center;
			flex-direction: column;
			height: 555px;
		}
	}

	&.exam-edit-pop {
		// z-index: 1;
		.test-wrap {
			@include layout-center-center;
			flex-direction: column;
			height: auto;
			background: #fff;
		}
	}
}

.share-view-wrap {
	// padding: 60px 0px 45px;
	padding: 50px 0 30px;
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	position: inherit;
	.pop-tit {
		p {
			margin-bottom: 30px;
			@include font(24px, 700);
		}
		span {
			@include font(16px, 500);
			margin: 20px 0 35px;
			display: block;
		}

		&:not(:first-child) {
			padding-top: 50px;
		}
	}
	// .end-day-wrap {
	// 	@include layout-center-center;
	// 	gap: 20px;
	// 	.txt {
	// 		position: relative;
	// 		@include font(18px, 500);
	// 		padding-left: 30px;
	// 		&::before {
	// 			@include virtual-selector;
	// 			position: absolute;
	// 			top: 1px;
	// 			left: 0;
	// 			display: inline-block;
	// 			width: 20px;
	// 			height: 20px;
	// 			background: url(../../images/common/ico_calendar02.png) no-repeat center;
	// 		}
	// 	}
	// }

	.date-wrap {
		@include layout-center-center;
		// padding: 20px 0;
		gap: 10px;

		.select-list {
			a {
				text-align: left;
			}
		}
	}

	.class-wrap {
		@include layout-center-center;
		gap: 1.25vw;

		.class-box {
			width: 260px;
			height: 190px;
			border-radius: 25px;
			background: #fff;
			border: 1px solid #e8e8e8;
			box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
			color: #333;
			padding: 35px 30px 30px 25px;
			text-align: left;

			&:hover {
				background: #108eff;

				span {
					border-color: #fff;
					color: #fff;
				}

				.class-tit {
					color: #fff;
				}

				em {
					color: #fff;

					&::before {
						background: url(../../images/common/ico_person2_hover.png) no-repeat center;
					}
				}

				.btn-share {
					background: url(../../images/common/ico_share2_hover.png) no-repeat center;
				}

				.mobile-btn-share {
					display: none;
				}
			}

			a {
				@include layout-justify-end;

				div {
					span {
						@include font(15px, 600);
						border: 1px solid #333;
						border-radius: 12px;
						padding: 2px 10px;
					}

					.class-tit {
						padding: 15px 0 35px;
						@include font(28px, 800);
						font-family: 'GmarketSans';
						color: #108eff;
					}

					em {
						font-size: 15px;
						display: flex;
						align-items: center;

						&::before {
							content: '';
							display: inline-block;
							background: url(../../images/common/ico_person2.png) no-repeat center;
							width: 17px;
							height: 17px;
							background-size: contain;
							margin-right: 8px;
						}
					}
				}
			}

			.mobile-btn-share {
				display: none;
			}

		}
	}

	.share-wrap {
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 125px;
		// border: 1px solid #ccc;
		// border-radius: 26px;
		padding: 30px 0 10px;
		position: relative;

		li {
			@include layout-justify-center;
			flex-direction: column;

			&::after {
				content: '';
				width: 1px;
				height: 70px;
				background: #ccc;
				display: inline-block;
				position: absolute;
				right: 50%;
				bottom: 20px;
			}

			&:last-child::after {
				width: 0;
			}

			.url-wrap {
				@include layout-center-center;

				.btn-copy {
					width: 17px;
					height: 21px;
					background: url(../../images/common/ico_copy.png) no-repeat center;
					display: inline-block;
					margin-left: 10px;
				}
			}

			.qr-img {
				width: 50px;
				height: 50px;
				object-fit: contain;
				margin: 0 auto;
			}

			span {
				padding: 4px 12px;
				background: #ececec;
				border-radius: 15px;
				@include font(15px, 500);
			}
		}
	}

	.open-wrap {
		@include layout-center-center;
		width: 100%;
		// height: 220px;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 26px;
		margin: 0 auto;
		// padding: 25px 0;
		padding: 30px 0;
		flex-direction: column;
		.box-tit {
			@include font(20px, 600);
		}
		.box-txt {
			display: block;
			margin-top: 14px;
		}
		& > .txt {
			margin-bottom: 30px;
		}
		.txt {
			line-height: 24px;
			display: inline-block;
			// margin-bottom: 30px;

			&::before {
				content: '';
				display: block;
				background: url(../../images/common/ico_warning.png) no-repeat center;
				background-size: contain;
				width: 37px;
				height: 38px;
				margin: 0 auto 10px;
			}
		}

		.mobile-btn-share { display: none; }

		.btn-share {
			position: relative;
			@include layout-center-center;
			width: 159px;
			height: 40px;
			border-radius: 8px;
			background-color: $color-main-blue;
			gap: 10px;
			span {
				font-weight: 500;
				color: #fff;
			}
			.ic-share {
				display: inline-block;
				background: url(../../images/common/ico_share3.png) no-repeat center;
				width: 15px;
				height: 16px;
			}
			&.active {
				.open-select-list {
					display: block;
				}
			}
		}

		.open-select-list {
			// position: absolute;
			// top: -300%;
			// right: -142%;
			position: fixed;
			top: 50%;
			right: 8%;
			width: 205px;
			border: 1px solid #868686;
			background: #fff;
			z-index: 1;
			
			display: none;
			overflow: hidden;

			.list-tit {
				width: 100%;
				height: 40px;
				line-height: 40px;
				background: #e6e6e6;
				@include font(18px, 600);
				text-align: center;
			}

			.list {
				max-height: 210px;
				padding: 15px 25px;
				text-align: left;

				li {
					padding-bottom: 10px;

					&:first-child {
						&::after {
							content: '';
							width: 100%;
							height: 1px;
							background: #ccc;
							display: inline-block;
						}
					}
				}
			}

			.btn-wrap {
				display: flex;
				padding-bottom: 15px;
			}
		}

		.ic-add-class {
			display: inline-block;
			background: url(../../images/common/ico_class_add02.png) no-repeat center;
			width: 15px;
			height: 16px;
			margin: 3px 10px 0 0;
		}
		.end-day-wrap {
			@include layout-center-center;
			gap: 20px;
			margin: 20px 0 30px;
			.txt {
				position: relative;
				@include font(18px, 500);
				padding-left: 30px;
				&::before {
					@include virtual-selector;
					position: absolute;
					top: 1px;
					left: 0;
					display: inline-block;
					width: 20px;
					height: 20px;
					background: url(../../images/common/ico_calendar02.png) no-repeat center;
				}
			}
		}
		& + .open-wrap {
			margin-top: 20px;
		}
	}

}

//하단 팝업
.pop-wrap {
	&.bottom-type {
		z-index: 3;

		.pop-content {
			padding: 0 20px;

			.open-select-list {
				width: 100%;
				max-height: 218px;
				padding: 10px 20px;
				border-radius: 10px;
				box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.09);
				background-color: #fff;
				.list {

					li {
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 0;
						position: relative;
						border-bottom: 1px solid #e8e8e8;

						&:nth-last-child(1) {
							border-bottom: 0;
						}

						.all-chk {
							label {
								font-size: 16px;
							}
						}

						input,
						label {
							position: unset;
						}

						label {
							padding: 0;
							font-size: 14px;
						}

						&.all-chk {
							label {
								font-size: 15px;
								font-weight: 600;
							}
						}

					}


				}
			}
		}

		.pop-footer {
			padding: 20px 20px 50px;
		}
	}
}

//미리보기 팝업
.exam-view-wrap {
	@include layout-center-center;
	width: 100%;
	max-width: 1120px;
	padding: 30px;
	margin: 0 auto;
	height: calc(100vh - 184px);
	box-sizing: border-box;

	.view-cnt-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 1px solid #333;
		background: #fff;

		.exam-swiper-wrap {
			.que-num {
				width: 100%;
				padding: 30px 25px 0;

				span {
					@include font(24px, 600);
					line-height: 24px;
					padding-bottom: 5px;
					border-bottom: 1px solid #333;
					color: #333;
				}
			}

			.temp-box {
				@include layout-center-center;
				width: 100%;
				height: calc(100% - 55px);

				img {
					width: 80%;
					max-width: 480px;
					object-fit: contain;
				}
				.que-view .que-view-top .que-title {padding-left: 0;}
				.que-view .que-view-detail.row-type .que-view-top .que-cnt-box {margin-left: 0;}
				.que-view .que-view-cnt {padding-left: 0;}
			}

			height: 100%;

			.question-swiper {
				height: 100%;

				.swiper-button-next,
				.swiper-button-prev {
					top: 50%;
					width: 17px;
					height: 31px;
					background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
					background-size: contain;
				}

				.swiper-button-prev,
				.swiper-rtl .swiper-button-next {
					left: 30px;
					transform: rotate(-180deg);
				}

				.swiper-button-next,
				.swiper-rtl .swiper-button-prev {
					right: 30px;
				}

				.swiper-button-prev:after,
				.swiper-rtl .swiper-button-next:after,
				.swiper-button-next:after,
				.swiper-rtl .swiper-button-prev:after {
					display: none;
				}
			}
		}
	}
}

//학습자료 미리보기
.exam-prev02 {
	.exam-wrap {
		.exam-cnt {
			height: 610px;
		}
		.archive-swiper {
			.swiper-button-next, .swiper-button-prev {
				width: 174px;
				height: 49px;
			}
			.swiper-button-next, .swiper-rtl .swiper-button-prev {
				color: #fff;
				border: 0;
				background-color: #ff569a;
			}
		}
	}
}

//형성평가 편집하기 팝업
.exam-edit-wrap {
	@include layout-center-center;
	width: 100%;
	max-width: 1120px;
	padding: 20px 30px;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;

	.view-cnt-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		.class-tit {
			margin-bottom: 20px;

			span {
				@include font(18px, 600);

				&::after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 15px;
					margin: 0 15px;
					background: #979797;
				}

				&:last-child::after {
					width: 0;
				}
			}
		}

		.que-list-wrap {
			width: 100%;
			@include layout-justify-center;

			.que-list {

				&.type01 {
					background: #fff;
				}

				&.type02 {
					background: #eff8ff;
					border-color: #9dd1ff;
					.btn-wrap {
						button {
							width: 69px;
							height: 29px;
							color: #333;
							border-radius: 5px;
							background-color: #fff;
						}
						i {
							position: relative;
							top: 1px;
							width: 16px;height: 16px;
							margin-right: 5px;
						}
						.add {
							
							
							background: url(../../images/common/ico_add_type03.png) no-repeat;
						}
						.rotate {
							background: url(../../images/common/ico_rotate_off.png) no-repeat;
							background-size: contain;
						}
					}
				}

				width: 520px;
				height: 537px;
				padding: 20px;
				border: 1px solid #e8e8e8;
				box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
				border-radius: 17px;

				.top-txt {
					@include font(20px, 600);
					margin-bottom: 15px;
				}

				.que-box-wrap {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 20px;
					&.default-box {
						height: calc(100% - 41px);
						align-items: center;
						justify-content: center;
						img {
							margin: -1px 6px 0 9px;
						}
					}
					.que-box {
						width: 100%;
						height: 290px;
						border: 1px solid #b2b2b2;
						background: #fff;

						.top-area {
							@include layout-justify-center;
							width: 100%;
							height: 45px;
							background: #333;
							color: #fff;
							padding: 15px 20px;

							.que-num {
								@include font(18px, 500);
							}

							.btn-wrap {
								gap: 10px;
							}
						}

						.bottom-area {
							width: 100%;
							height: calc(100% - 45px);
							padding: 0 20px;
							position: relative;

							.temp-box {
								@include layout-center-center;
								width: 100%;
								height: 100%;

								img {
									width: 80%;
									max-width: 450px;
									object-fit: contain;
								}
							}

							.btn-icon-type03 {
								width: 33px;
								height: 33px;
								border-radius: 5px;
								border: 1px solid #bbb;
								background: #fff;
								position: absolute;
								bottom: 20px;
								right: 20px;

								i {
									&.rotate {
										background: url(../../images/common/ico_rotate_off.png) no-repeat center;
										width: 18px;
										height: 18px;
									}
								}
							}
						}

						&.active {
							border: 1px solid $color-main-blue;

							.top-area {
								background: $color-main-blue;
							}

							.btn-icon-type03 {
								border: 1px solid $color-main-blue;

								i {
									&.rotate {
										background: url(../../images/common/ico_rotate_on.png) no-repeat center;
									}
								}
							}
						}


					}

					.btn-icon-type02 {
						i {
							&.delete {
								background: url(../../images/common/ico_del_type03.png) no-repeat center;
								width: 20px;
								height: 21px;
							}

							// &.add {
							// 	background: url(../../images/common/ico_add_type02.png) no-repeat center;
							// 	width: 17px;
							// 	height: 17px;

							// }

							// &.rotate {
							// 	background: url(../../images/common/ico_rotate_type02.png) no-repeat center;
							// 	width: 18px;
							// 	height: 19px;
							// }
						}
					}
				}

			}
		}

		.btn-wrap {
			&.type01 {
				margin: 20px auto 0;
				display: flex;
			}
		}

		.que-view .que-view-detail {max-width: 100%;}
		.que-view .que-view-top .que-title,
		.que-view .que-view-cnt {padding-left: 0;padding-right: 20px;}
		.que-view .que-view-detail.row-type .que-view-top .que-cnt-box {margin-left: 0;}
	}
}






@media screen and (min-width: 1024px) and (max-width: 1390px) {
	.front-login {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}
	}

	.t_sub_list {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}

	}



}

@media screen and (max-width: 1023px) {
	.front-login {
		.container {
			.inner {
				padding: 0px 30px;
				width: 100%;
				height: 100%;
			}
		}
	}

	.t_sub_list {
		.container {
			.inner {
				width: 100%;
				padding: 0 10px;
			}
		}

		.filter-menu {
			top: 145px;

			.scroll-inner {
				height: calc(100vh - 145px);
			}
		}

		.unit-tit-wrap.has-menu {
			top: 95px;
		}


		.class-cnt-wrap {
			.unit-top {
				display: none;
			}
			.unit-title {
				padding: 20px 0 0 0;
				em {
					font-size: 15px;
				}
				.acc-arrow {
					width: 20px;
					height: 20px;
				}
			}
			.que-class-area {
				padding: 20px 0 0 0;
			}
			.right-cnt {
				width: 100%;
				padding-left: 0;
				box-sizing: border-box;
				.scroll-inner {
					height: calc(100% - 80px);
					overflow: hidden;
				}
			}
		}

		.tab-menu-type01 {
			margin: 10px 0;
		}
	}


	.share-view-wrap {
		.mobile-btn-share {
			display: none
		}

		// .share-wrap {
		// 	li {
		// 		&::after {
		// 			right: 25vw;
		// 		}
		// 	}
		// }
	}

	.exam-view-wrap {
		.view-cnt-wrap {

			.exam-swiper-wrap {
				.que-num {
					padding: 15px 10px 0;

					span {
						@include font(18px, 600);
						line-height: 20px;
					}
				}

				.temp-box {
					height: calc(100% - 40px);
				}

				.question-swiper {

					.swiper-button-prev,
					.swiper-rtl .swiper-button-next {
						left: 10px;
					}

					.swiper-button-next,
					.swiper-rtl .swiper-button-prev {
						right: 10px;
					}

					.swiper-button-next,
					.swiper-button-prev {
						width: 10px;
						height: 20px;
					}
				}
			}
		}
	}


	.pop-wrap {
		&.exam-edit-pop {
			.pop-content {
				padding-bottom: 20px;
			}
			.test-wrap {
				overflow: auto;
				height: 560px;
				
			}
		}
	}

	.exam-edit-wrap {

		.view-cnt-wrap {
			.class-tit {
				text-align: center;
				margin-bottom: 0;

				span {
					&::after {
						display: none;
					}
				}
			}
			.btn-wrap.type01 {
				margin: 20px 0;
			}
			.que-list-wrap {
				flex-direction: column;

				.que-list {
					width: 100%;
					height: 100%;
					padding: 20px 0 0;
					border: 0;
					box-shadow: none;
					border-radius: 0;
					&.type01,
					&.type02 {
						background: transparent;
					}
					&.type01 {
						margin-bottom: 20px;
					}
					&.type02 {
						// margin-top: 20px;
						height: 198px;
						padding: 0;
					}
					.top-txt {
						margin-bottom: 10px;
						font-size: 16px;
					}
					.que-box-wrap {
						.que-box {

							.bottom-area {
								.temp-box {
									img {
										max-width: 350px;
									}
								}
							}
						}

						.edit-swiper {
							height: 100%;

							.swiper-button-next,
							.swiper-button-prev {
								top: 60%;
								width: 10px;
								height: 20px;
								background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
								background-size: contain;
							}

							.swiper-button-prev,
							.swiper-rtl .swiper-button-next {
								left: 10px;
								transform: rotate(-180deg);
							}

							.swiper-button-next,
							.swiper-rtl .swiper-button-prev {
								right: 10px;
							}

							.swiper-button-prev:after,
							.swiper-rtl .swiper-button-next:after,
							.swiper-button-next:after,
							.swiper-rtl .swiper-button-prev:after {
								display: none;
							}
							
						}
						&.default-box {
							height: 176px;
							font-size: 15px;
							border: 1px solid #9dd1ff;
							background-color: #eff8ff;
						}
					}
				}
			}
		}
		.que-view {
			height: calc(100% - 22px);
		}
		
	}
	
}


@media screen and (max-width: 767px) {
	[class^=web-] {
		display: none !important;
	}

	[class^=mo-] {
		display: block !important;
	}

	[class^=mo-only-] {
		display: block !important;
	}

	.front-login {
		.container {
			.inner {
				padding: 0 30px;
				width: 100%;
				height: 100%;
			}
		}

		.login-cnt,
		.error-cnt,
		.loading-cnt {
			padding: 60px 0;
		}

		.login-cnt {

			.login-tit {
				display: none;
			}

			.logo {
				display: block;
				width: 185px;
				height: 35px;
				background: url(../../images/common/logo.png) no-repeat;
				background-size: contain;
				margin: 0 auto;
				margin-bottom: 35px;
			}

			.login-desc {
				margin: 35px 0 54px;
				@include font(16px, 500);
			}

			.form-wrap {
				width: 100%;
				// height: 50px;
			}

			.id-input,
			.pw-input,
			.btn-login {
				height: 50px;
			}

			.id-input {
				&:focus {
					&+label {

						background-size: 15px 17px;
					}
				}
			}

			.pw-input {
				&:focus {
					&+label {
						background-size: 16px 20px;
					}
				}
			}


			.id-label {
				width: 17px;
				height: 17px;
				right: 18px;
				background-size: contain;
			}

			.pw-label {
				width: 16px;
				height: 20px;
				background-size: contain;
			}
			.unit-list {
				gap: 10px;
				li {
					width: 50%;
					min-width: 155px;
					height: 191px;
					padding: 12px;
					&.active {
						padding: 11px;
					}
					.txt {
						margin-top: 30px;
						padding-top: 68px;
						font-size: 14px;
					}
					a {
						height: 30px;
						margin-top: 19px;
						font-size: 14px;
					}
				}
				.t-login {
					.txt {
						&::before {
							width: 53px;
							height: 58px;
							background-size: contain;
						}
					}
				}
				.s-login {
					.txt {
						&::before {
							width: 54px;
							height: 58px;
							background-size: contain;
						}
					}
				}
			}


		}
	}



	//공유하기 팝업
	.pop-wrap {
		&.share-pop {
			.pop-content {
				.inner {
					padding: 30px 15px 20px;
					text-align: center;
				}
			}
		}
	}

	.share-view-wrap {
		padding: 0;

		.pop-tit {
			p {
				margin-bottom: 20px;
				font-size: 18px;
			}

			span {
				font-size: 14px;
				margin: 10px 0 30px;
			}

			&:not(:first-child) {
				padding-top: 30px;
			}
		}

		// .end-day-wrap {
		// 	position: relative;
		// 	padding-bottom: 60px;
		// 	margin-bottom: 20px;
		// 	gap: 10px;
		// 	.txt {
		// 		font-size: 16px;
		// 		margin-right: 0;

		// 		&::before {
		// 			content: '';
		// 			display: inline-block;
		// 			width: 20px;
		// 			height: 20px;
		// 			margin-right: 10px;
		// 			background: url(../../images/common/ico_calendar02.png) no-repeat center;

		// 		}
		// 	}
		// 	.date-wrap {
		// 		position: absolute;
		// 		bottom: 0;
		// 		padding: 0;
		// 		.select-wrap {
		// 			.select-btn {
		// 				min-width: 80px;
		// 				padding: 0 40px 0 14px;
		// 			}
	
		// 			.select-list {
		// 				a {
		// 					padding: 12px 14px;
		// 				}
		// 			}
		// 		}
		// 	}
		// }


		.class-wrap {
			flex-direction: column;

			.class-box {
				width: 100%;
				height: auto;
				border-radius: 15px;
				padding: 20px 15px;

				&:hover {

					span,
					em {
						color: #fff;

						&::before {
							background: url(../../images/common/ico_person2_hover.png) no-repeat center;
							background-size: contain;
						}
					}

					.btn-share {
						display: none;
					}
				}

				a {
					align-items: center;

					div {
						span {
							@include font(18px, 800);
							border: 0;
							border-radius: 0;
							padding: 0;
							font-family: 'GmarketSans';
							color: #108eff;
						}

						.class-tit {
							padding: 0;
							@include font(18px, 800);
							display: inline;
						}

						em {
							font-size: 14px;
							margin-top: 5px;

							&::before {
								width: 13px;
								height: 13px;
								background-size: contain;
								margin-right: 8px;
							}
						}
					}
				}

				.btn-share {
					display: none;
				}

				.mobile-btn-share {
					background: url(../../images/common/ico_share2.png) no-repeat center;
					background-size: contain;
					width: 21px;
					height: 21px;
					position: relative;
					display: block;

				}

				.open-select-list {
					display: none;
				}

			}
		}

		.share-wrap {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: auto;
			margin-top: 18px;
			border: 0;
			gap: 10px;
			position: relative;
			padding: 0;

			li {
				width: 100%;
				justify-content: center;
				flex-direction: column;
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 7px 0;

				&::after {
					width: 0;
				}

				&:last-child::after {
					width: 0;
				}

				.url-txt {
					display: none;
				}

				// .url-img {
				// 	background: url(../../images/common/ico_copy.png) no-repeat center;
				// 	width: 19px;
				// 	height: 23px;
				// 	display: block;

				// }

				.btn-copy {
					width: 22px;
					height: 22px;
					background: url(../../images/common/ico_url_c.png) no-repeat center;
				}

				.qr-img, .url-btn {
					display: none;
				}

				.btn-down-img {
					width: 22px;
					height: 20px;
					background: url(../../images/common/ico_down.png) no-repeat center;
				}

				span {
					margin-top: 5px;
					padding: 0;
					background: transparent;
					border-radius: 0;
					@include font(14px, 400);
				}
			}
		}

		.open-wrap {
			// height: 175px;
			padding: 20px 9px;
			.box-tit {
				font-size: 16px;
			}
			.box-txt {
				margin-top: 10px;
				font-size: 14px;
			}
			.txt {
				line-height: 20px;
				font-size: 14px;
				margin-bottom: 15px;

				&::before {
					content: '';
					width: 27px;
					height: 28px;
					margin: 0 auto 7px;
				}
			}
			
			.btn-share { display: none; }

			.mobile-btn-share {
				position: relative;
				@include layout-center-center;
				width: 159px;
				height: 40px;
				border-radius: 8px;
				background-color: $color-main-blue;
				gap: 10px;
				span {
					font-weight: 500;
					color: #fff;
				}
				.ic-share {
					display: inline-block;
					background: url(../../images/common/ico_share3.png) no-repeat center;
					width: 15px;
					height: 16px;
				}
			}
			.end-day-wrap {
				position: relative;
				padding-bottom: 60px;
				margin-bottom: 20px;
				gap: 10px;
				.txt {
					font-size: 16px;
					margin-right: 0;
					margin-bottom: 0;
					&::before {
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						margin-right: 10px;
						background: url(../../images/common/ico_calendar02.png) no-repeat center;
	
					}
				}
				.date-wrap {
					position: absolute;
					bottom: 0;
					padding: 0;
					.select-wrap {
						.select-btn {
							min-width: 70px;
							padding: 0 32px 0 10px;
							&::after {
								right: 9px;
							}
						}
		
						.select-list {
							a {
								padding: 12px 14px;
							}
						}
					}
				}
			}
		}
	}

	//qr코드 모바일 이미지 버전
	.pop-wrap.image-type {
		.pop-content {
			padding: 50px 0 60px;

			.txt {
				image {
					object-fit: contain;
				}
			}
		}
	}


	//형성평가 편집하기 팝업
	.exam-edit-wrap {
		

		.view-cnt-wrap {
			.class-tit {
				span {
					font-size: 17px;
					line-height: 20px;
				}
			}

			.que-list-wrap {
				flex-direction: column;

				.que-list {
					.que-box-wrap {
						.que-box {
							height: 170px;

							.top-area {
								height: 33px;
							}

							.bottom-area {
								height: calc(100% - 30px);

								.temp-box {
									img {
										max-width: 230px;
									}
								}

								.btn-icon-type03 {
									width: 25px;
									height: 25px;
									bottom: 10px;
									right: 10px;

									i {
										&.rotate {
											width: 13px;
											height: 15px;
											background-size: contain;
										}
									}
								}
							}
						}

						.btn-icon-type02 {
							i {
								&.delete {
									width: 17px;
									height: 18px;
									background-size: contain;
								}

								&.add {
									width: 14px;
									height: 14px;
									background-size: contain;
								}

								&.rotate {
									width: 13px;
									height: 15px;
									background-size: contain;
								}
							}
						}
					}
				}
			}
		}
	}

	//시험지미리보기 팝업
	.pop-wrap {
		&.exam-prev-pop {
			.test-wrap {
				height: auto;
			}
		}
		.exam-view-wrap {
			padding: 10px;
		}
	}
	//학습자료 미리보기 팝업
	.exam-prev02 {
		.exam-wrap {
			.exam-cnt {
				height: 500px;
			}
			.archive-swiper {
				.swiper-button-next, .swiper-button-prev {
					width: 48%;
					height: 40px;
				}
			}
		}
	}
}