@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

[class^='web-'] {
  display: block !important;
}
[class^='web-flex-'] {
  display: flex !important;
}
[class^='mo-'] {
  display: none !important;
}
[class^='mo-flex-'] {
  display: none !important;
}
.s_sub01_01 {
  .class-tit-wrap {
    @include layout-center;
    flex-direction: row;
    position: relative;
    padding: 50px 0 20px 0;
    border-bottom: 1px solid #757575;
    .select-wrap {
      padding-left: 20px;
    }
    .btn-arrow {
      width: 12px;
      height: 18px;
      background: url(../../images/common/ico_arrow_left.png) no-repeat;
    }
  }
  .class-cnt-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 40px 0 60px 0;
    .right-cnt {
      width: calc(100% - 230px);
      padding-left: 40px;
      box-sizing: border-box;
    }
    .unit-title {
      @include font(20px, 500);
      padding: 40px 0 20px 0;
      em {
        @include font(20px, 500);
        color: $color-main-blue;
        margin-left: 10px;
      }
    }
  }
  .badge-state {
    margin-right: 10px;
  }
}

// 평가 응시 화면 (회원)
.exam-wrap {
  width: 100%;
  background-color: #f8f8f8;
  &.type01 {
    background-color: #fafcff;
  }
  .exam-top {
		width: 100%;
    height: 70px;
		background-color: $color-main-blue;
		z-index: 2;
    border-bottom: 0;
    padding-bottom: 0;
    .inner {
      @include layout-justify-center;
      height: 100%;
    }
    .tit {
      @include layout-center;
      gap: 20px;
    }
		.txt {
			color: #fff;
			@include font(20px, 500);
			em {
				display: inline-block;
				font-weight: 700;
				margin-right: 5px;	
			}
		}
		.btn-arrow {
			width: 12px;
			height: 18px;
			background: url(../../images/common/ico_arrow_left_type02.png) no-repeat;
		}
    .btn-close {
      width: 18px;
      height: 18px;
      background: url(../../images/common/ico_exam_close.png) no-repeat;
    }
	}
  .exam-cnt {
    @include layout-center-center;
    width: 100%;
    max-width: 1280px;
    padding: 30px 20px;
    margin: 0 auto;
    height: calc(100vh - 184px);
    box-sizing: border-box;
  }
  .exam-tit-wrap {
    @include layout-center-center;
    flex-direction: column;
    .tit-wrap {
      @include layout-center;
      flex-direction: column;
    }
    .exam {
      width: 115px;
      height: 128px;
      background-image: url(../../images/common/ico_exam.png);
      &.type02 {
        background-image: url(../../images/common/ico_exam_type02.png);
      }
      &.type03 {
        background-image: url(../../images/common/ico_exam_type03.png);
      }
    }
    .unit-tit {
      @include font(60px, 700);
      margin-top: 20px;
    }
    .date {
      @include font(30px, 500);
      margin-top: 20px;
    }
    .num {
      padding: 7px 40px;
      height: 85px;
      @include font(50px, 700);
      background-image: linear-gradient(to right, #1f8bff , #8257ff);
      color: #fff;
      border-radius: 20px;
      margin-top: 40px;
    }
    .desc {
      @include font(30px, 500);
      margin-top: 100px;
    }
  }
  .exam-que-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
    background-color: #fff;
  }
  .time-wrap {
    @include layout-center;
    gap: 8px;
    padding: 30px 30px 0 30px;
    .clock {
      width: 17px;
      height: 17px;
      background-image: url(../../images/common/ico_clock.png);
    }
    span {
      font-weight: 500;
    }
  }
  .exam-swiper-wrap {
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
  }
  .question-swiper {
    position: relative;
    height: 100%;
    .temp-box {
      @include layout-center-center;
      width: 100%;
      height: calc(100% - 80px);
      img {
        width: 80%;
        max-width: 480px;
        object-fit: contain;
      }
    }
    .exam-que-answer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 80px;
      border-top: 1px solid #dcdcdc;
      box-sizing: border-box;
      .input-wrap {
        width: 500px;
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translate(-50%);
        input {
          width: 100%;
        }
      }
      .btn-wrap:nth-child(1) {
        position: absolute;
        top: 17px;
        left: 50%;
        transform: translate(-50%);
        gap: 20px;
      }
      .btn-type02 {
        position: absolute;
        top: 12px;
        right: 30px;
        &.blue {
          left: 30px;
        }
      }
    }
    .swiper-button-next, .swiper-button-prev {
      top: 40%;
      width: 17px;
      height: 31px;
      background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
      background-size: contain;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
      left: 30px;
      transform: rotate(-180deg);
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
      right: 30px;
    }
    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
      display: none;
    }
  }
}

// 평가 답안지 팝업 영역
.pop-wrap {
  &.que-type02 {
    .pop-content {
      width: 420px;
    }
    .scroll-inner {
      max-height: 420px;
    }
  }
}
.que-omr-cnt {
  .que-omr {
    border-top: 1px solid #dcdcdc;
    &.incorrect {
      .que-num {
        position: relative;
        &::before {
          @include virtual-selector;
          position: absolute;
          width: 45px;
          height: 49px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url(../../images/common/ico_incorrect.png) center no-repeat;
          background-size: contain;
        }
      }
    }
    &.correct {
      .que-num {
        position: relative;
        &::before {
          @include virtual-selector;
          position: absolute;
          width: 62px;
          height: 58px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: url(../../images/common/ico_correct.png) center no-repeat;
          background-size: contain;
        }
      }
    }
  }
  .center-box {
    @include layout-center;
    > div {
      padding: 30px;
    }
  }
  .start-box {
    display: flex;
    align-items: flex-start;
    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }
  .que-num {
    @include font(18px, 700);
    white-space: nowrap;
  }
  .que-answer {
    width: 100%;
    border-left: 1px solid #dcdcdc;
    .ip-type02 {
      width: 100%;
    }
  }
  .que-cmt {
    border-top: 1px solid #dcdcdc;
    padding: 20px 30px;
  }
  .cmt-area {
    width: 100%;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
		text-overflow: ellipsis;
    &.active {
      height: initial;
      overflow: initial;
      white-space: initial;
      text-overflow: initial;
    }
  }
}

// 평가 응시 화면 팝업 (비회원)
.pop-exam {
  z-index: 1;
  .exam-wrap {
    @include layout-center-center;
    flex-direction: column;
    height: calc( 100vh - 45px);
    &.type01 {
      .unit-title {
        @include layout-center;
        flex-direction: column;
        @include font(50px, 700);
        em {
          @include font(60px, 700);
        }
      }
      .start-box {
        width: 620px;
        margin: 36px 0;
      }
      .table-wrap {
        margin-bottom: 10px;
      }
      .desc {
        text-align: right;
        color: #a4a4a4;
      }
      .btn-wrap {
        flex-direction: column;
        .btn-type02 {
          width: 255px;
        }
      }
    }
  }
}



@media screen and (max-width: 1023px) {
	[class^='web-'] {
    display: none !important;
  }
  [class^='web-flex-'] {
    display: none !important;
  }
  [class^='mo-'] {
    display: block !important;
  }
  [class^='mo-flex-'] {
    display: flex !important;
  }

  .s_sub01_01 {
    .class-tit-wrap {
      @include layout-center-center;
      position: fixed;
      top: 50px;
      left: 0;
      width: 100%;
      height: 50px;
      border-bottom: 0;
      padding-bottom: 0;
      background-color: #f1f1f1;
      z-index: 3;
      padding: 0;
      .btn-arrow { display: none; }
      .select-wrap {
        padding-left: 0;
      }
    }
    .que-class-item {
      flex-direction: row;
      &.lock-item {
        .lock-dim {
          span { font-size: 14px; }
        }
      }
    }
    .que-class-tit {
      order: 2;
    }
    .badge-state {
      order: 1;
    }
    .acc-arrow {
      order: 3;
    }
    .class-cnt-wrap {
      padding: 100px 0 40px 0;
      .right-cnt {
        width: 100%;
        padding-left: 0;
      }
      .unit-title {
        display: none;
      }
    }
    .tab-menu-type01 {
      margin: 10px 0;
    }
  }

  // 평가 응시 화면
  .exam-wrap {
    .exam-top {
      height: 60px;
      .txt {
        font-size: 17px;
      }
      .btn-arrow {
        width: 9px;
        height: 15px;
        background: url(../../images/common/ico_arrow_left_type02.png) no-repeat;
      }
      .btn-close {
        display: none;
      }
    }
    .exam-cnt {
      height: calc(100vh - 110px);
      padding: 20px;
    }
    .exam-tit-wrap {
      .tit-wrap {
        flex-direction: row;
        gap: 10px;
      }
      .exam {
        width: 40px;
        height: 44px;
        margin-top: 5px;
      }
      .unit-tit {
        font-size: 32px;
        margin-top: 0;
      }
      .date {
        font-size: 18px;
        margin-top: 15px;
      }
      .num {
        padding: 10px 20px;
        height: 50px;
        font-size: 22px;

        border-radius: 10px;
        margin-top: 60px;
      }
      .desc {
        font-size: 18px;
        margin-top: 60px;
      }
    }
    .time-wrap {
      padding: 15px 10px 0 10px;
    }
    .exam-swiper-wrap {
      height: calc(100% - 35px);
    }
    .question-swiper {
      .temp-box {
        height: calc(100% - 131px);
      }
      .exam-que-answer {
        @include layout-center-center;
        flex-direction: column;
        height: auto;
        .input-wrap {
          width: 100%;
          position: initial;
          transform: initial;
          padding: 10px;
          border-bottom: 1px solid #dcdcdc;
        }
        .btn-wrap:nth-child(1) { 
          position: initial;
          transform: initial;
          width: 100%;
          padding: 10px;
          border-bottom: 1px solid #dcdcdc;
        }
        .btn-wrap:nth-child(2) {
          width: 100%;
          padding: 10px;
        } 
        .btn-type02 {
          position: initial;
          height: 50px;
        }
      }
      .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 10px;
      }
      .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 10px;
      }
      .swiper-button-next, .swiper-button-prev {
        width: 10px;
        height: 20px;
      }
    }
  }

  // 평가 답안지 팝업 영역
  .pop-wrap {
    &.que-type02 {
      .pop-content {
        width: 320px;
      }
    }
  }
  .que-omr-cnt {
    .center-box {
      > div {
        padding: 0;
      }
    }
    .que-answer {
      border-left: 0;
    }
    .que-cmt {
      padding: 15px 10px;
      font-size: 15px;
    }
    .que-omr {
      .que-num {
        padding: 20px;
      }
      .que-answer {
        padding: 20px 10px 20px 0;
      }
      &.incorrect {
        .que-num {
          &::before { width: 36px; }
        }
      }
      &.correct {
        .que-num {
          &::before { width: 48px; }
        }
      }
    }
  }

  // 평가 응시 화면 팝업 (비회원)
  .pop-exam {
    .exam-wrap {
      width: 100%;
      height: calc( 100vh - 50px);
      &.type01 {
        padding: 0 20px;
        box-sizing: border-box;
        .unit-title {
          @include font(18px, 500);
          em {
            @include font(18px, 500);
          }
        }
        .start-box {
          width: 100%;
          margin: 30px 0;
        }
        .table-wrap {
          margin-bottom: 10px;
        }
        .desc {
          font-size: 14px;
        }
        .btn-wrap {
          width: 100%;
          .btn-type02 {
            width: 100%;
          }
        }
      }
    }
  }
}