@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";



//사용자 로그인
.login-cnt {
	margin: 0 auto;
	text-align: center;
	padding: 190px 0 210px;

	.login-tit {
		@include font(34px, 500);
	}

	.logo {
		display: none;
	}

	.login-desc {
		margin: 30px 0 40px;
	}

	.form-wrap {
		width: 384px;
		padding-bottom: 30px;
		margin: 0 auto 30px;
	}

	.id-input,
	.pw-input,
	.btn-login {
		width: 100%;
		height: 55px;
		border-radius: 8px;
	}

	.id-wrap,
	.pw-wrap {
		position: relative;
	}

	.pw-wrap {
		margin-top: 10px;
	}

	.id-input,
	.pw-input {
		padding: 20px 50px 20px 20px;
		font-size: 16px;
		border: 1px solid #d1d1d1;
		outline: 0;
		box-sizing: border-box;

		&:focus {
			border-color: #108eff;
		}

		&::placeholder {
			color: #a4a4a4;
		}
	}

	.id-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_person_on.png) no-repeat;
			}
		}
	}

	.pw-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_lock_on.png) no-repeat;
			}
		}
	}

	.id-label,
	.pw-label {
		position: absolute;
	}

	.id-label {
		top: 17px;
		right: 21px;
		width: 19px;
		height: 22px;
		background: url(../../images/common/ico_person.png) no-repeat;
	}

	.pw-label {
		top: 15px;
		right: 18px;
		width: 22px;
		height: 28px;
		background: url(../../images/common/ico_lock.png) no-repeat;
	}

	.btn-login {
		color: #fff;
		font-size: 18px;
		background-color: #108eff;
	}

	.chk-wrap {
		margin: 24px 0 20px;
		text-align: left;
	}

	.id-save {
		&+label {
			padding-left: 34px;
			font-weight: 500;

			&::before {
				top: 4px;
				width: 24px;
				height: 24px;
				border-radius: 100%;
				margin-top: -5px;
				background: url(../../images/common/ico_check.png) no-repeat center;
			}
		}

		&:checked {
			&+label {
				&::before {
					background: url(../../images/common/ico_check_on.png) no-repeat center;
				}
			}
		}
	}

	.login-wrap {
		a {
			font-size: 16px;
			color: #a4a4a4;

			&::after {
				content: '';
				display: inline-block;
				margin: -2px 15px;
				width: 1px;
				height: 16px;
				background: #a4a4a4;
			}

			&:last-child::after {
				display: none;
			}
		}
	}


}

//공시자항 
.content-wrap {
	padding: 50px 0 80px;

	.title {
		@include font(24px, 600);
	}
}

.table-top {
	@include layout-justify-center;
	margin: 60px 0 20px;
}

.table-list {
	table {
		width: 100%;
		border-top: 2px solid #757575;
		border-bottom: 1px solid #ddd;

		th,
		td {
			height: 60px;
			text-align: center;
			border-right: 1px solid #ddd;
			color: #333;
		}

		th {
			@include font(16px, 600);
		}

		td {
			color: #666;
			font-weight: 400;
			border-top: 1px solid #ddd;
		}

		.tit {
			padding: 0 20px;
			font-size: 18px;
			text-align: left;
			@include text-overflow;
			max-width: calc(100% - 20px);
		}
	}
}

.notice-cnt {

	.paging-wrap {
		margin-top: 35px;
	}
}

//로그인 전/후 목록
.t_sub01 {
	.class-cnt-wrap {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin: 50px auto 70px;

		.right-cnt {
			width: calc(100% - 230px);
			padding-left: 40px;
			box-sizing: border-box;
		}

		.unit-title {
			@include font(20px, 500);
			padding: 40px 0 20px 0;

			em {
				@include font(20px, 500);
				color: $color-main-blue;
				margin-left: 10px;
			}
		}
	}

	.dim {
		z-index: 4;
	}
}

//공유하기 팝업
.pop-wrap {
	.test-wrap {
		width: 100%;
		background: #f8f8f8;
	}

	&.share-pop {
		z-index: 1;

		.inner {
			max-width: 895px;
			margin: 0 auto;
			padding: 0 35px;
		}
	}

	&.exam-prev-pop {
		.test-wrap {
			@include layout-center-center;
			flex-direction: column;
			height: calc(100vh - 45px);
		}
	}

	&.exam-edit-pop {
		z-index: 1;
		.test-wrap {
			@include layout-center-center;
			flex-direction: column;
			height: calc(100vh - 45px);
			background: #fff;
		}
	}
}

.share-view-wrap {
	padding: 60px 0px 45px;
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	position: inherit;

	.pop-tit {
		p {
			@include font(24px, 700);
		}

		span {
			@include font(16px, 500);
			margin: 20px 0 45px;
			display: block;
		}

		&:not(:first-child) {
			padding-top: 50px;
		}
	}

	.end-day-wrap {
		@include layout-center-center;

		.txt {
			@include font(18px, 600);
			margin-right: 20px;

			&::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				background: url(../../images/common/ico_calendar02.png) no-repeat center;

			}
		}
	}

	.date-wrap {
		@include layout-center-center;
		padding: 20px 0;
		gap: 10px;

		.select-list {
			a {
				text-align: left;
			}
		}
	}

	.class-wrap {
		@include layout-center-center;
		gap: 1.25vw;

		.class-box {
			width: 260px;
			height: 190px;
			border-radius: 25px;
			background: #fff;
			border: 1px solid #e8e8e8;
			box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
			color: #333;
			padding: 35px 30px 30px 25px;
			text-align: left;

			&:hover {
				background: #108eff;

				span {
					border-color: #fff;
					color: #fff;
				}

				.class-tit {
					color: #fff;
				}

				em {
					color: #fff;

					&::before {
						background: url(../../images/common/ico_person2_hover.png) no-repeat center;
					}
				}

				.btn-share {
					background: url(../../images/common/ico_share2_hover.png) no-repeat center;
				}

				.mobile-btn-share {
					display: none;
				}
			}

			a {
				@include layout-justify-end;

				div {
					span {
						@include font(15px, 600);
						border: 1px solid #333;
						border-radius: 12px;
						padding: 2px 10px;
					}

					.class-tit {
						padding: 15px 0 35px;
						@include font(28px, 800);
						font-family: 'GmarketSans';
						color: #108eff;
					}

					em {
						font-size: 15px;
						display: flex;
						align-items: center;

						&::before {
							content: '';
							display: inline-block;
							background: url(../../images/common/ico_person2.png) no-repeat center;
							width: 17px;
							height: 17px;
							background-size: contain;
							margin-right: 8px;
						}
					}
				}
			}

			.btn-share {
				background: url(../../images/common/ico_share2.png) no-repeat center;
				width: 19px;
				height: 19px;
				position: relative;
				background-size: contain;

				&.active {
					.open-select-list {
						display: block;
					}
				}
			}

			.mobile-btn-share {
				display: none;
			}

			.open-select-list {
				position: absolute;
				width: 205px;
				border: 1px solid #868686;
				background: #fff;
				z-index: 1;
				top: 30px;
				left: 15px;
				display: none;
				overflow: hidden;

				.list-tit {
					width: 100%;
					height: 40px;
					line-height: 40px;
					background: #e6e6e6;
					@include font(18px, 600);
					text-align: center;
				}

				.list {
					max-height: 210px;
					padding: 15px 25px;
					text-align: left;

					li {
						padding-bottom: 10px;

						&:first-child {
							&::after {
								content: '';
								width: 100%;
								height: 1px;
								background: #ccc;
								display: inline-block;
							}
						}
					}
				}

				.btn-wrap {
					display: flex;
					padding-bottom: 15px;
				}
			}
		}
	}

	.share-wrap {
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 125px;
		border: 1px solid #ccc;
		border-radius: 26px;
		padding: 20px 0;
		position: relative;

		li {
			@include layout-justify-center;
			flex-direction: column;

			&::after {
				content: '';
				width: 1px;
				height: 70px;
				background: #ccc;
				display: inline-block;
				position: absolute;
				right: 260px;
				bottom: 20px;
			}

			&:last-child::after {
				width: 0;
			}

			.url-wrap {
				@include layout-center-center;

				.btn-copy {
					width: 17px;
					height: 21px;
					background: url(../../images/common/ico_copy.png) no-repeat center;
					display: inline-block;
					margin-left: 10px;
				}
			}

			.qr-img {
				width: 50px;
				height: 50px;
				object-fit: contain;
				margin: 0 auto;
			}

			span {
				padding: 4px 12px;
				background: #ececec;
				border-radius: 15px;
				@include font(15px, 500);
			}
		}
	}

	.open-wrap {
		width: 100%;
		height: 220px;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 26px;
		margin: 0 auto;
		padding: 25px 0;

		.txt {
			line-height: 24px;
			display: inline-block;
			margin-bottom: 30px;

			&::before {
				content: '';
				display: block;
				background: url(../../images/common/ico_warning.png) no-repeat center;
				background-size: contain;
				width: 37px;
				height: 38px;
				margin: 0 auto 10px;
			}
		}

		button {
			margin: 0 auto;
		}
	}

}

//하단 팝업
.pop-wrap {
	&.bottom-type {
		z-index: 3;

		.pop-content {
			padding: 0 20px;

			.open-select-list {
				width: 100%;
				max-height: 218px;
				padding: 10px 20px;
				border-radius: 10px;
				box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.09);

				.list {

					li {
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						padding: 10px 0;
						position: relative;
						border-bottom: 1px solid #ccc;

						.all-chk {
							label {
								font-size: 16px;
							}
						}

						input,
						label {
							position: unset;
						}

						label {
							padding: 0;
							font-size: 14px;
						}

						&.all-chk {
							label {
								font-size: 15px;
								font-weight: 600;
							}
						}

					}


				}
			}
		}

		.pop-footer {
			padding: 20px 20px 50px;
		}
	}
}

//미리보기 팝업
.exam-view-wrap {
	@include layout-center-center;
	width: 100%;
	max-width: 1120px;
	padding: 30px 20px;
	margin: 0 auto;
	height: calc(100vh - 184px);
	box-sizing: border-box;

	.view-cnt-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		border: 1px solid #333;
		background: #fff;

		.exam-swiper-wrap {
			.que-num {
				width: 100%;
				padding: 30px 25px 0;

				span {
					@include font(24px, 600);
					line-height: 24px;
					padding-bottom: 5px;
					border-bottom: 1px solid #333;
					color: #333;
				}
			}

			.temp-box {
				@include layout-center-center;
				width: 100%;
				height: calc(100% - 55px);

				img {
					width: 80%;
					max-width: 480px;
					object-fit: contain;
				}
			}

			height: 100%;

			.question-swiper {
				height: 100%;

				.swiper-button-next,
				.swiper-button-prev {
					top: 50%;
					width: 17px;
					height: 31px;
					background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
					background-size: contain;
				}

				.swiper-button-prev,
				.swiper-rtl .swiper-button-next {
					left: 30px;
					transform: rotate(-180deg);
				}

				.swiper-button-next,
				.swiper-rtl .swiper-button-prev {
					right: 30px;
				}

				.swiper-button-prev:after,
				.swiper-rtl .swiper-button-next:after,
				.swiper-button-next:after,
				.swiper-rtl .swiper-button-prev:after {
					display: none;
				}
			}
		}
	}
}

//형성평가 편집하기 팝업
.exam-edit-wrap {
	@include layout-center-center;
	width: 100%;
	max-width: 1120px;
	padding: 20px 30px;
	margin: 0 auto;
	height: 100%;
	box-sizing: border-box;

	.view-cnt-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		box-sizing: border-box;

		.class-tit {
			margin-bottom: 20px;

			span {
				@include font(18px, 600);

				&::after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 15px;
					margin: 0 15px;
					background: #979797;
				}

				&:last-child::after {
					width: 0;
				}
			}
		}

		.que-list-wrap {
			width: 100%;
			@include layout-justify-center;

			.que-list {

				&.type01 {
					background: #fff;
				}

				&.type02 {
					background: #f8f8f8;
				}

				width: 520px;
				height: 680px;
				padding: 20px;
				border: 1px solid #e8e8e8;
				box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
				border-radius: 17px;

				.top-txt {
					@include font(20px, 600);
					margin-bottom: 15px;
				}

				.que-box-wrap {
					width: 100%;
					display: flex;
					flex-direction: column;
					gap: 20px;

					.que-box {
						width: 100%;
						height: 290px;
						border: 1px solid #b2b2b2;
						background: #fff;

						.top-area {
							@include layout-justify-center;
							width: 100%;
							height: 45px;
							background: #333;
							color: #fff;
							padding: 15px 20px;

							.que-num {
								@include font(18px, 500);
							}

							.btn-wrap {
								gap: 15px;
							}
						}

						.bottom-area {
							width: 100%;
							height: calc(100% - 45px);
							padding: 0 20px;
							position: relative;

							.temp-box {
								@include layout-center-center;
								width: 100%;
								height: 100%;

								img {
									width: 80%;
									max-width: 450px;
									object-fit: contain;
								}
							}

							.btn-icon-type03 {
								width: 33px;
								height: 33px;
								border-radius: 5px;
								border: 1px solid #bbb;
								background: #fff;
								position: absolute;
								bottom: 20px;
								right: 20px;

								i {
									&.rotate {
										background: url(../../images/common/ico_rotate_off.png) no-repeat center;
										width: 18px;
										height: 18px;
									}
								}
							}
						}

						&.active {
							border: 1px solid $color-main-blue;

							.top-area {
								background: $color-main-blue;
							}

							.btn-icon-type03 {
								border: 1px solid $color-main-blue;

								i {
									&.rotate {
										background: url(../../images/common/ico_rotate_on.png) no-repeat center;
									}
								}
							}
						}


					}

					.btn-icon-type02 {
						i {
							&.delete {
								background: url(../../images/common/ico_del_type03.png) no-repeat center;
								width: 20px;
								height: 21px;
							}

							&.add {
								background: url(../../images/common/ico_add_type02.png) no-repeat center;
								width: 17px;
								height: 17px;

							}

							&.rotate {
								background: url(../../images/common/ico_rotate_type02.png) no-repeat center;
								width: 18px;
								height: 19px;
							}
						}
					}
				}

			}
		}

		.btn-wrap {
			&.type01 {
				margin: 30px auto 35px;
				display: flex;
			}
		}
	}
}






@media screen and (min-width: 1024px) and (max-width: 1390px) {
	.front-login {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}
	}

	.t_sub01 {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}

	}



}

@media screen and (max-width: 1023px) {
	.front-login {
		.container {
			.inner {
				padding: 0px 30px;
				width: 100%;
				height: 100%;
			}
		}
	}

	.t_sub01 {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}

		.filter-menu {
			top: 100px;

			.scroll-inner {
				height: calc(100vh - 100px);
			}
		}

		.unit-tit-wrap.has-menu {
			top: 50px;
		}


		.class-cnt-wrap {
			padding: 60px 0 40px 0;

			.unit-title {
				display: none;
			}

			.right-cnt {
				width: 100%;
				padding-left: 0;
				box-sizing: border-box;
			}
		}

		.tab-menu-type01 {
			margin: 10px 0;
		}
	}


	.share-view-wrap {
		.mobile-btn-share {
			display: none
		}

		.share-wrap {
			li {
				&::after {
					right: 25vw;
				}
			}
		}
	}

	.exam-view-wrap {
		.view-cnt-wrap {

			.exam-swiper-wrap {
				.que-num {
					padding: 15px 10px 0;

					span {
						@include font(18px, 600);
						line-height: 20px;
					}
				}

				.temp-box {
					height: calc(100% - 40px);
				}

				.question-swiper {

					.swiper-button-prev,
					.swiper-rtl .swiper-button-next {
						left: 10px;
					}

					.swiper-button-next,
					.swiper-rtl .swiper-button-prev {
						right: 10px;
					}

					.swiper-button-next,
					.swiper-button-prev {
						width: 10px;
						height: 20px;
					}
				}
			}
		}
	}


	.pop-wrap {
		&.exam-edit-pop {
			.test-wrap {
				height: 100%;
			}
		}
	}

	.exam-edit-wrap {
		padding: 20px;

		.view-cnt-wrap {
			.class-tit {
				text-align: center;
				margin-bottom: 0;

				span {
					&::after {
						display: none;
					}
				}
			}

			.que-list-wrap {
				flex-direction: column;

				.que-list {
					width: 100%;
					height: 100%;
					padding: 20px 0;
					border: 0;
					box-shadow: none;

					&.type01,
					&.type02 {
						background: transparent;
					}

					&.type02 {
						margin-top: 20px;
					}

					.que-box-wrap {
						.que-box {

							.bottom-area {
								.temp-box {
									img {
										max-width: 350px;
									}
								}
							}
						}

						.edit-swiper {
							height: 100%;

							.swiper-button-next,
							.swiper-button-prev {
								top: 60%;
								width: 10px;
								height: 20px;
								background: url(../../images/common/ico_swiper_arrow.png) no-repeat center;
								background-size: contain;
							}

							.swiper-button-prev,
							.swiper-rtl .swiper-button-next {
								left: 10px;
								transform: rotate(-180deg);
							}

							.swiper-button-next,
							.swiper-rtl .swiper-button-prev {
								right: 10px;
							}

							.swiper-button-prev:after,
							.swiper-rtl .swiper-button-next:after,
							.swiper-button-next:after,
							.swiper-rtl .swiper-button-prev:after {
								display: none;
							}
						}
					}
				}
			}
		}
	}

}


@media screen and (max-width: 767px) {
	[class^=web-] {
		display: none !important;
	}

	[class^=mo-] {
		display: block !important;
	}

	[class^=mo-only-] {
		display: block !important;
	}

	.front-login {
		.container {
			.inner {
				padding: 0 30px;
				width: 100%;
				height: 100%;
			}
		}

		.login-cnt,
		.error-cnt,
		.loading-cnt {
			padding: 100px 0 280px;
		}

		.login-cnt {

			.login-tit {
				display: none;
			}

			.logo {
				display: block;
				width: 185px;
				height: 35px;
				background: url(../../images/common/logo.png) no-repeat;
				background-size: contain;
				margin: 0 auto;
				margin-bottom: 35px;
			}

			.login-desc {
				margin: 35px 0 20px;
				@include font(15px, 500);
			}

			.form-wrap {
				width: 100%;
				height: 50px;
			}

			.id-input,
			.pw-input,
			.btn-login {
				height: 50px;
			}

			.id-input {
				&:focus {
					&+label {

						background-size: 15px 17px;
					}
				}
			}

			.pw-input {
				&:focus {
					&+label {
						background-size: 16px 20px;
					}
				}
			}


			.id-label {
				width: 17px;
				height: 17px;
				right: 18px;
				background-size: contain;
			}

			.pw-label {
				width: 16px;
				height: 20px;
				background-size: contain;
			}



		}
	}



	//공유하기 팝업
	.pop-wrap {
		&.share-pop {
			.pop-content {
				.inner {
					padding: 35px 20px 95px;
					text-align: center;
				}
			}
		}
	}

	.share-view-wrap {
		padding: 0;

		.pop-tit {
			p {
				font-size: 18px;
			}

			span {
				font-size: 14px;
				margin: 10px 0 30px;
			}

			&:not(:first-child) {
				padding-top: 30px;
			}
		}

		.end-day-wrap {
			.txt {
				font-size: 16px;
				margin-right: 10px;

				&::before {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-right: 10px;
					background: url(../../images/common/ico_calendar02.png) no-repeat center;

				}
			}
		}

		.date-wrap {
			.select-wrap {
				.select-btn {
					min-width: 80px;
					padding: 0 40px 0 14px;
				}

				.select-list {
					a {
						padding: 12px 14px;
					}
				}
			}
		}

		.class-wrap {
			flex-direction: column;

			.class-box {
				width: 100%;
				height: auto;
				border-radius: 15px;
				padding: 20px 15px;

				&:hover {

					span,
					em {
						color: #fff;

						&::before {
							background: url(../../images/common/ico_person2_hover.png) no-repeat center;
							background-size: contain;
						}
					}

					.btn-share {
						display: none;
					}

					.mobile-btn-share {
						background: url(../../images/common/ico_share2_hover.png) no-repeat center;
						background-size: contain;
						width: 21px;
						height: 21px;
						position: relative;
						display: block;
					}
				}

				a {
					align-items: center;

					div {
						span {
							@include font(18px, 800);
							border: 0;
							border-radius: 0;
							padding: 0;
							font-family: 'GmarketSans';
							color: #108eff;
						}

						.class-tit {
							padding: 0;
							@include font(18px, 800);
							display: inline;
						}

						em {
							font-size: 14px;
							margin-top: 5px;

							&::before {
								width: 13px;
								height: 13px;
								background-size: contain;
								margin-right: 8px;
							}
						}
					}
				}

				.btn-share {
					display: none;
				}

				.mobile-btn-share {
					background: url(../../images/common/ico_share2.png) no-repeat center;
					background-size: contain;
					width: 21px;
					height: 21px;
					position: relative;
					display: block;

				}

				.open-select-list {
					display: none;
				}

			}
		}

		.share-wrap {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: auto;
			border: 0;
			gap: 1.3333vw;
			position: relative;
			padding: 0;

			li {
				width: 100%;
				justify-content: center;
				flex-direction: column;
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 10px 0;

				&::after {
					width: 0;
				}

				&:last-child::after {
					width: 0;
				}

				.url-txt {
					display: none;
				}

				.url-img {
					background: url(../../images/common/ico_copy.png) no-repeat center;
					width: 19px;
					height: 23px;
					display: block;

				}

				.btn-copy {
					width: 17px;
					height: 21px;
					background: url(../../images/common/ico_copy.png) no-repeat center;
					display: inline-block;
					margin-left: 10px;
				}

				.qr-img {
					display: none;
				}

				.btn-down-img {
					width: 21px;
					height: 19px;
					background: url(../../images/common/ico_down.png) no-repeat center;
				}

				span {
					margin-top: 5px;
					padding: 0;
					background: transparent;
					border-radius: 0;
					@include font(14px, 400);
				}
			}
		}

		.open-wrap {
			height: 175px;
			padding: 20px 0;

			.txt {
				line-height: 20px;
				font-size: 14px;
				margin-bottom: 15px;

				&::before {
					content: '';
					width: 27px;
					height: 28px;
					margin: 0 auto 7px;
				}
			}
		}
	}

	//qr코드 모바일 이미지 버전
	.pop-wrap.image-type {
		.pop-content {
			padding: 50px 0 60px;

			.txt {
				image {
					object-fit: contain;
				}
			}
		}
	}


	//형성평가 편집하기 팝업
	.exam-edit-wrap {
		padding: 20px;

		.view-cnt-wrap {
			.class-tit {
				span {
					font-size: 17px;
					line-height: 20px;
				}
			}

			.que-list-wrap {
				flex-direction: column;

				.que-list {
					.que-box-wrap {
						.que-box {
							height: 180px;

							.top-area {
								height: 33px;
							}

							.bottom-area {
								height: calc(100% - 30px);

								.temp-box {
									img {
										max-width: 230px;
									}
								}

								.btn-icon-type03 {
									width: 25px;
									height: 25px;
									bottom: 10px;
									right: 10px;

									i {
										&.rotate {
											width: 13px;
											height: 15px;
											background-size: contain;
										}
									}
								}
							}
						}

						.btn-icon-type02 {
							i {
								&.delete {
									width: 17px;
									height: 18px;
									background-size: contain;
								}

								&.add {
									width: 14px;
									height: 14px;
									background-size: contain;
								}

								&.rotate {
									width: 13px;
									height: 15px;
									background-size: contain;
								}
							}
						}
					}
				}
			}
		}
	}
}