@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";



//사용자 로그인
.login-cnt {
	margin: 0 auto;
	text-align: center;
	padding: 190px 0 210px;

	.login-tit {
		@include font(34px, 500);
	}

	.logo {
		display: none;
	}

	.login-desc {
		margin: 30px 0 40px;
	}

	.form-wrap {
		width: 384px;
		padding-bottom: 30px;
		margin: 0 auto 30px;
	}

	.id-input,
	.pw-input,
	.btn-login {
		width: 100%;
		height: 55px;
		border-radius: 8px;
	}

	.id-wrap,
	.pw-wrap {
		position: relative;
	}

	.pw-wrap {
		margin-top: 10px;
	}

	.id-input,
	.pw-input {
		padding: 20px 50px 20px 20px;
		font-size: 16px;
		border: 1px solid #d1d1d1;
		outline: 0;
		box-sizing: border-box;

		&:focus {
			border-color: #108eff;
		}

		&::placeholder {
			color: #a4a4a4;
		}
	}

	.id-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_person_on.png) no-repeat;
			}
		}
	}

	.pw-input {
		&:focus {
			&+label {
				background: url(../../images/common/ico_lock_on.png) no-repeat;
			}
		}
	}

	.id-label,
	.pw-label {
		position: absolute;
	}

	.id-label {
		top: 17px;
		right: 21px;
		width: 19px;
		height: 22px;
		background: url(../../images/common/ico_person.png) no-repeat;
	}

	.pw-label {
		top: 15px;
		right: 18px;
		width: 22px;
		height: 28px;
		background: url(../../images/common/ico_lock.png) no-repeat;
	}

	.btn-login {
		color: #fff;
		font-size: 18px;
		background-color: #108eff;
	}

	.chk-wrap {
		margin: 24px 0 20px;
		text-align: left;
	}

	.id-save {
		&+label {
			padding-left: 34px;
			font-weight: 500;

			&::before {
				top: 4px;
				width: 24px;
				height: 24px;
				border-radius: 100%;
				margin-top: -5px;
				background: url(../../images/common/ico_check.png) no-repeat center;
			}
		}

		&:checked {
			&+label {
				&::before {
					background: url(../../images/common/ico_check_on.png) no-repeat center;
				}
			}
		}
	}

	.login-wrap {
		a {
			font-size: 16px;
			color: #a4a4a4;

			&::after {
				content: '';
				display: inline-block;
				margin: -2px 15px;
				width: 1px;
				height: 16px;
				background: #a4a4a4;
			}

			&:last-child::after {
				display: none;
			}
		}
	}


}

//공시자항 
.content-wrap {
	padding: 50px 0 80px;

	.title {
		@include font(24px, 600);
	}
}

.table-top {
	@include layout-justify-center;
	margin: 60px 0 20px;
}

.table-list {
	table {
		width: 100%;
		border-top: 2px solid #757575;
		border-bottom: 1px solid #ddd;

		th,
		td {
			height: 60px;
			text-align: center;
			border-right: 1px solid #ddd;
			color: #333;
		}

		th {
			@include font(16px, 600);
		}

		td {
			color: #666;
			font-weight: 400;
			border-top: 1px solid #ddd;
		}

		.tit {
			padding: 0 20px;
			font-size: 18px;
			text-align: left;
			@include text-overflow;
			max-width: calc(100% - 20px);
		}
	}
}

.notice-cnt {

	.paging-wrap {
		margin-top: 35px;
	}
}

//로그인 전/후 목록
.t_sub01_01 {
	.class-cnt-wrap {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin: 50px auto 70px;

		.right-cnt {
			width: calc(100% - 230px);
			padding-left: 40px;
			box-sizing: border-box;
		}

		.unit-title {
			@include font(20px, 500);
			padding: 40px 0 20px 0;

			em {
				@include font(20px, 500);
				color: $color-main-blue;
				margin-left: 10px;
			}
		}
	}

	.dim {
		z-index: 4;
	}
}

//풀팝업 형태
.full-pop-page {
	.full-pop-wrap.pop-share {
		.pop-content {
			padding: 60px 40px 45px;
			text-align: center;
		}
	}
}

.full-pop-wrap {
	display: block;
	max-width: 895px;
	margin: 0 auto;

	.pop-wrap {
		display: block;
		width: 100%;
		height: auto;
		box-sizing: border-box;
		position: inherit;
	}

	.pop-content {
		.pop-tit {
			p {
				@include font(24px, 700);
			}

			span {
				@include font(16px, 500);
				margin: 20px 0 45px;
				display: block;
			}

			&:not(:first-child) {
				padding-top: 50px;
			}
		}
	}

	.end-day-wrap {
		@include layout-center-center;

		.txt {
			@include font(18px, 600);
			margin-right: 20px;

			&::before {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				margin-right: 10px;
				background: url(../../images/common/ico_calendar02.png) no-repeat center;

			}
		}
	}

	.date-wrap {
		@include layout-center-center;
		padding: 20px 0;
		gap: 10px;
	}

	.class-wrap {
		@include layout-center-center;
		gap: 1.25vw;

		.class-box {
			width: 260px;
			height: 190px;
			border-radius: 25px;
			background: #fff;
			border: 1px solid #e8e8e8;
			box-shadow: 2px 2px 14px 0px rgba(0, 0, 0, 0.09);
			color: #333;
			padding: 35px 30px 30px 25px;
			text-align: left;

			&:hover {
				background: #108eff;

				span {
					border-color: #fff;
					color: #fff;
				}

				.class-tit {
					color: #fff;
				}

				em {
					color: #fff;

					&::before {
						background: url(../../images/common/ico_person2_hover.png) no-repeat center;
					}
				}

				.btn-share {
					background: url(../../images/common/ico_share2_hover.png) no-repeat center;
				}
			}

			a {
				@include layout-justify-end;

				div {
					span {
						@include font(15px, 600);
						border: 1px solid #333;
						border-radius: 12px;
						padding: 2px 10px;
					}

					.class-tit {
						padding: 15px 0 35px;
						@include font(28px, 800);
						font-family: 'GmarketSans';
						color: #108eff;
					}

					em {
						font-size: 15px;
						display: flex;
						align-items: center;

						&::before {
							content: '';
							display: inline-block;
							background: url(../../images/common/ico_person2.png) no-repeat center;
							width: 17px;
							height: 17px;
							background-size: contain;
							margin-right: 8px;
						}
					}
				}


			}

			.btn-share {
				background: url(../../images/common/ico_share2.png) no-repeat center;
				width: 19px;
				height: 19px;
				position: relative;
				background-size: contain;

				&.active {
					.open-select-list {
						display: block;
					}
				}
			}

			.open-select-list {
				position: absolute;
				width: 205px;
				border: 1px solid #868686;
				background: #fff;
				z-index: 1;
				top: 30px;
				left: 15px;
				display: none;
				overflow: hidden;

				&:hover {
					color: #333;
				}

				.list-tit {
					width: 100%;
					height: 40px;
					line-height: 40px;
					background: #e6e6e6;
					@include font(18px, 600);
					text-align: center;
				}

				.list {
					padding: 15px 25px;
					text-align: left;

					li {
						padding-bottom: 10px;

						&:first-child {
							&::after {
								content: '';
								width: 100%;
								height: 1px;
								background: #ccc;
								display: inline-block;
							}
						}

					}
				}

				.btn-wrap {
					display: flex;
					padding-bottom: 15px;
				}


			}

		}
	}

	.share-wrap {
		display: flex;
		justify-content: space-around;
		width: 100%;
		height: 125px;
		border: 1px solid #ccc;
		border-radius: 26px;
		padding: 20px 0;
		position: relative;

		li {
			@include layout-justify-center;
			flex-direction: column;

			&::after {
				content: '';
				width: 1px;
				height: 70px;
				background: #ccc;
				display: inline-block;
				position: absolute;
				right: 260px;
				bottom: 20px;
			}

			&:last-child::after {
				width: 0;
			}

			.url-wrap {
				@include layout-center-center;

				.btn-copy {
					width: 17px;
					height: 21px;
					background: url(../../images/common/ico_copy.png) no-repeat center;
					display: inline-block;
					margin-left: 10px;
				}
			}

			.qr-img {
				width: 50px;
				height: 50px;
				object-fit: contain;
				margin: 0 auto;
			}

			span {
				padding: 4px 12px;
				background: #ececec;
				border-radius: 15px;
				@include font(15px, 500);
			}
		}
	}
}




@media screen and (min-width: 1024px) and (max-width: 1390px) {
	.front-login {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}
	}

	.t_sub01_01 {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}

	}

}

@media screen and (max-width: 1023px) {
	.front-login {
		.container {
			.inner {
				padding: 0px 30px;
				width: 100%;
				height: 100%;
			}
		}
	}

	.t_sub01_01 {
		.container {
			.inner {
				width: 100%;
				padding: 0 30px;
			}
		}

		.filter-menu {
			top: 100px;

			.scroll-inner {
				height: calc(100vh - 100px);
			}
		}

		.unit-tit-wrap.has-menu {
			top: 50px;
		}


		.class-cnt-wrap {
			padding: 60px 0 40px 0;

			.unit-title {
				display: none;
			}

			.right-cnt {
				width: 100%;
				padding-left: 0;
				box-sizing: border-box;
			}
		}

		.tab-menu-type01 {
			margin: 10px 0;
		}
	}


	.full-pop-wrap {
		.share-wrap {
			li {
				&::after {
					right: 25vw;
				}
			}
		}
	}


}


@media screen and (max-width: 767px) {
	[class^=web-] {
		display: none !important;
	}

	[class^=mo-] {
		display: block !important;
	}

	[class^=mo-only-] {
		display: block !important;
	}



	.front-login {
		.container {
			.inner {
				padding: 0 30px;
				width: 100%;
				height: 100%;
			}
		}

		.login-cnt,
		.error-cnt,
		.loading-cnt {
			padding: 100px 0 280px;
		}

		.login-cnt {

			.login-tit {
				display: none;
			}

			.logo {
				display: block;
				width: 185px;
				height: 35px;
				background: url(../../images/common/logo.png) no-repeat;
				background-size: contain;
				margin: 0 auto;
				margin-bottom: 35px;
			}

			.login-desc {
				margin: 35px 0 20px;
				@include font(15px, 500);
			}

			.form-wrap {
				width: 100%;
				height: 50px;
			}

			.id-input,
			.pw-input,
			.btn-login {
				height: 50px;
			}

			.id-input {
				&:focus {
					&+label {

						background-size: 15px 17px;
					}
				}
			}

			.pw-input {
				&:focus {
					&+label {
						background-size: 16px 20px;
					}
				}
			}


			.id-label {
				width: 17px;
				height: 17px;
				right: 18px;
				background-size: contain;
			}

			.pw-label {
				width: 16px;
				height: 20px;
				background-size: contain;
			}



		}
	}

	.full-pop-page {
		.full-pop-wrap.pop-share {
			.pop-content {
				padding: 35px 20px 95px;
				text-align: center;
			}
		}
	}

	.full-pop-wrap {
		.pop-content {
			.pop-tit {
				p {
					font-size: 18px;
				}

				span {
					font-size: 14px;
					margin: 10px 0 30px;
				}

				&:not(:first-child) {
					padding-top: 30px;
				}
			}
		}

		.end-day-wrap {
			.txt {
				font-size: 16px;
				margin-right: 10px;

				&::before {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					margin-right: 10px;
					background: url(../../images/common/ico_calendar02.png) no-repeat center;

				}
			}
		}

		.class-wrap {
			flex-direction: column;

			.class-box {
				width: 100%;
				height: auto;
				border-radius: 15px;
				padding: 20px 15px;

				&:hover {
					em {
						color: #fff;

						&::before {
							background: url(../../images/common/ico_person2_hover.png) no-repeat center;
							background-size: contain;
						}
					}

					.btn-share {
						background: url(../../images/common/ico_share2_hover.png) no-repeat center;
						background-size: contain;
					}
				}

				a {
					align-items: center;

					div {
						span {
							@include font(18px, 800);
							border: 0;
							border-radius: 0;
							padding: 0;
							font-family: 'GmarketSans';
							color: #108eff;
						}

						.class-tit {
							padding: 0;
							@include font(18px, 800);
							display: inline;
						}

						em {
							font-size: 14px;
							margin-top: 5px;

							&::before {
								width: 13px;
								height: 13px;
								background-size: contain;
								margin-right: 8px;
							}
						}
					}


				}

				.btn-share {
					width: 21px;
					height: 21px;
					position: relative;
					background-size: contain;

					&.active {
						.open-select-list {
							display: block;
						}
					}
				}

				.open-select-list {
					position: absolute;
					width: 205px;
					border: 1px solid #868686;
					background: #fff;
					z-index: 1;
					top: 30px;
					left: 15px;
					display: none;
					overflow: hidden;

					&:hover {
						color: #333;
					}

					.list-tit {
						width: 100%;
						height: 40px;
						line-height: 40px;
						background: #e6e6e6;
						@include font(18px, 600);
						text-align: center;
					}

					.list {
						padding: 15px 25px;
						text-align: left;

						li {
							padding-bottom: 10px;

							&:first-child {
								&::after {
									content: '';
									width: 100%;
									height: 1px;
									background: #ccc;
									display: inline-block;
								}
							}

						}
					}

					.btn-wrap {
						display: flex;
						padding-bottom: 15px;
					}


				}

			}
		}

		.share-wrap {
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: auto;
			border: 0;
			gap: 1.3333vw;
			position: relative;

			li {
				width: 100%;
				//height: 60px;
				justify-content: center;
				flex-direction: column;
				border: 1px solid #ccc;
				border-radius: 10px;
				padding: 10px 0;

				&::after {
					width: 0;
				}

				&:last-child::after {
					width: 0;
				}

				.url-txt {
					display: none;
				}

				.url-img {
					background: url(../../images/common/ico_copy.png) no-repeat center;
					width: 19px;
					height: 23px;
					display: block;

				}

				.btn-copy {
					width: 17px;
					height: 21px;
					background: url(../../images/common/ico_copy.png) no-repeat center;
					display: inline-block;
					margin-left: 10px;
				}

				.qr-img {
					display: none;
				}

				.down-img {
					width: 21px;
					height: 19px;
					background: url(../../images/common/ico_down.png) no-repeat center;
				}

				span {
					margin-top: 5px;
					padding: 0;
					background: transparent;
					border-radius: 0;
					font-size: 14px;
				}
			}
		}
	}




}