@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";


// 리포트 리스트
.report-list-wrap {
  margin: 50px 0 100px;
  .table-wrap {
    margin-top: 20px;
  }
  .tbl-report {
    .thead {
      & > span {
        &:nth-child(1) {
          padding: 15px 5px;
        }
      }
    }
    .col {
      &.none-data {
        span {
          width: 100%;
          height: 520px;
        }
      }
      span {
        @include content-center-center;
        padding: 15px 10px;
        &.tit {
          justify-content: flex-start;
          padding: 15px 20px;
        }
        &.column {
          flex-direction: column;
        }
        .font-b {
          color: #108eff;
          font-size: 14px;
        }
      }
      .badge-color {
        margin-right: 15px;
      }
    }
    &.type02 {
      span {
        &:nth-child(4) {
          width: 49%;
        }
        &:nth-child(5) {
          width: 7%;
        }
        &:nth-child(6) {
          width: 8%;
        }
        &:nth-child(7) {
          width: 8%;
        }
      }
    }
  }
}
.report-list-top {
  position: relative;
  @include layout-justify-center;
}
.report-list-search {
  display: flex;
  gap: 10px;
}
.report-tbl-sort {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  background: url(../../images/common/ico_sort.png) no-repeat;
}
.report-tool-tip {
  display: none;
  position: absolute;
  right: 0;
  top: 56px;
  padding: 8px 37px;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1;
  .tool-tip-txt {
    font-size: 14px;
  }
}
.report-btn {
  &:hover {
    & + .report-tool-tip {
      display: block;
    }
  }
}

// 리포트 상세
.report-view-wrap {
  margin-bottom: 100px;
  .table-wrap {
    &.type01 {
      th {
        padding: 9px 10px;
        &:last-child {
          border-right: 0;
        }
      }
      td {
        height: 35px;
        padding: 5px;
        &:nth-child(1) {
          font-weight: 500;
        }
      }
      .name {
        text-align: left;
      }
      .answer {
        td {
          background-color: #f8fcff;
        }
      }
      &.style01 {
        // margin-bottom: 20px;
        th, td {
          height: 50px;
          padding: 14px 10px;
          box-sizing: border-box;
        }
      }
    }
    &.type05{
      border-top: 1px solid #757575;
      tr {
        border-bottom: 1px solid #e8e8e8;
      }
      th {
        border-right: 1px solid #e8e8e8;
        padding: 15px 0;
        @include font(16px, 600);
        text-align: center;
      }
      td {
        width: 50px;
        height: 40px;
        padding: 5px 0;
        text-align: center;
        border-left: 1px solid #e8e8e8;
        .pop-btn {
          margin: 0 auto;
          &:hover {
            color: #108eff;
          }
        }
        &:nth-child(1) {
          border-left: 0;
        }
        &.correct {
          position: relative;
          &::before {
            @include virtual-selector;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 16px;
            height: 17px;
            background: url(../../images/common/ico_tbl_o.png) no-repeat;
          }
        }
        &.incorrect {
          position: relative;
          &::before {
            @include virtual-selector;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 14px;
            height: 14px;
            background: url(../../images/common/ico_tbl_x.png) no-repeat;
          }
        }
      }
      .slash {
        padding: 0 5px;
        background: url('../../images/common/ico_tbl_slash.png') center no-repeat;
        background-size: cover;
      }
      .slash { 
        text-align: left; 
      }
      .slash span { 
        display: block;
        text-align: right; 
        margin-bottom: 40px; 
      }
    }
  }
  .report-top {
    margin: 50px auto 20px;    
    .user-wrap {
      width: 100%;
      text-align: right;
      padding-top: 20px;
      .info {
        @include font(15px, 400);
        em {
          @include font(15px, 700);
        }
      }
      .badge {
        @include content-center-center;
        width: 95px;
        height: 40px;
        border-radius: 8px;
        background-color: #ebebeb;
        @include font(15px, 500);
        color: #9e9e9e;
        margin-left: 15px;
      }
    }
  }
  .report-cnt {
    .title {
      display: block;
      position: relative;
      @include font(24px, 700);
      padding-left: 25px;
      margin-bottom: 30px;
      &::before {
        @include virtual-selector;
        position: absolute;
        top: 10px;
        left: 0;
        width: 16px;
        height: 16px;
        background: url(../../images/common/ico_tit_chk.png) center no-repeat;
      }
      &.type02 {
        padding-left: 45px;
        margin: 60px 0 20px;
        &::before {
          top: 0;
          width: 35px;
          height: 31px;
          background: url(../../images/common/ico_tit_bulb.png) center no-repeat;
        }
      }
    }
    .report-title {
      display: block;
      @include font(20px, 500);
      margin: 30px 0 20px;
    }
    .justify-box {
      @include layout-justify-start;
      &.col-type {
        flex-direction: column;
        gap: 30px;
        .box {
          @include layout-justify-start;
          flex-direction: column;
          width: 100%;
          padding: 20px 30px 30px;
          box-sizing: border-box;
          .scroll-inner {
            width: 100%;
            height: 135px;
          }
        }
      }
      .table-wrap {
        &.type03 {
          width: 500px;
          .scroll-inner {
            height: 420px;
          }
        }
      }
      &.sec02 {
        margin: 60px 0 20px;
        align-items: center;
        .report-title {
          margin: 0;
          font-size: 22px;
          em {
            margin-left: 10px;
            color: #7e7e7e;
            font-size: 18px;
          }
        }
      }
      .box-wrap {
        .box {
          height: 404px;
        }
        .chart-wrap {
          &.w258 {
            width: 258px;height: 258px;
          }
          &.w330 {
            width: 330px;height: 330px;
          }
          &.w350 {
            width: 350px;height: 350px;
          }          
          canvas {
            top: 0;
            width: 100% !important;
            height: 100% !important;
          }
        }
        &.w28 {
          width: 28%;
        }
        &.w34 {width: 34%;}
      }
    }
    .per-img {
      position: relative;
      padding-top: 16px;
      em {
        position: absolute;
        top: 0;
        font-weight: 700;
        font-size: 12px;
        &:nth-child(1) {
          left: 0;
        }
        &:nth-child(2) {
          right: 0;
        }
      }
    }
    .col-box {
      width: 23%;
      @include layout-justify-start;
      flex-direction: column;
      gap: 20px;
      .box {
        width: 100%;
        height: 170px;
      }
      &.h183 {
        .box {
          height: 183px;
        }
      }
    }
    
    .box {
      @include layout-center-center;
      box-shadow: 1px 2px 7px rgb(0 0 0 / 9%);
      border-radius: 17px;
      border: 1px solid #e8e8e8;
      &.w285 { width: 285px; height: 170px; }
      &.w26 {width: 26%;height: 239px;}      
      &.w46 {width: 46%;height: 239px;}
      &.w49 { width: 49%; height: 428px; }
      &.w75 {
        width: 75%;
        height: 358px;
        &.h386 {
          height: 386px;
        }
      }
      &.h300 {
        height: 300px;
      }
      &.h411 {
        height: 411px;
      }
      &.type02 {
        @include layout-justify-start;
        width: 100%;
        .scroll-inner {
          height: 750px;
          padding: 30px;
          box-sizing: border-box;
          &:nth-child(1) { width: 20%; }
          &:nth-child(2) { width: 80%; }
        }
        .table-wrap {
          &.type03 {
            td {
              white-space: normal;
            }
          }
        }
      }
      .scroll-inner {
        width: 100%;
        height:100%;
        padding: 30px;
      }
      &.stu-report {
        @include layout-justify-start;
        width: 100%;
        .scroll-inner {
          height: 750px;
          padding: 30px;
          box-sizing: border-box;
          &:nth-child(1) { width: 20%;border-right: 1px solid #e8e8e8; }
          &:nth-child(2) { width: 80%; }
        }
        .student-cnt {
          .scroll-inner {
            overflow: inherit;
            width: inherit;
            height: inherit;
            padding: 0;
          }
        }
        .table-wrap {
          &.type03 {
            td {
              white-space: normal;
            }
          }
        }
      }
    }
    .chart-wrap {
      position: relative;
      width: 230px;
      height: 140px;
      overflow: hidden;
      canvas {
        position: absolute;
        top: -50px;
      }
      &.type02 {
        width: 190px;
        height: 190px;
        canvas {
          top: 0;
        }
      }
    }
    .badge-color {
      display: block;
      margin: 0 auto 3px;
    }
    &.type02 {
      .title {
        margin-bottom: 40px;
      }
      .report-title {
        margin: 50px 0 30px;
      }
      .justify-box {
        &.col-type {
          .box {
            padding: 20px;
            padding-bottom: 0;
            & + .box {
              margin-top: 20px;
            }
          }
        }
      }
      .unit-title {
        margin-bottom: 20px;
      }
      .box {
        & > .tit {
          width: 100%;
          margin-bottom: 30px;
          @include font(20px, 500);
        }
        &.h411 {
          .scroll-inner {
            height: auto;
          }
        }
      }      
      .unit {
        margin-bottom: 20px;
        @include layout-center;
        .tit {
          flex:none;
          margin:0 15px;
          @include font(16px, 600);
        }
      }
    }
  }
  // 버튼
  .btn-print {
    display: inline-block;
    width: 30px;
    height: 28px;
    background: url(../../images/common/ico_print.png) center no-repeat;
  }
  .choice-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    ol {
      position: relative;
      @include font(16px, 500);
      z-index: 1;
      em { 
        margin-right: 7px;
      }
      &.answer {
        &::before {
          @include virtual-selector;
          position: absolute;
          top: -8px;
          left: -1px;
          width: 23px;
          height: 22px;
          background: url(../../images/common/ico_answer.png) no-repeat;
          z-index: 2;
        }
      }
    }
  }
  .que-tit {
    margin-bottom: 20px;
    @include font(18px, 500);
  }
  .q-btn {
    &:hover {
      color: #108eff;
    }
  }
  .hide-cnt {
    display: none;
    &.on {
      display: block;
    }
  }
  .box-title {
    display: block;
    margin-bottom: 30px;
    @include font(22px, 500)
  }
  .box {
    &.type02 {
      
    }
  }
  .nick {
    position: relative;
    top: 2px;
    margin-left: 10px;
  }
}

.stu-view {  
  .table-wrap {
    border-top: 0;
    background-color: transparent;
    table {
      table-layout: fixed;
      border-top: 1px solid #757575;
    }
    &.type01 {
      th, td {
        padding: 18px 8px;
      }
      &.style01 {
        margin-bottom: 0;
        th, td {
          padding: 14px 5px;
        }
      }
    }
    th, td {
      word-wrap:break-word;
    }
    .answer {
      position: relative;
      &::before {
        @include virtual-selector;
        position: absolute;
        top: 50%;left: 50%;
        width: 60px;
        height: 58px;
        background: url(../../images/common/ico_answer02.png) no-repeat;
        z-index: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
  .time-box {
    width: 221px;height: 91px;
    padding-top: 36px;
    text-align: center;
    font-weight: bold;
    background: url(../../images/sub/time_bg.png) no-repeat;
    p {
      color: #108eff;
      font-size: 26px;
    }
    em {
      @include font(19px, 600);
    }
  }
  .title {
    p {
      margin-top: 40px;
      @include font(22px, 500);
      text-indent: -25px;
    }
    em {
      margin-left: 30px;
      color: #9e9e9e;
      @include font(18px, 400);
    }
  }
  .sub-title {
    margin: 90px 0 30px;
    @include font(22px, 500);
  }
  .mt100 {
    margin-top: 100px;
  }
  .box {
    position: relative;
    &.h480 {
      height: 480px;
      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: auto;
      }
    }
    .text-box {
      position: absolute;
      top: 15px;left: 10px;
      text-align: center;
      font-weight: 600;
      em {
        color: #108eff;
        @include font(18px, 600)
      }
    }
  }
  .tbl-report.type02 {
    display: flex;
    border-top: 1px solid #757575;
    .col-wrap {
      display: flex;
      width: 100%;
    }
    .col {
      flex-direction: column;
      .th, .td {
        @include content-center-center;
        padding: 14px 5px;
        word-break: break-all;
      }
      .th {
        border-bottom: 1px solid #e8e8e8;
      }
      .td {
        height: 100%;
        min-height: 264px;
      }
    }
    .num {
      flex: none;
      width: 9%;
      .th, .td {
        font-weight: 500;
      }
    }
    .que {
      width: 50%;
      .th, .td {
        border-left: 1px solid #e8e8e8;
      }
    }
    img {
      max-width: 100%;
    }
    & + .tbl-report {
      border-top: 0;
      .th {
        display: none;
      }
    }
  }
}

.stu-report {
  .btn-name {
    display: inline-flex;
    position: relative;
    top: -3px;
  }
  .table-wrap {
    tr {
      &.active {
        td, button {
          color: #108eff;
          font-weight: 600;
        }
      }
    }
    &.type01 {
      td {
        &.a-left {
          padding: 14px 20px;
          font-weight: 400;
          border-left: 1px solid #e8e8e8;
        }
      }
    }
  }
  .student-cnt {
    .title-wrap {
      margin-bottom: 20px;
      @include layout-justify-center;
    }
    .student-name {
      color: #108eff;
      @include font(24px, 600);
    }
    .keyword-wrap {
      em {
        @include font(17px, 500);
      }
      .keyword {
        margin-left: 6px;
        padding: 2px 11px 3px;
        font-size: 15px;
        border: 1px solid #333333;
        border-radius: 14px;
      }
    }
  }
  .stu-tbl-report {
    display: flex;
    .thead, .tbody {
      flex-direction: column;
      span {
        width: 100%;
        height: 50px;
        padding: 14px 10px;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;
        &.active {
          color: #108eff;
          font-weight: 600;
          button {
            color: #108eff;
            font-weight: 600;
          }
        }
      }
    }
    .thead {
      width: 60px;
      flex: none;
      border: 0;
      & > span {
        border-left: 0;
        border-right: 1px solid #e8e8e8;
      }
    }
    .tbody {
      display: flex;
      width: 100%;
      span {
        &:nth-child(1) {
          font-weight: 500;
        }
      }
    }
  }
}
// 공지사항
.notice-cnt {
  .notice-list, .notice-view {
    .title {
      font-size: 26px;
    }
  }
}
.notice-list {
  .table-top {
    margin: 30px 0 20px;
    align-items: flex-end;
  }
  .total {
    em {
      font-weight: 600;
    }
  }
  .table-list {
    table {
      table-layout: fixed;
      border-top: 1px solid #757575;
    }
    th, td {
      &:last-child {
        border-right: 0;
      }
    }
  }
}
.notice-view {
  .table-wrap {
    margin-top: 30px;
    thead {
      th {
        padding: 26px 20px;
      }
    }
    th {      
      &:last-child {
        border-right: 0;
      }
    }
    .cnt {
      padding: 30px 20px;
      .scroll-inner {
        @include layout-center;        
        height: 400px;
        padding-right: 5px;
        text-align: left;        
      }
    }
    .file {
      th, td {
        padding: 19px 20px;
      }
      th {
        border-right: 0;
      }
      td {
        text-align: left;
        border-left: 0;
        img {
          position: relative;
          top: -2px;
          margin-right: 5px;
        }
      }
    }
  }
  .title-wrap {
    @include layout-justify-center;
    .title {
      @include font(20px, 500);
    }
    .date {
      @include font(16px, 400);
    }
  }
  .btn-wrap {
    display: block;
    text-align: center;
    margin-top: 35px;
    .btn-defalut {
      width: 134px;height: 48px;
      margin: auto;
    }
  }
}


@media screen and (max-width: 1023px) {

  .container.report.fix-h {
    .inner {
      padding-top: 70px;
    }
  }

  // 리포트 리스트
  .report-list-wrap {
    .tbl-report {
      &.type02 {
        .thead, .tbody {
          span {
            &:nth-child(5) {
              width: 13%;
            }
            &:nth-child(6) {
              width: 20%;
            }
            &:nth-child(7) {
              width: 11%;
            }
          }
        }
        .tbody {
          span {
            &:nth-child(3) {
              order: 6;
            }
            &:nth-child(4) {
              order: 7;
            }
            &:nth-child(7) {
              order: 5;
            }
          }
        }
      }
    }
  }
  .report-list-top {
    padding-top: 20px;
    flex-direction: column;
  }
  .report-list-search {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
  }
  .report-tbl-sort {
    width: 14px;height: 14px;
    background-size: contain;
  }
  .table-wrap {
    .tbl-report {
      .thead {
        & > span {
          padding: 21px 0;
        }
      }
      .col {
        &.none-data {
          span {
            width: 100% !important;
          }
        }
        & > span {
          padding: 10px 0;
        }
        .badge-color {
          margin-right: 10px;
        }
        .font-b {
          font-size: 12px;
        }
      }
      .thead, .tbody {
        span {
          box-sizing: border-box;
          &:nth-child(1) {
            width: 30%;
          }
          &:nth-child(2) {
            width: 26%;
          }
          &:nth-child(3) {
            width: 30%;
          }
          &:nth-child(4) {
            width: 70%;
          }
          &:nth-child(6) {
            width: 19%;
          }
        }
      }
      .view-link {
        width: 24px;height: 24px;
        img {
          width: 100%;
        }
      }
    }
  }
  .tbl-report {
    .scroll-inner {
      overflow: overlay;
      height: 770px;
      &::-webkit-scrollbar-thumb {
        border: 0;
        background-color: #bebebe;
      }
      &::-webkit-scrollbar {
        width: 5px;
        border: 0;
      }
    }
  }  
  .report-tool-tip {
    top: inherit;
    bottom: -70px;
    left: 0;
  }

  // 리포트 상세
  .report-view-wrap {
    margin-bottom: 30px;
    .report-top {
      margin: 0;
    }
    .report-cnt {
      .title {
        margin-bottom: 20px;
        font-size: 18px;
        &::before {
          top: 5px;
        }
        &.type02 {
          margin: 20px 0;
          padding-left: 38px;
          font-size: 16px;
          &::before {
            top: -6px;
            width: 27px;
            background-size: contain;
          }
        }
      }
      .justify-box {
        flex-direction: column;
        &.sec02 {
          margin: 30px 0 20px;
          align-items: flex-start;
          .report-title {
            font-size: 16px;
            em {
              display: block;
              margin-left: 0;
              margin-top: 5px;
              font-size: 14px;
            }
          }
        }
        &.m-box {
          padding: 20px 10px;
          border: 1px solid #e8e8e8;
          border-radius: 10px;
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.09);
        }
        .box-wrap {
          .box {
            height: 249px;
          }
          &.w28 {
            width: 100%;       
          }
          &.w34 {
            width: 100%;
          }
          .chart-wrap {
            &.w258 {
              width: 200px;height: 200px;
            }
            &.w330 {
              width: 240px;height: 240px;
            }
            &.w350 {
              width: 260px;height: 260px;
            }
            
          }
          & + .box-wrap {
            margin-top: 30px;
          }
        }
      }
      .col-box {
        width: 100%;
        gap: 10px;
        .box {
          height: 140px;
        }
        &.h183 {
          .box {
            height: 140px;
          }
        }
      }
      .box {
        &.w75 {
          width: 100%;
          height: auto;
          border: 0;
          box-shadow: none;
          border-radius: 0;
          .scroll-inner {
            padding: 0;
          }
          &.h386 {
            height: auto;
          }
        }
        &.w49 {
          width: 100%;
          height: auto;
          box-shadow: none;
          border-radius: 0;
          border: 0;          
          .scroll-inner {
            overflow: hidden;
            padding: 0;
            height: auto;
          }
          & + .box {
            margin-top: 20px;
          }
        }
        &.stu-report {
          flex-direction: column;
          .scroll-inner {
            padding: 0;
            height: auto;
            padding-bottom: 10px;
            &:nth-child(1) {
              width: 100%;
              border-right: 0;
            }
            &:nth-child(2) {
              width: 100%;
            }
          }
          .student-cnt {
            .scroll-inner {
              overflow: auto;
              width: 100%;
              height: auto;
              padding: 0;
            }
          }
        }
      }
      .chart-wrap {
        &.type02 {
          width: 150px;height: 150px;
        }
      }
      &.type02 {
        .title {
          margin-bottom: 20px;
        }
        .report-title {
          margin: 30px 0 20px;
          font-size: 16px;
        }
        .box {
          &.h411 {
            height: 350px;
            .scroll-inner {
              padding: 10px 10px 20px 10px;
            }
          }
          & > .tit {
            margin-bottom: 20px;
            font-size: 15px;
          }
        }
        .justify-box {
          &.col-type {
            .box {
              padding: 10px;
              & + .box {
                margin-top: 10px;
              }
            }
          }
        }
        .col-type {
          box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.09);
          border: 1px solid #e8e8e8;
          border-radius: 17px;
          .scroll-inner {
            height: 500px;
          }
          .box {
            box-shadow: none;
            border: 0;
            border-radius: 0;
          }
        }
        .unit-title {
          margin-bottom: 10px;
        }
        .unit {
          .tit {
            margin: 0 10px;
            font-size: 13px;
          }
          .txt {
            font-size: 13px;
          }
        }
      }
    }
    .table-wrap {
      &.type01 {
        th {
          padding: 9px 5px;
        }
        .hide-mo {
          display: none;
        }
        &.style01 {
          margin-bottom: 10px;
          th, td {
            padding: 14px 2px;
            
          }
        }
      }
      &.type05 {
        overflow: hidden;
        .scroll-inner {
          padding-bottom: 10px;
        }
        table {
          width: 1150px;
          font-size: 14px;
          th {
            font-size: 14px;
          }
          td {
            width: 45px;
            &:nth-child(1) {
              img {
                width: 20px;
              }
            }
          }
        }
      }
      table {
        td {
          &.a-left {
            padding-left: 10px !important;
          }
        }
        
      }
    }
    .que-tit {
      font-size: 15px;
    }
    .que-img {
      text-align: center;
    }
    .choice-list {
      ol {
        font-size: 15px;
      }
    }
    .box-title {
      margin-bottom: 20px;
      font-size: 16px;
    }
  }

  // 학생 진단평가 리포트
  .stu-view {
    .w990 {
      table {
        width: 990px;
      }
    }
    .w340 {
      table {
        width: 340px;
      }
    }
    .box {
      &.w650 {
        .table-wrap {
          margin-bottom: 0;
        }
      }
      &.h480 {
        height: 240px;
      }
    }
    
    .mt100 {
      margin-top: 25px;
    }
    .title {
      p {
        margin-top: 10px;
        font-size: 16px;
        text-indent: -25px;
      }
      em {
        display: block;
        margin-left: 0;
        margin-top: 5px;
        font-size: 14px;
      }
    }
    .table-wrap {
      &.type01 {
        th, td {
          padding: 16px 5px;
        }
      }
      .answer {
        &::before {
          width: 45px;
          height: 43px;
          background-size: contain;
        }
      }
    }
    .report-cnt {
      .box {
        &.bd-n {
          box-shadow: none;
          border-radius: 0;
          border: 0;
          .scroll-inner {
            padding: 0 0 15px 0;
          }
        }
        &.w26 {
          width: 100%;
          height: 169px;
          & + .box {
            margin-top: 10px;
          }
        }
        &.w46 {
          width: 100%;
          height: auto;
          margin-bottom: 10px;
        }
        &.w650 {
          .scroll-inner {
            padding: 10px ;
            max-height: 339px;
          }
        }
      }
    }
    .sub-title {
      margin: 30px 0 20px;
      font-size: 16px;
    }
    .tbl-report.type02 {
      .col-wrap {
        flex-direction: column;
      }
      .num {
        width: 60px;
      }
      .que {
        width: 100%;
      }
      & + .tbl-report {
        margin-top: 20px;
        border-top: 1px solid #757575;
        .th {
          display: inline-flex;
        }
      }
      .col {
        .td {
          min-height: auto;
        }
      }
    }
  }
  .report-pop {
    .inner {
      padding-top: 116px;
    }
    .pop-header {
      position: fixed;
      left: 0;right: 0;
      z-index: 2;
    }
  }
  .stu-report {
    padding: 10px;
    .stu-tbl-report {
      flex-direction: column;
      .thead, .tbody {
        flex-direction: row;
        width: 100%;
        span {
          @include content-center-center;
          flex: 1;
          padding: 5px;
          font-size: 13px;
          &:last-child {
            border-right: 0;
          }
        }
      }
      .tbody {
        span {
          border-right: 1px solid #e8e8e8;
        }
      }
    }
    .table-wrap {
      min-width: 800px;
      &.style01 {
        min-width: 500px;
        height: 586px;
      }
    }
    .student-cnt {
      .title-wrap {
        margin: 25px 0 15px;
        flex-direction: column;
      }
      .student-name {
        margin-bottom: 10px;
        font-size: 17px;
      }
      .keyword-wrap {
        em {
          font-size: 15px;
        }
        .keyword {
          font-size: 14px;
        }
      }
    }
  }

  // 공지사항
  .notice-cnt {    
    .notice-list, .notice-view {
      padding: 20px 0;
      .title {
        font-size: 18px;
      }
      .paging-wrap {
        margin-top: 15px;
      }
    }
  }
  .notice-list {
    .table-top {
      flex-direction: column-reverse;
      align-items: flex-start;
      margin: 20px 0 10px;
    }
    .right-wrap {
      width: 100%;
      margin-bottom: 30px;
    }
    .total {
      font-size: 15px;
    }
    .table-list {
      overflow: overlay;
      height: 450px;
      padding-right: 10px;
      table {
        th, td {
          height: 50px;
          &:nth-child(1) {
            width: 14%;
          }
          &:last-child {
            width: 27%;
          }
        }
        th {
          font-size: 14px;
        }
        td {
          padding: 0 5px;
          font-size: 13px;
        }
      }
    }
    
  }
  .notice-view {
    .table-wrap {
      margin-top: 20px;
      thead {
        th {
          padding: 16px 10px;
        }
      }
      .cnt {
        padding: 16px 10px;
        .scroll-inner {
          height: 180px;
          padding-right: 0;
        }
      }
      .file {
        th, td {
          padding: 16px 10px;
        }
        th {
          width: 22%;
        }
      }
    }
    .title-wrap {
      flex-direction: column;
      align-items: flex-start;
      .title {
        font-size: 16px;
      }
      .date {
        margin-top: 4px;
        font-size: 13px;
      }
    }
    .btn-wrap {
      margin-top: 20px;
      .btn-defalut {
        width: 100%;
        height: 40px;
      }
    }
  }
}

