@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";



// 리포트 리스트
.report-list-wrap {
  margin: 50px 0 100px;
  .table-wrap {
    margin-top: 20px;
  }
  .tbl-report {
    .col {
      &.none-data {
        span {
          width: 100%;
          height: 520px;
        }
      }
      span {
        @include content-center-center;
        padding: 15px 10px;
        &.tit {
          justify-content: flex-start;
          padding: 15px 20px;
        }
        &.column {
          flex-direction: column;
        }
        .font-b {
          color: #108eff;
          font-size: 14px;
        }
      }
      .badge-color {
        margin-right: 15px;
      }
    }
  }
}
.report-list-top {
  position: relative;
  @include layout-justify-center;
}
.report-list-search {
  display: flex;
  gap: 10px;
}
.report-tbl-sort {
  position: relative;
  top: 3px;
  width: 18px;
  height: 18px;
  margin-left: 3px;
  background: url(../../images/common/ico_sort.png) no-repeat;
}
.report-tool-tip {
  display: none;
  position: absolute;
  right: 0;
  top: 56px;
  padding: 8px 37px;
  text-align: center;
  border: 1px solid #000;
  background-color: #fff;
  z-index: 1;
  .tool-tip-txt {
    font-size: 14px;
  }
}
.report-btn {
  &:hover {
    & + .report-tool-tip {
      display: block;
    }
  }
}

@media screen and (max-width: 1023px) {
  // 리포트
  .container.report {
    .inner {
      padding: 0 20px;
    }
  }

  // 리포트 리스트
  .report-list-top {
    padding-top: 20px;
    flex-direction: column;
  }
  .report-list-search {
    width: 100%;
    margin-top: 10px;
    flex-direction: column;
  }
  .report-tbl-sort {
    width: 14px;height: 14px;
    background-size: contain;
  }
  .table-wrap {
    .tbl-report {
      .thead {
        & > span {
          padding: 21px 0;
        }
      }
      .col {
        &.none-data {
          span {
            width: 100% !important;
          }
        }
        & > span {
          padding: 10px 0;
        }
        .badge-color {
          margin-right: 10px;
        }
        .font-b {
          font-size: 12px;
        }
      }
      .thead, .tbody {
        span {
          box-sizing: border-box;
          &:nth-child(1) {
            width: 30%;
          }
          &:nth-child(2) {
            width: 26%;
          }
          &:nth-child(3) {
            width: 30%;
          }
          &:nth-child(4) {
            width: 70%;
          }
          &:nth-child(6) {
            width: 19%;
          }
        }
      }
      .view-link {
        width: 24px;height: 24px;
        img {
          width: 100%;
        }
      }
    }
  }
  .tbl-report {
    .scroll-inner {
      overflow: overlay;
      height: 770px;
      &::-webkit-scrollbar-thumb {
        border: 0;
        background-color: #bebebe;
      }
      &::-webkit-scrollbar {
        width: 5px;
        border: 0;
      }
    }
  }  
  .report-tool-tip {
    top: inherit;
    bottom: -70px;
    left: 0;
  }
}