@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

[class^='web-'] {
  display: block !important;
}
[class^='web-flex-'] {
  display: flex !important;
}
[class^='mo-'] {
  display: none !important;
}
[class^='mo-flex-'] {
  display: none !important;
}

//guide
.guide {
	background-color: #fafafa;
	padding: 30px 50px;
	> h1 {
		margin: 30px 0px 15px;
    font-size: 22px;
	}
	> h2 {
		margin: 40px 0px 10px;
    font-size: 18px;
	}
	> button, > input, > div {
		margin-bottom: 5px;
	}
	> .pop-wrap {
		display: block;
    position: relative !important;
    top: inherit;
    left: inherit;
    transform: none;
	}
}

// common
.inner {
  width: 1240px;
  margin: auto;
}
.h100 {
	position: relative;
	height: 100vh;
}
.scroll-inner {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {  
    border-bottom: 0 ;
    border-top: 0;
    background-color: #bbbbbb;  
		border-radius: 2.5px;  
  } 
  &::-webkit-scrollbar-button:start:decrement, &::-webkit-scrollbar-button:end:increment{
    display:block;
    height:1px;
  }
}
.dim {
  display: none;
  position: fixed;
  top: 0;left: 0;
  width: 100%;height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
}
.bold {
	font-weight: 700;
	& > * {
		font-weight: 700;
	}
}
.web-cnt {
	.inner {
		width: 100%;
    max-width: 1280px;
    padding: 0 20px;
	}
}

// header
.header {
  position: relative;
	background-color: #fff;
	z-index: 4;
  .inner {
    @include layout-justify-center;
  }
  .logo {
    display: block;
    width: 161px;
    height: 31px;
    background: url(../../images/common/logo.png) no-repeat;
  }
  .nav, .left-wrap {
    @include layout-center;
  }
  .nav {
    margin-left: 50px;
  }
  .nav-list {
    position: relative;
  }
  .nav-item {
    display: block;
    padding: 24px 30px 25px;
    @include font(18px, 500);
    &:hover, &.active {
      color: $color-main-blue
    }
  }
	// front web gnb
	.web-cnt {
		border-bottom: 1px solid #ddd;
		.top-nav {
			width: 100%;
			border-top: 1px solid #e4e4e4;
			border-bottom: 1px solid #e4e4e4;
			.inner {
				justify-content: flex-start;
			}
			.link-nav {
				padding: 12px 15px 10px;
				border-left: 1px solid #e4e4e4;
				@include font(13px, 500);
				color: #727272;
				&.active {
					position: relative;
					color: #289bff;
					&::after {
						position: absolute;
						@include virtual-selector;
						width: 100%;
						height: 1px;
						background-color: #fff;
						bottom: -1px;
						left: 0;
					}
				}
			}
			.btn-bookmark {
				padding: 10px 15px;
				border-left: 1px solid #e4e4e4;
				@include font(13px, 500);
				color: #727272;
				letter-spacing: -1px;
				.ic-star {
					display: inline-block;
					width: 11px; height: 9px;
					margin: 2px 0 0 6px;
					background: url(../../images/common/ico_star_off.png) center no-repeat;
				}
				&.active {
					.ic-star {
						background: url(../../images/common/ico_star_on.png) center no-repeat;
					}
				}
			}
		}
		.nav-item {
			position: relative;
			&:hover, &.active {
				&::before {
					@include virtual-selector;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					background-color: $color-main-blue;
					top: 20px;
					right: 20px;
				}
			}
		}
	}
	.btn-login {
		@include content-center-center;
		width: 95px;
		height: 36px;
		border-radius: 18px;
		background-image: linear-gradient(to right, #1f8bff , #8257ff);
		@include font(15px, 500);
		color: #fff;
	}
	.btn-join {
		@include content-center-center;
		width: 95px;
		height: 36px;
		border-radius: 18px;
		border: 2px solid $color-main-blue;
		@include font(15px, 500);
		color: $color-main-blue;
	}
	.user-wrap {
		@include layout-center;
		flex-direction: row;
		gap: 20px;
		.user {
			color: #333;
			font-weight: 500;
		}
	}
}

// footer
.footer {
	.inner {
		width: 100%;
    max-width: 1280px;
    padding: 0 20px;
	}
	.ft-top {
		position: relative;
		width: 100%;
		background-color: #f5f5f5;
		padding: 15px 0 0;
		.inner {
			position: relative;
		}
	}
	.left-area, .right-area, .guide-link, .sns-link, .link-list {
		@include layout-center;
		flex-direction: row;
	}
	.left-area {
		@include font(18px, 700);
		color: #000;
		
		span {
			@include font(14px, 400);
			margin-left: 10px;
		}
	}
	.right-area-wrap {
		position: relative;
		margin-top: 18px;
		background-color: #fcfcfc;
		
	}
	.right-area {
		position: absolute;
		right: 20px;top: -40px;
	}
	.guide-link {
		gap: 30px;
		span {
			position: relative;
			&::before {
				@include virtual-selector;
				position: absolute;
				top: 6px;
				left: -13px;
				width: 1px;
				height: 12px;
				background-color: #cacaca;
			}
			&.first {
				&::before { display: none; }
			}
		}
		a {
			@include font(14px, 500);
			color: #666;
		}
		em {
			font-weight: 700;
		}
		> div {
			@include layout-center;
			flex-direction: row;
			gap: 30px;
		}
	}
	.sns-link {
		margin-left: 30px;
		gap: 8px;
	}
	.ft-cnt {
		background-color: #fcfcfc;
	}
	.top-area {
		padding: 12px 0;
		.inner {
			@include layout-justify-center;
			padding: 0;
		}
	}
	.bottom-area {
		padding: 40px 0;
		border-top: 1px solid #e0e0e0;
		background-color: #fcfcfc;
		ul {
			display: flex;
			li {
				@include layout-justify-start;
				position: relative;
				padding: 0 2.5vw 20px;
				border-left: 1px solid #e0e0e0;
				img {
					object-fit: contain;
				}
				&:nth-child(1) {
					border-left: 0;
					padding-left: 0;
				}
			}
			p {
				@include font(12px, 500);
				color: #8a909e;
				margin-left: 1.7vw;
			}
		}
		.copy {
			width: 100%;
			position: absolute;
			bottom: 10px;
			left: 0;
			@include font(11px, 500);
			color: #666;
		}
	}
	.select-wrap {
		.select-btn {
			width: 200px;
			height: 40px;
			padding-left: 12px;
			color: #666;
			font-size: 14px;
			border: 1px solid #e0e0e0;
			border-radius: 6px;
			&::after {
				right: 10px;
				width: 10px;
				height: 6px;
				margin-top: -3px;
				background: url(../../images/common/select_arrow_type02.png) no-repeat;  
			}
		}
		.select-list {
			border: 1px solid #e0e0e0;
			border-bottom-left-radius: 6px;
			border-bottom-right-radius: 6px;
			z-index: 1;
			a {
				padding: 0px 12px 10px;
				color: #666;
				font-size: 14px;
			}
			li {
				&:nth-child(1) {
					a {
						padding-top: 12px;
					}
				}
			}
			em {
				color: #418ac9;
				font-weight: 700;
			}
		}
	}
}

// button
[class^='btn-'] , [class^='a.btn-'] {
	@include layout-center-center;
	box-sizing: border-box;
	cursor: pointer;
}
.btn-defalut {
	width: 174px;
	height: 55px;
	color: #fff;
	@include font(18px, 500);
	background-color: $color-main-blue;
	border-radius: 8px;
	&.w154 {
		width: 154px;
		height: 40px;
		font-size: 16px;
	}
	&.w280 {
		width: 280px;
		border-radius: 13px;
	}
	&.size-s {
		width: 85px;
		height: 30px;
		@include font(14px, 400);
	}
}
.btn-defalut-line {
	width: 174px;
	height: 55px;
	color: $color-main-blue;
	@include font(18px, 500);
	background-color: #fff;
	border: 1px solid $color-main-blue;
	border-radius: 8px;
	&.size-s {
		width: 85px;
		height: 30px;
		@include font(14px, 400);
	}
}
.btn-type02 {
	width: 255px;
	height: 55px;
	border-radius: 13px;
	color: #fff;
	background-color: $color-main-pink;
	@include font(18px, 500);
	&.size-sm {
		width: 99px;
		height: 35px;
		@include font(15px, 500);
	}
}
.btn-state {
	width: 99px;
	height: 35px;
	@include font(15px, 500);
	border-radius: 13px;
	background-color: #fff;
	&.type01 {
		background-color: $color-main-pink;
		color: #fff;
	}
	&.type02 {
		border: 1px solid $color-main-pink;
		color: $color-main-pink;
		background-color: #fff;
	}
	&.type03 {
		@include content-center;
		flex-direction: column;
		line-height: 1;
		border: 1px solid #a5a5a5;
		color: #a5a5a5;
		background-color: #fff;
		span {
			font-size: 13px;
		}
	}
}
.btn-type03 {
	height: 40px;
	padding: 0 15px;
	color: #fff;
	@include font(15px, 500);
	background-color: #333;
	border-radius: 9px;
	i { margin-right: 10px; }
}
.btn-icon {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	&:hover {
		border: 1px solid $color-main-blue;
		background-color: $color-main-blue;
		i {
			&.prview { background-image: url(../../images/common/ico_preview_hover.png); }
			&.edit { background-image: url(../../images/common/ico_edit_hover.png); }
			&.share { background-image: url(../../images/common/ico_share_hover.png); }
		}
	}
}
.btn-number {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #ececec;
	color: #787878;
	@include font(18px, 500);
	&.active {
		background-color: $color-main-blue;
		color: #fff;
	}
}
.btn-line {
	min-width: 36px;
	height: 36px;
	border-radius: 8px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	@include font(14px, 500);
	color: #909090;
	&.active {
		border: 1px solid $color-main-blue;
		color: $color-main-blue;
	}
}
.btn-wrap {
	@include content-center-center;
	gap: 10px;
	&.full {
		button, a {
			flex: 1;
		}
	}
}
.btn-comment {
	.arrow {
		display: inline-block;
		margin-left: 2px;
		font-size: 10px;
	}
}

// icon
i {
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	&.report {
		width: 20px; height: 20px;
		background-image: url(../../images/common/ico_report_type02.png);
	}
	&.prview {
		width: 17px; height: 17px;
		background-image: url(../../images/common/ico_preview.png);
	}
	&.edit {
		width: 18px; height: 18px;
		background-image: url(../../images/common/ico_edit.png);
	}
	&.share {
		width: 16px; height: 16px;
		background-image: url(../../images/common/ico_share.png);
	}
}

// toggle
.toggle-btn {
  position: relative;
  overflow: hidden;
  width: 48px;
	height: 26px;
  border-radius: 13px;
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
		margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:checked + .knobs::before {
      left: 26px;
      background-color: #fff;
    }
		&:checked + .knobs + .layer {
			background-color: $color-main-blue;
			border: 1px solid $color-main-blue;
		}
  }
  .knobs, .knobs::before, .layer {
    transition: 0.3s ease all;	
  }
  .knobs {
    z-index: 2;
    &::before {
      @include virtual-selector;
      position: absolute;
      top: 4px;
			left: 4px;
      width: 18px;
			height: 18px;
			background-color: #c2c2c2;
      border-radius: 100%;
      transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
  }
  .knobs, .layer {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
  }
  .layer {
    width: 100%;
		background-color: #fff;
    z-index: 1;
		border-radius: 12px;
		border: 1px solid #c2c2c2;
  }
}

// form
input[type="text"], input[type="number"] {
  width: 300px;
  height: 40px;
  padding: 0 18px;
  border: 1px solid #b2b2b2;
	border-radius: 9px;
  box-sizing: border-box;
	font-size: 15px;
	outline-color: $color-main-blue;
	outline-width: thin;
  &::placeholder {
    color: #9e9e9e;
  }

	&.ip-type02 {
		width: 100%;
		height: 36px;
		border: 1px solid #d1d1d1; 
		background-color: #fafafa;
		padding: 0 10px;
		border-radius: 5px;
		&::placeholder {
			color: #a4a4a4;
		}
	}

}
.input-wrap {
	@include layout-center;
	gap: 10px;
}
.search-box {
	position: relative;
	width: 300px;
	input[type="text"] {
		width: 100%;
		padding: 0 38px 0 18px;
	}
	.btn-search {
		position: absolute;
    top: 50%;
		transform: translateY(-50%);
    right: 12px;
    width: 17px;
    height: 16px;
    background: url(../../images/common/ico_search.png) center no-repeat;
    background-size: contain;
	}
}
input[type="radio"], input[type="checkbox"] {
  @include inputnone;
  & + label {
    position: relative;
    &::before {
      @include virtual-selector;
      position: absolute;
      top: 50%;left: 0;
    }
  }
}
input[type="checkbox"] {
  & + label {
    padding-left: 28px;
    &::before {      
      width: 18px;
			height: 18px;
      margin-top: -8px;
      background: url(../../images/common/input_check_type02.png) no-repeat;
      background-size: contain;
    }
  }
  &:checked + label {
    &::before {
      background: url(../../images/common/input_check_on_type02.png) no-repeat;
      background-size: contain;
    }
  }
}


//paging
.paging-wrap {
  @include layout-center-center;
  .page {
    @include content-center-center;
    width: 30px;
		height: 30px;
    margin: 0 5px;
    font-weight: 500;
    &.active {
      color: $color-main-blue;
      border: 1px solid $color-main-blue;
		}
  }
  .prev, .next {
    width: 25px;
		height: 25px;
    margin: 0 10px;
    background: url(../../images/common/ico_page_arr.png) no-repeat;
  }
  .next, .last {
    transform: rotate(-180deg);
  }
  .first, .last {
    width: 25px;
		height: 25px;
    background: url(../../images/common/ico_page_arr_first.png) no-repeat;
  }
}

// select
.select-wrap {
	position: relative;
	display: inline-block;
	.select-btn {
		position: relative;
		@include layout-center;
		min-width: 100px;
		height: 40px;
		margin-bottom: 0;
		padding: 0 48px 0 18px;
		@include font(15px, 500);
		border: 1px solid #b2b2b2;
		box-sizing: border-box;
		background-color: #fff;
		border-radius: 9px;
		z-index: 1;
		span {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		&::after {
			position: absolute;
			right: 18px;
			top: 50%;
			@include virtual-selector;
			width: 13px;
			height: 7px;
			margin-top: -3px;
			background: url(../../images/common/select_arrow_type03.png) no-repeat;
			background-size: contain;    
		}
		&.active {
			&::after {
				transform: rotate(-180deg);
			}
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
	}
	.select-list {
		display: none;
		overflow-y: overlay;
		position: absolute;
		top: 100%;
		width: 100%;
		margin-top: -1px;
		background: #fff;
		border: 1px solid #b2b2b2;
		border-top: 1px solid #ededed;
		box-sizing: border-box;
		border-bottom-left-radius: 9px;
		border-bottom-right-radius: 9px;
		z-index: 2;
		a {
			display: block;
			padding: 0px 18px 12px;
			font-size: 14px;
			box-sizing: border-box;
		}
		li {
			&:nth-child(1) {
				a {
					padding-top: 12px;
				}
			}
		}
		em {
			color: #418ac9;
			font-weight: 700;
		}
	}
}


// tab 
.tab-wrap {
	.contents {
		display: none;
		&.on {
			display: block;
		}
	}
	.content {
		display: none;
		&.on {
			display: block;
		}
	}
}
[class^='tab-menu-'] {
	@include content-center;
	li {
		a {
			@include content-center-center;
			@include font(16px, 500);
			box-sizing: border-box;
		}
	}
}
.tab-menu-type01 {
	width: 100%;
	border-radius: 13px;
	overflow: hidden;
	border: 1px solid #d7d7d7;
	li {
		flex: 1;
		a {
			width: 100%;
			height: 48px;
			background-color: #fff;
			border-left: 1px solid #d7d7d7; 
			color: #909090;
		}
		&:nth-child(1) { 
			a {
				border-left: 0;
			}
		}
		&.active {
			a {
				color: #fff;
				border: 1px solid $color-main-blue;
				background-color: $color-main-blue;
			}
		}
	}
}
.tab-menu-wrap {
	@include layout-center-center;
	width: 100%;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	background-color: #f8f8f8;
}
.tab-menu-type02 {
	width: 100%;
	li {
		@include content-center-center;
		flex: 1;
		a {
			width: auto;
			height: 70px;
			@include font(18px, 500);
			color: #969696;
		}
		&.active {
			a {
				color: #000;
				border-bottom: 2px solid #000;
			}
		}
	}
}
.tab-menu-type03 {
	height: 48px;
	border-radius: 24px;
	overflow: hidden;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	padding: 0 5px;
	li {
		a {
			width: 90px;
			height: 36px;
			border-radius: 18px;
			overflow: hidden;
			background-color: #fff;
			font-size: 15px;
			color: #a7a7a7;
		}
		&.active {
			a {
				color: #fff;
				background-color: $color-main-blue;
			}
		}
	}
}

// table 
.table-wrap {
	width: 100%;

	&.type01{
    border-top: 1px solid #757575;
		background-color: #fff;
    tr {
      border-bottom: 1px solid #e8e8e8;
    }
    th {
      border-right: 1px solid #e8e8e8;
      padding: 15px;
      @include font(16px, 500);
      text-align: center;
    }
    td {
      text-align: center;
      border-left: 1px solid #e8e8e8;
      height: 40px;
			padding: 15px;
      .pop-btn {
        margin: 0 auto;
        &:hover {
          color: #108eff;
        }
      }
      &:nth-child(1) {
        border-left: 0;
      }
			&.percent {
        text-align: center;
        @include font(18px, 700);
        color: #108eff;
        background-color: #f8fcff;
      }
      em {
        @include font(16px, 700);
      }
			&.a-left {
				text-align: left;
			}
    }

		// div table
		.thead {
			display: flex;
			text-align: center;
			font-weight: 500;
			border-bottom: 1px solid #e8e8e8;
			> span {
				border-left: 1px solid #e8e8e8;
				padding: 15px;
			}
			> span:nth-child(1) {
				border-left: 0;
			}
		}
		.col {
			display: flex;
			text-align: center;
			border-bottom: 1px solid #e8e8e8;
			> span {
				border-left: 1px solid #e8e8e8;
				padding: 15px;
			}
			> span:nth-child(1) {
				border-left: 0;
			}
		}

		// slash
		.slash {
			padding: 0 5px;
			background: url('../../images/common/ico_tbl_slash.png') center no-repeat;
			background-size: cover;
		}
		.slash { 
			text-align: left; 
		}
		.slash span { 
			display: block;
			text-align: right; 
			margin-bottom: 10px; 
		}

		// font color
		.fc-blue {
      color: #108eff;
    }
  }

	&.type02 {
		border: 1px solid #dcdcdc;
		background-color: #fff;
		th {
			@include font(18px, 700);
			text-align: center;
		}
		tr {
			border-top: 1px solid #dcdcdc;
			&:nth-child(1) {
				border-top: 0;
			}
		}
		th, td {
			padding: 30px 25px;
		}
		td {
			border-left: 1px solid #dcdcdc;
		}
	}

	.tbl-report {
		span:nth-child(1) {
      width: 8%;
    }
    span:nth-child(2) {
      width: 8%;
    }
    span:nth-child(3) {
      width: 12%;
    }
    span:nth-child(4) {
      width: 56%;
    }
    span:nth-child(5) {
      width: 8%;
    }
    span:nth-child(6) {
      width: 8%;
    }
		.tbody {
			.col {
				span:nth-child(4) {
					text-align: left;
				}
			}
		}
	}
}

// accodion
.ui-acc-cnt {
	display: none;
}
.que-class-area {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.que-class-list {
	width: 100%;
	background-color: #fff;
	border: 1px solid #d7d7d7; 
	border-radius: 13px;
	&.active {
		border: 1px solid $color-main-blue; 
		.que-class-btn {
			.acc-arrow {
				background-image: url(../../images/common/ico_acc_arrow_up.png);
			}
		}
		.que-class-tit {
			color: $color-main-blue;
			font-weight: 500;
		}
	}
}
.que-class-btn {
	@include layout-justify-start;
	align-items: center;
	width: 100%;
	height: 60px;
	padding: 0 20px;
	text-align: left;
	.acc-arrow {
		display: inline-block;
		width: 13px;
		height: 7px;
		background-image: url(../../images/common/ico_acc_arrow_down.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
}
.que-class-tit {
	display: inline-block;
	em {
		@include font(18px, 700);
	}
}
.que-class-cnt {
	border-top: 1px solid #d7d7d7;
	padding: 24px 30px;
}
.que-class-item {
	@include layout-justify-center;
	margin-top: 15px;
	&:nth-child(1) {
		margin-top: 0;
	}
}
.class-item-tit, .que-class-tit {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-right: 10px;
}

// badge
[class^='badge-'] {
	@include content-center-center;
	flex-shrink: 0;
}
.badge-defalut {
	height: 25px;
	padding: 0 10px;
	background-color: #333;
	@include font(15px, 500);
	color: #fff;
	border-radius: 8px;
	margin-right: 9px;
}
.badge-type01 {
	height: 28px;
	padding: 0 10px;
	@include font(15px, 500);
	border-radius: 6px;
	margin-right: 9px;
	background-color: #333;
	color: #fff;
	&.blue {
		background-color: #e7f4ff;
		color: $color-main-blue;
	}
	&.pink {
		background-color: #ffeff5;
		color: $color-main-pink;
	}
}
.badge-type02 {
	height: 22px;
	padding: 0 7px;
	@include font(12px, 500);
	border-radius: 6px;
	margin-right: 9px;
	&.blue {
		background-color: #e7f4ff;
		color: $color-main-blue;
	}
	&.green {
		background-color: #edf7e4;
		color: #58b200;
	}
	&.pink {
		background-color: #ffeff5;
		color: $color-main-pink;
	}
	&.purple {
		background-color: #eee8ff;
		color: #8159ff;
	}
}
.badge-type03 {
	width: 65px;
	height: 24px;
	padding: 0 10px;
	@include font(14px, 500);
	border-radius: 12px;
	margin-right: 10px;
	color: #333;
	background-color: #dfdfdf;
	&.blue {
		background-color: $color-main-blue;
		color: #fff;
	}
	&.active {
		background-color: #fff;
		border: 1px solid #dfdfdf;
	}
}

// contents menu
.filter-menu {
	width: 230px;
	box-sizing: border-box;
	border: 1px solid #d7d7d7;
	border-radius: 13px;
	background-color: #fff;
	.menu-tit {
		display: block;
		font-weight: 500;
		padding: 20px 0;
		&:nth-child(1) { padding-top: 0; }
	}
	.menu-box {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.select-wrap {
			.select-btn {
				width: 100%;
			}
		}
		.btn-wrap {
			justify-content: space-between;
			button {
				flex-grow: 1;
			}
			&.col-type {
				flex-direction: column;
				button {
					width: 100%;
				}
			}
		}
	}
	.menu-inner {
		border-top: 1px solid #d7d7d7;
		padding: 30px 20px;
		&:nth-child(1) { border-top: 0; }
	}
	.unit-list {
		display: flex;
		flex-direction: column;
		margin-left: 8px;
		gap: 10px;
		li {
			font-size: 15px;
			&.active {
				font-weight: 500;
				color: $color-main-blue;
			}
		}
	}
}

// popup
.pop-wrap {
  display: none;  
  position: fixed;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  .pop-inner {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
  .pop-header {
		position: relative;
    padding: 25px 20px;
    @include font(19px, 500);
    text-align: left;
		background-color: #e9e9e9;
  }
  .pop-close {
    position: absolute;
    top: 20px;
		right: 20px;
    width: 16px;
		height: 16px;
    background: url(../../images/common/ico_pop_close_type02.png) no-repeat;
  }
  .pop-footer {
    display: flex;
		padding: 0 20px 20px;
		gap: 10px;
    button {
			flex: 1;
      height: 50px;
			font-size: 16px;
    }
  }

	&.que-type {
		.pop-inner {
			width: 595px;
		}
		.pop-header {
			background: #333;
			padding: 10px 20px;
			height: 45px;
			span {
				@include font(18px, 500);
				color: #fff;
			}
		}
		.pop-close {
			top: 15px;
			background: url(../../images/common/ico_pop_close_type03.png) no-repeat;
		}
		.pop-content {
			padding: 20px;
		}
	}
	
	&.alert-type {
		.pop-inner {
			width: 384px;
			border-radius: 19px;
		}
		.pop-header {
			background: #fff;
			padding: 0;
			height: 40px;
		}
		.pop-content {
			@include layout-center-center;
			text-align: center;
			padding: 60px 0 30px 0;
			.txt {
				@include font(18px, 400);
			}
		}
		.pop-footer {
			padding: 0 75px 45px 75px;
		}
	}

	&.full-type {
		overflow: auto;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: none;
		.pop-header {
			height: 45px;
			background-color: #333;
			padding: 10px 20px;
			span {
				@include font(20px, 500);
				color: #fff;
			}
		}
		.pop-close {
			top: 13px;
			width: 20px;
			height: 20px;
			background: url(../../images/common/ico_pop_close_type04.png) no-repeat;
		}
	}
}

@media screen and (max-width: 1023px) {
	[class^='web-'] {
    display: none !important;
  }
  [class^='web-flex-'] {
    display: none !important;
  }
  [class^='mo-'] {
    display: block !important;
  }
  [class^='mo-flex-'] {
    display: flex !important;
  }
	//guide
	.guide {
		padding: 20px 20px;
		> h1 {
			margin: 15px 0;
			font-size: 18px;
		}
		> h2 {
			margin: 10px 0;
			font-size: 16px;
		}
	}

	// header
	.header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 4;
		.mo-cnt {
			width: 100%;
			.inner {
				position: relative;
				width: 100%;
				height: 50px;
				padding: 0 20px;
				box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .1);
				z-index: 2;
			}
			.logo {
				height: 18px;
				background-size: contain;
			}
			.btn-menu {
				width: 18px;
				height: 16px;
				background: url(../../images/common/ico_menu.png) no-repeat;
			}
			.menu {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include font(16px, 500);
			}
			.mobile-menu {
				position: fixed;
				width: 50%;
				height: 100vh;
				top: 50px;
				right: -50%;
				background-color: #fff;
				padding: 25px 20px 0 20px;
				box-sizing: border-box;
			}
			.nav {
				@include layout-justify-end;
				flex-direction: column;
				margin-left: 0;
				gap: 30px;
				margin-bottom: 30vh;
			}
			.nav-item {
				@include font(16px, 500);
				padding: 0;
			}
			.menu-logo {
				text-align: center;
			}
			.btn-wrap {
				display: flex;
				flex-direction: column;
				margin-top: 20px;
				gap: 5px;
				button {
					width: 100%;
					height: 32px;
					border-radius: 16px;
					@include font(14px, 500);
				}
			}
			.link-wrap {
				margin-top: 12px;
				text-align: center;
				.link-item {
					@include font(13px, 400);
					color: #6b6b6b;
					+ .link-item {
						position: relative;
						margin-left: 14px;
						&::before {
							@include virtual-selector;
							width: 1px;
							height: 10px;
							background-color: #6b6b6b;
							top: 5px;
							left: -8px;
						}
					}
				}
			}
		}
	}	

	// container
	.container {
		margin-top: 50px;
	}

	// footer
	.footer {
		.ft-top {
			background-color: #fff;
			padding: 0;
			.inner {
				flex-direction: column;
				padding: 0;
			}
		}
		.left-area {
			width: 100%;
			background-color: #f5f5f5;
			justify-content: center;
			padding: 14px 0;
			font-size: 14px;
			text-align: center;
			span { font-size: 13px; }
		}
		.right-area-wrap {
			margin-top: 0;
			padding-left: 20px;
			.inner {
				display: flex;
				flex-direction: inherit;
				position: initial;
				padding-bottom: 42px;
			}
		}
		.right-area {
			position: initial;
			right: inherit;
			top: inherit;
			align-items: flex-start
		}
		.top-area {
			@include layout-center;
			.inner {
				display: inline-block;
				width: auto;
			}
		}
		.guide-link {
			display: block;
			float: left;
			margin: 15px 0;
			span {
				display: block;
				&::before {
					display: none;
				}
			}
			a { font-size: 13px; }
			> div {
				display: inline-flex;
				align-items: flex-start;
				flex-direction: column;
				gap: 0;
				margin-left: 20px;
			}
		}
		.top-area {
			padding: 0;
			.inner {
				padding: 0;
			}
		}
		.box {
			display: block;
			clear: both;
			width: auto;
		}
		.bottom-area {
			padding: 20px 0 50px 0;
			border-top: 0;
			ul {
				flex-direction: column;
				gap: 15px;
				li {
					flex-direction: column;
					border-left: 0;
					padding: 0;
					gap: 5px;
				}
				p {
					margin-left: 0;
				}
				.copy {
					bottom: -30px;
					text-align: center;
				}
			}
		}
		.select-wrap {
			position: absolute;
			bottom: 0;left: 20px;
			width: 180px;
			.select-btn {
				width: 180px;
			}
		}
		.sns-link {
			position: absolute;
			bottom: 7px;left: 180px;
		}
	}

	// button 
	.btn-defalut {
		width: 100%;
		height: 40px;
		@include font(15px, 500);
		&.w154 {
			font-size: 15px;
		}
		&.size-s {
			width: 85px;
			height: 30px;
			@include font(14px, 400);
		}
	}
	.btn-defalut-line {
		width: 100%;
		height: 40px;
		@include font(15px, 500);
	}
	.btn-type02 {
		width: 100%;
		height: 50px;
		@include font(18px, 700);
		border-radius: 9px;
	}
	.btn-state {
		width: 55px;
		height: 25px;
		font-size: 12px;
		border-radius: 6px;
		&.type03 {
			height: 35px;
			span { font-size: 12px; }
		}
	}
	.btn-type03 {
		width: 100%;
		font-size: 14px;
		i { margin-right: 7px; }
	}
	.btn-icon {
		width: 27px;
		height: 27px;
	}
	.btn-number {
		width: 40px;
		height: 40px;
		font-size: 20px;
	}
	
	// icon 
	i {
		&.report { width: 16px; height: 16px; }
		&.prview { width: 14px; height: 14px; }
		&.edit { width: 14px; height: 14px; }
		&.share { width: 13px; height: 13px; }
	}

	// input
	input[type="text"], input[type="number"] {
		width: 100%;
		font-size: 14px;
		&.ip-type02 {
			height: 38px;
		}
	}
	.search-box {
		width: 100%;
	}

	// paging 
	.paging-wrap {
		.page {
			font-size: 14px;
			margin: 0;
		}
	}

	// select
	.select-wrap {
		width: 100%;
		.select-btn {
			width: 100%;
			font-size: 14px;
		}
		.select-list {
			font-size: 13px;
		}
	}
	.input-wrap {
		flex-direction: column;
	}
	
	// toggle 
	.toggle-btn {
		width: 38px;
		height: 22px;
		border-radius: 11px;
		.checkbox {
			&:checked + .knobs::before {
				left: 20px;
			}
		}
		.knobs {
			z-index: 2;
			&::before {
				width: 14px;
				height: 14px;
			}
		}
	}
	
	// tab
	.tab-menu-type01 {
		border-radius: 10px;
		li {
			a {
				font-size: 14px;
				height: 36px;
			}
		}
	}
	.tab-menu-type03 {
		height: 44px;
		border-radius: 22px;
		padding: 0 5px;
		li {
			a {
				width: 80px;
				height: 32px;
				border-radius: 16px;
				font-size: 14px;
			}
		}
	}

	// table
	.table-wrap {

		&.type01 {
			th {
				font-size: 14px;
				padding: 10px;
			}
			td {
				font-size: 13px;
				padding: 10px;
				em {
					font-size: 13px;
				}
				&.percent {
					font-size: 13px;
				}
			}

			//div table
			.thead {
				font-size: 14px;
			}
			.tbody {
				font-size: 13px;
			}
			.col {
				position: relative;
			}
		}

		&.type02 {
			th {
				@include font(16px, 600);
			}
			th, td {
				padding: 8px;
			}
		}

		.tbl-report {
			.tbody {
				.col {
					flex-wrap: wrap;
				}
				span:nth-child(1) {
					width: 25%;
					order: 1;
				}
				span:nth-child(2) {
					width: 25%;
					order: 2;
				}
				span:nth-child(3) {
					width: 25%;
					order: 5;
					border-left: 0;
					border-top: 1px solid #e8e8e8;
				}
				span:nth-child(4) {
					width: 75%;
					order: 6;
					border-left: 0;
					border-top: 1px solid #e8e8e8;
				}
				span:nth-child(5) {
					width: 25%;
					order: 3;
				}
				span:nth-child(6) {
					width: 25%;
					order: 4;
				}
			}
			.thead {
				span:nth-child(1) {
					width: 25%;
				}
				span:nth-child(2) {
					width: 25%;
				}
				span:nth-child(3) {
					display: none;
				}
				span:nth-child(4) {
					display: none;
				}
				span:nth-child(5) {
					width: 25%;
				}
				span:nth-child(6) {
					width: 25%;
				}
			}
		}
		
	}

	// accodion
	.que-class-tit {
		font-size: 14px;
		em {
			font-size: 15px;
		}
	}
	.que-class-btn {
		.acc-arrow {
			width: 11px;
			height: 6px;
		}
	}
	.class-item-tit {
		margin-right: 0;
	}
	.class-item-txt {
		display: block;
		font-size: 14px;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		margin-top: 5px;
	}
	.que-class-item {
		flex-direction: column;
		align-items: end;
	}
	.que-class-cnt {
		padding: 10px 15px;
		.btn-wrap {
			margin-top: 7px;
		}
	}

	// icon 
	.badge-defalut {
		height: 21px;
		padding: 0 7px;
		@include font(13px, 500);
		border-radius: 6px;
		margin-right: 7px;
	}
	.badge-type01 {
		height: 28px;
		padding: 0 7px;
		@include font(14px, 500);
		border-radius: 6px;
		margin-right: 7px;
	}
	.badge-type02 {
		height: 17px;
		font-size: 10px;
		border-radius: 3px;
		padding: 0 5px;
	}

	// contents menu
	.filter-menu-wrap {
		position: fixed;
		top: 55px;
		z-index: 2;
	}
	.unit-tit-wrap {
		@include layout-justify-center;
		position: fixed;
		top: 50px;
		left: 0;
		width: 100%;
		height: 55px;
		background-color: $color-main-blue;
		z-index: 2;
		padding: 0 20px;
		.tit {
			@include layout-center;
			gap: 10px;
		}
		.txt {
			color: #fff;
			font-size: 17px;
			em {
				display: inline-block;
				font-weight: 700;
				margin-right: 5px;	
			}
		}
		.btn-arrow {
			width: 9px;
			height: 15px;
			background: url(../../images/common/ico_arrow_left_type02.png) no-repeat;
		}
		.ui-menu-btn {
			width: 3px;
			height: 15px;
			background: url(../../images/common/ico_menu_dot.png) no-repeat;
		}
	}
	.filter-menu {
		position: fixed;
		top: 105px;
		right: -80%;
		width: 80%;
		border: 0;
		border-radius: 0;
		.scroll-inner {
			height: calc(100vh - 105px);
		}
	}

	// popup
	.pop-wrap {
		&.alert-type {
			.pop-inner {
				width: 320px;
				border-radius: 16px;
			}
			.pop-content {
				@include layout-center-center;
				text-align: center;
				padding: 60px 0 30px 0;
				.txt {
					@include font(16px, 400);
				}
			}
			.pop-footer {
				padding: 0 75px 36px 75px;
				button { 
					height: 40px;
					font-size: 15px; 
				}
			}
		}
		&.que-type {
			.pop-inner {
				width: 100%;
			}
		}
	}
}