@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
//guide
.guide {
	padding: 0 30px 60px;
	background-color: #fafafa;
	> h1 {
		margin: 60px 0px 15px;
    font-size: 22px;
	}
	> h2 {
		margin: 40px 0px 10px;
    font-size: 18px;
	}
	> button,
	> input {
		margin-bottom: 10px;
	}
	> .btn-wrap {
		margin-bottom: 10px;
	}
	> .pop-wrap {
		display: block;
    position: relative;
    top: inherit;
    left: inherit;
    transform: none;
	}
}

// common
.inner {
  width: 1240px;
  margin: auto;
}

// header
.header {
  position: relative;
  &::after {
    @include virtual-selector;
    width: 100%;height: 50px;
    position: absolute;
    top: 100%;
    background-color: #f9f9f9;
  }
  .inner {
    @include layout-justify-center;
  }
  .logo {
    display: block;
    width: 161px;
    height: 31px;
    background: url(../../images/common/logo.png);
  }
  .nav, .left-wrap {
    @include layout-center;
  }
  .nav {
    margin-left: 50px;
  }
  .nav-list {
    position: relative;
  }
  .nav-item {
    display: block;
    padding: 24px 30px 25px;
    @include font(18px, 500);
    &:hover, &.active {
      color: #108eff;
    }
  }
  .depth2-wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 1;
    &.on {
      display: block;
    }
  }
  .depth2 {
    position: relative;
    @include layout-center;   
  }
  .depth2-list {
    &:nth-child(1) {
      .depth2-item {
        padding-left: 30px;
      }
    }
  }
  .depth2-item {
    display: block;
    padding: 15px 13px 14px;
    color: #9e9e9e;
    font-weight: 500;
    &:hover, &.active {
      color: #333;
    }
  }
}

// button
[class^='btn-'] , [class^='a.btn-'] {
	@include layout-center-center;
	box-sizing: border-box;
}
.btn-lg {
	min-width: 200px;
	height: 40px;
	color: #fff;
	font-size: 15px;
	background-color: #333;
}
.btn-md {
	min-width: 80px;
	height: 34px;
	color: #fff;
	font-size: 14px;
	background-color: #333;
	padding: 0 16px;
}
.btn-sm {
	min-width: 80px;
	height: 30px;
	color: #fff;
	font-size: 15px;
	background-color: #333;
	padding: 0 16px;
}
.btn-xs {
	min-width: 70px;
	height: 25px;
	color: #fff;
	font-size: 15px;
	background-color: #333;
}
.btn-line {
	min-width: 60px;
	height: 30px;
	border: 1px solid $color-line;
	color: #333;
	font-size: 14px;
	padding: 0 18px;
}
.bg-blue {
	background-color: #108eff;
}
.bg-gray {
	background-color: #6a6a6a;
}
.btn-wrap {
	@include layout-center-center;
	gap: 10px;

	&.full {
		button {
			flex: 1;
		}
	}
	&.md-default {
		button {
			width: 113px;
		}
	}
}
.toggle-btn {
  position: relative;
  overflow: hidden;
  width: 44px;
	height: 24px;
  border-radius: 12px;
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
		margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:checked + .knobs::before {
      left: 22px;
      background-color: #108eff;
    }
		&:checked + .knobs + .layer {
			background-color: #fff;
		}
  }
  .knobs, .knobs::before, .layer {
    transition: 0.3s ease all;
  }
  .knobs {
    z-index: 2;
    &::before {
      @include virtual-selector;
      position: absolute;
      top: 3px;
			left: 3px;
      width: 18px;
			height: 18px;
      background-color: #fff;
      border-radius: 100%;
      transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
  }
  .knobs, .layer {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
  }
  .layer {
    width: 100%;
		background-color: #9e9e9e;
    z-index: 1;
		border-radius: 12px;
		border: 1px solid #9e9e9e;
  }
}

//form
input[type="text"], input[type="number"] {
  width: 390px;
  height: 30px;
  padding: 10px 8px;
  border: 1px solid $color-line;
  box-sizing: border-box;
	font-size: 14px;

  &.full {
    width: 100%;
	}
  &::placeholder {
    color: #9e9e9e;
  }

}
input[type="radio"], input[type="checkbox"] {
  @include inputnone;
  & + label {
    position: relative;
    &::before {
      @include virtual-selector;
      position: absolute;
      top: 50%;left: 0;
    }
  }
}

input[type="radio"] {
	& + label {
		padding-left: 20px;
		margin-right: 23px;
		&::before {      
			width: 10px;
			height: 10px;
			margin-top: -4px;
			background: url(../../images/common/input_radio.png) no-repeat;
			background-size: contain;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&:checked + label {
		&::before {
			background: url(../../images/common/input_radio_chk.png) no-repeat;
			background-size: contain;
		}
	}
}

input[type="checkbox"] {
  & + label {
    padding-left: 22px;
    &::before {      
      width: 12px;
			height: 12px;
      margin-top: -5px;
      background: url(../../images/common/input_checkbox.png) no-repeat;
      background-size: contain;
    }
  }
  &:checked + label {
    &::before {
      background: url(../../images/common/input_checkbox_chk.png) no-repeat;
      background-size: contain;
    }
  }
}
.select-btn {
  position: relative;
  @include layout-center;
  width: 100px;
	height: 30px;
  padding: 10px 8px;
  margin-bottom: 0;
  color: #333;
	font-size: 14px;
  border: 1px solid $color-line;
  box-sizing: border-box;
  background-color: #fff;

  &::after {
    position: absolute;
    right: 7px;
    top: 50%;
    @include virtual-selector;
    width: 9px;
		height: 8px;
    margin-top: -4px;
    background: url(../../images/common/select_arrow.png) no-repeat;
    background-size: contain;    
  }
  &.active {
    &::after {
      transform: rotate(-180deg);
    }
  }
}
.select-list {
  display: none;
  overflow-y: overlay;
  position: relative;
  top: -2px;
  width: 100px;
  background: #fff;
  border: 1px solid $color-line;
  box-sizing: border-box;
  z-index: 1;
  a {
    display: block;
    padding: 0px 13px 10px;
    color: #333;
		font-size: 14px;
    box-sizing: border-box;
  }
	li {
		&:nth-child(1) {
			a {
				padding-top: 10px;
			}
		}
	}
}
.date-wrap {
  .date-box {
    position: relative;
    display: inline-block;
    input {
      position: relative;
      width: 200px;
      border: 1px solid $color-line;
      background-color: #fff;
      &:focus {
        border: 1px solid #565656;
        outline: none;
      }
    }
    img {
      position: absolute;
      top: 7px;
			right: 7px;
    }
  }
  span {
    margin: 0 6px 0 5px;
  }
}

//tab
.tab-wrap {
	.contents {
		display: none;
		&.on {
			display: block;
		}
	}
	}
	[class^='tab-menu-'] {
	@include content-center;
	li {
		a {
			@include content-center-center;
			font-size: 16px;
			box-sizing: border-box;
		}
	}
	}
	.tab-menu-type01 {
	li {
		a {
			width: 200px;
			height: 50px;
			background-color: #fff;
			border: 1px solid $color-line;
			border-left: 0;
		}
		&:nth-child(1) { 
			a {
				border-left: 1px solid $color-line; 
			}
		}
		&.active {
			a {
				color: #fff;
				border: 1px solid #333333;
				background-color: #333333;
			}
		}
	}
}

//paging
.paging-wrap {
  @include layout-center-center;
  .page {
    @include content-center-center;
    width: 30px;
		height: 30px;
    margin: 0 5px;
    font-weight: 500;
    &.active {
      color: #108eff;
      border: 1px solid #108eff;
		}
  }
  .prev, .next {
    width: 25px;
		height: 25px;
    margin: 0 10px;
    background: url(../../images/common/ico_page_arr.png) no-repeat;
  }
  .next, .last {
    transform: rotate(-180deg);
  }
  .first, .last {
    width: 25px;
		height: 25px;
    background: url(../../images/common/ico_page_arr_first.png) no-repeat;
  }
}

// popup
.pop-wrap {
  display: block;  
  position: fixed;
  top: 50%;left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  .pop-inner {
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }
  .pop-header {
    padding: 25px 20px;
    @include font(19px, 500);
    text-align: center;
		background-color: #e9e9e9;
  }
  .pop-close {
    position: absolute;
    top: 25px;
		right: 20px;
    width: 18px;
		height: 19px;
    background: url(../../images/common/ico_pop_close.png) no-repeat;
  }
  .pop-footer {
    display: flex;
		padding: 0 20px 20px;
		gap: 10px;
    button {
			flex: 1;
      height: 50px;
			font-size: 15px;
    }
  }

	&.table-type {
		.pop-inner {
			width: 500px;
		}
	}
}